[2016-02-16 08:24] matriawan commented on #257
@bbx10  and @mcollina i've same issue in localhost doesn't work, if install default MQTT package on ubuntu 14.04, solved problem by installing using this method, work like a charm
$sudoapt-add-repository ppa:mosquitto-dev/mosquitto-ppa
$sudo apt-get update
 ps, if doesn't work, make sure the internet connection without any proxy configuration

[2016-02-16 14:12] mcollina commented on #384
Does the same code works outside a browser?

[2016-02-22 15:09] loris commented on #384
Confirm same issue. It looks related to websocket (thus browser only).

[2016-02-22 15:10] mcollina commented on #384
Websockets also work outside of the browser: it is browser specific then?

[2016-02-29 12:38] Pedrozena opened #389 "Microsoft Edge does not receive callbacks while connection succeded"
Apparently, the event "connect" is never fired while using mqtt.js with microsoft Edge (25.10586.0.0).
From my tests, the broker states that the Microsoft Edge client is correctly connected, but this information does not get intercepted by the callback function attached to the event "connect" (as it correctly happen using Firefox or Chrome)

[2016-02-29 12:49] mcollina commented on #389
You are possibly in the best position to fix this, I have access to a win
10 box, but I will have no time for the next 3 weeks :/. Maybe @sandro-k?
Il giorno lun 29 feb 2016 alle 13:38 Pedrozena <notifications@github.com>
ha scritto:

[2016-02-29 12:52] sandro-k commented on #389
I can have a look, but I only have the issue on IE10, Edge works fine.

[2016-02-29 13:00] Pedrozena commented on #389
@sandro-k  I got it working properly in IE11..

[2016-02-29 17:53] mkarliner commented on #384
I  think I've just run into the same issue.

[2016-03-01 16:57] perzy opened #390 "client subscribe document description error."
mqtt version 1.7.3
=============

<a name="subscribe"></a>
### mqtt.Client#subscribe(topic/topic array/topic object, [options], [callback])

Subscribe to a topic or topics

* `topic` is a `String` topic to subscribe to or an `Array` of
  topics to subscribe to. It can also be an object, it has as object
  keys the topic name and as value the QoS, like `{'test1': 0, 'test2': 1}`.
* `options` is the

[2016-03-01 17:01] mcollina commented on #390
Ahum, the doc should be ok: https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L816-L830.

If not, we have a bug.

[2016-03-02 02:23] perzy commented on #390
@mcollina  https://github.com/mqttjs/MQTT.js/blob/master/examples/server/redis.js#L13-L23

[2016-03-02 08:25] mcollina commented on #390
So, that's an example of the server, and we will remove the server API from v2. The API in the README refers to the client, not to the server. You can use [mqtt-server](http://npm.im/mqtt-server), [mosca](http://npm.im/mosca) or [aedes](http://npm.im/aedes) to implement something on top of an MQTT broker.

[2016-03-02 08:25] #390 closed

[2016-03-15 08:37] yugandhar23 opened #391 "Authentication doesn't work in browser"
I am trying to pass username and password in options. Its not working for browser.
Same config is working for node version

[2016-03-15 08:41] mcollina commented on #391
We need more details, and possibly a full example. It was working for me as of yesterday.

[2016-03-15 08:53] yugandhar23 commented on #391
I am using following format.
mqtt.connect({servers : [{ host: host, port: port}],  username : username, password :pass})

Could you please share your example ?

[2016-03-15 09:23] mcollina commented on #391
So, I am not using multiple servers. Can you please try:

1. just use one server, something like `{ host: host, port: port, username:username, password: password }`
2. specify the user-name password combination within each server object so `{ servers: [{ host: host, port: port, username:username, password: password }] }`

[2016-03-15 09:40] yugandhar23 commented on #391
None of them is working :(

[2016-03-15 09:44] sandro-k commented on #391
Is your MQTT-broker at mqtt 3.1.1? I can definitely confirm that username and password authentication **works** with mosquitto.

[2016-03-15 09:53] yugandhar23 commented on #391
it supports all versions between 3.0.0 to 4.0.0

[2016-03-15 09:55] sandro-k commented on #391
Is the authentication working with other clients?

[2016-03-15 09:58] yugandhar23 commented on #391
yeah.. its working for node client.
Could you please explain how authentications works here ?

[2016-03-15 10:01] sandro-k commented on #391
Pleas post the code that creates the client and then connects.

[2016-03-15 10:05] yugandhar23 commented on #391
I am using mqtt.js as it is. After browserify
I am trying to connect using this format:
mqtt.connect({servers : [{ host: host, port: port}], username : username, password :pass})

[2016-03-15 10:13] yugandhar23 commented on #391
for 8883 port, I am getting this error..

[2016-03-15 10:13] yugandhar23 commented on #391
WebSocket connection to 'ws://host:8883/' failed: Connection closed before receiving a handshake response

[2016-03-15 10:20] sandro-k commented on #391
Ok I just tested with my server and this works for me

[code]

Are you connecting via `ws` or `wss`?

[2016-03-15 11:05] yugandhar23 commented on #391
ws

[2016-03-16 13:55] sandro-k commented on #391
@yugandhar23 did you solve it?

[2016-03-24 04:11] ksiegel opened #392 "In browser, mqtts:// gets replaced with ws:// rather than wss://"
When passing in a `mqtts://` URL in the browser, `connect/index.js` realizes that mqtts is unsupported and falls back to the first available protocol: `ws`

I'd like to see some logic that would replace mqtts with wss when mqtts is unavailable.

I can submit a PR but would like some feedback first!

Code in question:
https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/index.js#L105

Somethin

[2016-03-29 06:56] mcollina commented on #392
Yes, please send a PR! However you might want to overhaul that logic completely. The whole protocolList thing was used to to avoid having those kind of ifs, and it fails the purpose. Maybe a simple regexp if we are in a browser?

[2016-03-29 07:41] mcollina commented on #166
@psorowka maybe we should implement this :P. It is causing a lot of issues.. https://github.com/mcollina/mosca/issues/435

[2016-03-29 07:50] mcollina commented on #384
Can you please provide an example that I can run easily (with instructions) to reproduce this?

[2016-03-29 09:06] psorowka commented on #166
phew... let's have a chat about that somewhere.. this sounds like a lot automagic. if we really touch this, I'd have a lot more suggestions, some of which would be...

- add explicit option for auto-reconnect / auto-restore-subscriptions so users know what they do
- add subscriptions not via a `subscribe` function but rather provide some configuration like `ensureSubscriptions` and probably attach

[2016-03-29 09:08] psorowka commented on #166
while reading through that again: all of this should probably not go into mqttjs. but we could create something like a convenience-wrapper-library with all the automagic (`comfort-mqtt.js`) and let the original `mqtt.js` stick more closely to the specs

[2016-03-29 09:33] mcollina commented on #166
Currently MQTT.js has a lot of automagic going on, it automatically reconnects, and it implements the deferred open scenario for publish and subscribe. The problem is that the whole reconnection setup is implemented wrong for subscribes: a reconnection without `clean: false` will loose the subscribes. Given the fact that deferred open is hard and reconnection are hard, I think we should implement

[2016-03-29 09:37] psorowka commented on #166
we are working on similar stuff internally (also e.g. SRV lookups for connecting) and most probably make in OpenSource anyway.. I can well imagine contributing this to mqtt.js. But it will take some more time...

[2016-03-29 09:38] mcollina commented on #166
If you would like to contribute the automatic-resubscription here, we can go ahead and release v2 :)

[2016-03-29 16:53] seriousme commented on #389
I have the same issue, it works fine in Chrome and IE11, but the "connect" event is not picked up  by Edge (version 10586.0.0)
Broker (Mosca ;-)) shows the the client timing out:

[code]

[2016-03-29 16:55] RangerMauve commented on #389
Seems like it'd be an error in [websocket-stream](https://github.com/maxogden/websocket-stream/issues)

[2016-03-29 17:02] mcollina commented on #389
Might be. Can you reproduce just using websocket-stream?

[2016-03-29 17:06] RangerMauve commented on #389
@mcollina We're currently looking into this on my end, will update when we figure out what's wrong. So far it looks like [onReady](https://github.com/maxogden/websocket-stream/blob/master/stream.js#L88) in `websocket-stream` isn't being invoked for some reason.

[2016-03-29 17:40] seriousme commented on #389
Just looked at the [webtests of Edge](https://github.com/MicrosoftEdge/web-platform-tests/blob/master/websockets/interfaces/WebSocket/events/001.htmll) and they only seem to support:
[code]

Looking for the standard on the [W3C site](https://www.w3.org/TR/2012/CR-websockets-20120920/) I end up [here](https://html.spec.whatwg.org/multipage/comms.html#network)
Which also specifies exactly these 4 ev

[2016-03-30 07:30] mcollina commented on #389
So, have we got any clue?

[2016-03-30 14:45] RangerMauve commented on #389
@mcollina Had to put this on hold for now because other stuff came up which was more urgent than supporting Edge. Will post here when we get back to it.

[2016-03-30 16:51] seriousme commented on #389
FYI: I tested using the recommended client test of [websocket stream](https://github.com/maxogden/websocket-stream) and onReady is being called in Edge.

[2016-03-30 18:12] seriousme commented on #389
Looking at Mosca's log it keeps on going through the same cycle:
connect, timeout, close, connect etc..

Tracing in my app shows that onReady is also being called over and over.
However in the ``` this.connected = true; ``` in [mqttjs](https://github.com/mqttjs/MQTT.js/blob/dca2a945c8a74ea04b7feb39117e9e0eede0c94d/lib/client.js#L112) is never reached.

[2016-04-01 15:19] seriousme commented on #389
The websocket session itself is still up, because when I shut mosca down I get an error in Edge that I don't get during the connection cycle.  If people have ideas what to check I'm happy to test, but for now I'm a bit lost. It looks to me as if a handshake fails or a timer expires to soon. Btw: I'm using http and ws, no https nor wss.

[2016-04-01 19:09] seriousme commented on #389
I have enabled debug in MQTT.js by providing console.log as debug function.
The result: after ondata Chrome receives its mqttclient connect event, but Edge just continues trying to read.
[code]

[2016-04-08 10:20] jimbojw commented on #257
This problem is still around here a year later. According to my reading of the MQTT spec, the broker should return a CONNACK with return code 0x01 if the protocol level isn't specified. Is there any way the module can detect this and emit an 'error' event?

[2016-04-08 10:30] mcollina commented on #257
@jimbojw I think it's fairly straightforward. Would you mind to send a PR?

[2016-04-08 16:40] seriousme commented on #389
Ok, seems we can rule readable stream out as causing the problem as readable stream is now [certified on Edge](https://github.com/nodejs/readable-stream/pull/194)

[2016-04-08 18:15] seriousme commented on #389
By accident I stumbled across [mows](https://github.com/mcollina/mows).
I installed mows using NPM and used browserify to build mows.js per instructions in the readme.md

Doing a comparison between mows and mqttjs using the script below shows that in Chrome both get a connection an in Edge only mows gets a connection.

@mcollina do you have any clue ?

[code]

[2016-04-08 19:41] mcollina commented on #389
So, Mows uses a different version of MQTT.js and websocket-stream. So the
problem is between these two modules
Il giorno ven 8 apr 2016 alle 20:15 Hans Klunder <notifications@github.com>
ha scritto:

[2016-04-09 06:39] seriousme commented on #389
Can't say that is a surprise to me.
I was hoping that the difference in approach between the old and the newer version of mqtt.js would have triggered any light bulbs, but apparently not.

While debugging I get a bit lost in all the streams fluf, so a little guidance or help would be much appreciated.

[2016-04-09 10:16] mcollina commented on #389
Ahum, the browser unit tests are passing on Edge without issues (just tested). What can it be?

[2016-04-09 13:07] seriousme commented on #389
I might be way off here, but I used Esprima to add tracing for all calls and then diffed the result.

The difference starts after the "data" event has been emitted and ondata has been called.
First difference is Buffer.prototype.slice which behaves apparently different in Edge and Chrome.
(typedbuffer support as far as I can see)

Then Buffer._augment is being called.
Chrome calls _augment with a

[2016-04-09 15:24] seriousme commented on #389
Ok, I think I got it:
In parseHeader the first byte should be sliced from the buffer.
So when the buffer is [32,2,0,0] then after the parseHeader the buffer should be [2,0,0] which it is in Chrome, however in edge its still [32,2,0,0] :-(.

The problem can be reduced to Buffer.prototype.slice.
Before and after the slice the buffer still holds the same data.

Must be a bug in typed array handling u

[2016-04-09 17:30] seriousme commented on #389
Got the answer: https://github.com/feross/buffer/issues/86
Its a weird combination of buffers, typed arrays, browserify and edge.

The quick fix for me is to define globally:
[code]

Which ensures Buffers won't use typed arrays.

[2016-04-09 17:46] seriousme commented on #389
Hm, too quick..
With ```var TYPED_ARRAY_SUPPORT=false;``` the connect works, but the subscribe fails (even in Chrome :-( )

It ain't over till the fat lady sings..

[2016-04-09 17:52] mcollina commented on #389
Regarding the issue above, which version of browserify did you use to create the bundle?

[2016-04-09 17:54] RangerMauve commented on #389
@mcollina I've got it happening on `10.2.6`

[2016-04-09 17:54] seriousme commented on #389
Just reinstalled browserify 13 and after that rebuild my node_modules of the app that uses mosca.

[2016-04-09 18:05] mcollina commented on #389
I've just run the browser unit tests on Edge, and they pass using the latest zuul (which uses Browserify 13).
Does that build work for you? Is it an issue with Mosca (requires a browserify bump?)

[2016-04-09 18:14] RangerMauve commented on #389
I'm not using Mosca for this, so I'm assuming it's a client-side problem. Sadly, can't test the new browserify version just yet.

[2016-04-09 18:45] seriousme commented on #389
Works  !
I rebuild node_modules/mosca/public/mqtt.js using :
[code]
 and the app subscribes to queues and is picking up published messages, even in Edge ;-)

Thanks for all the fine work !

[2016-04-10 10:20] mcollina commented on #391
Closing as there was no more activity for a while.

[2016-04-10 10:20] #391 closed

[2016-04-10 10:20] mcollina commented on #389
Happy we cracked this!

[2016-04-10 12:08] jimbojw commented on #257
Update: I spent a couple of hours looking into this, about at the limit I'm willing to sink. :)

I've noticed a couple of problems (by module):

* MQTT.js - The mocha tests in MQTT.js for the `connect()` method don't seem to actually fully test the connection (to me, they look like they just create connection objects of various sorts).
* MQTT.js - The `createConnection()` test does actually create

[2016-04-11 07:51] OrahKokos opened #395 "UNABLE_TO_VERIFY_LEAF_SIGNATURE SSL error"
Hey, I posted a question on stackoverflow, but no answer. Could someone please point me in the right direction?

http://stackoverflow.com/questions/36444866/mqtt-client-unable-to-verify-leaf-signature

[2016-04-11 07:57] #389 closed

[2016-04-11 08:01] mcollina commented on #395
I have never encountered the problem. What is your goal?

Have you looked into http://stackoverflow.com/questions/20747817/error-unable-to-verify-leaf-signature-phonegap-installation?

[2016-04-11 08:47] OrahKokos commented on #395
The goal is to have a SSL/TLS connection with the mosca broker. Specific devices will be shipped with client certificates. Running the device ( C ) can connect to mosca using the self-signed cert which was generated on my machine.

However some system parts are also communicating via MQTT, these parts of the system use the `mqtt` npm lib to create a connection. When passing the certs the client th

[2016-04-11 09:18] mcollina commented on #395
I think the best way is try to do the same without mosca and mqtt, just with net.
Then we can address that issue.

[2016-04-11 09:28] mcollina commented on #257
So:

1) `createConnection` is going to be removed in v2, in favor of `mqtt-connection`. The whole idea of a 'connection' object is completely broken.
2) `connect()` (https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/index.js#L132) is responsible for allocating a new `MqttClient`. The tests verifies the `options`  on which this is created. The actual tests are really spread in files, becaus

[2016-04-11 12:15] OrahKokos commented on #395
Ok, I'm trying a different approach. Is there a way to make mosca listen on multiple ports ( for system stuff port 1883, for devices 8883 SSL ). I see mosquitto has this, however i can't find anything in mosca.
Also, `allowNonSecure` option, does it have something to do with it?

Thanks for your time so far :)

[2016-04-11 15:05] mcollina commented on #395
I'd suggest you follow the `tls` approach, and try to do the same thing cutting out the middlemen (mqtt.js and mosca). This is what you are looking for: https://github.com/mcollina/mosca/blob/master/examples/Server_Wtih_All%20Interfaces-Settings.js

[2016-04-12 08:13] OrahKokos commented on #395
Nice, that is exactly what I'm looking for. Thanks for the support man!

[2016-04-12 08:13] #395 closed

[2016-04-12 10:44] jimbojw commented on #257
**TL;DR** This is a problem with the MQTT protocol, not the mqtt Node module.

Thanks for the link to the code for `_handleConnack`. I dug into this a little further, and I think the problem is actually in the MQTT 3.1 protocol itself.

From the spec on CONNECT: http://public.dhe.ibm.com/software/dw/webservices/ws-mqtt/mqtt-v3r1.html#connect (emphasis mine)

I investigated the bytes passed on the

[2016-04-12 12:46] parveen-oodles commented on #344
Hello jdiamond ,
I am also getting the missing packet exception. I am using mosquitto and node module mqtt for chatting purpose but sometime i am getting the exception that is ** missing packet **. I am not able to debug from where and when this error occurred , we have setup mosquitto broker on ubuntu machine and client side we are using android  so some times i got this error in server and serve

[2016-04-12 13:04] mcollina commented on #257
Thanks for investigating this, and providing a definite answer for this.
I'm closing this issue, and opening a new one for `maxFirstConnects` options.

[2016-04-12 13:04] #257 closed

[2016-04-12 13:06] mcollina opened #396 "maxFirstConnects to avoid reconnection loop"
In some cases, we might be stuck in a reconnection loop were we do not expose the internal error to the user. `maxFirstConnect`  loop should avoid that, so that after X (10) failed attempt to connect for the first time, we give up. Suggested by @jimbojw in https://github.com/mqttjs/MQTT.js/issues/257#issuecomment-208841761

[2016-04-19 02:48] Densaugeo opened #397 "How to turn off outgoing message cache?"
I have an MQTT client using mqtt.js, and publishing messages to a broker. If the broker goes offline, the client saves its messages up and sends them all at once when the server reconnects, creating a flood of traffic. Is there a way to turn off this caching? I don't need to preserve old messages, only saving the most recent is fine.

Also, I have qos set to zero. My understanding is that this mea

[2016-04-19 09:09] mcollina commented on #397
So, caching is the wrong term, as we are not caching anything. The correct term is 'offline queue', or 'send queue'. Can you please reframe your issue?

Disabling the queue is currently not possible.

I agree with you that we should address this is a bug that will need fixing in a next major release #345 (or after that one). The whole queue system needs to be highly refactored to address various i

[2016-04-19 15:55] Densaugeo commented on #397
I can't speak to refactoring the whole system, but after looking at Client.js a bit, it shouldn't be hard to add an option for 'sendQueue' or something like that, and check it in MqttClient.prototype._sendPacket() before adding a packet to the queue. I can send a PR for this in a bit.

I haven't contributed to this project before, is there anywhere I would need to update tests and documentation ot

[2016-04-19 16:45] mcollina commented on #397
That can solve your issue, but that option will break a lot of the behavior of MQTT.js. The whole point is that you need to check if it's a publish QoS 0 and then discard that. All the other stuff would need to be queued anyway.

@Densaugeo no.

[2016-04-19 17:09] nmec opened #398 "Store not processing messages between restarts"
## Summary

Unsent messages are not processed from the store after restart.
## Steps to reproduce
1. Client loses connection
2. Client attempts to send message
3. Client process exits and restarts (e.g power loss)
4. Client reconnects
## Expected behaviour

Unsent messages are persisted in the store between restarts, and resent when the client restarts and reconnects to the broker.
## Actual behav

[2016-04-19 17:11] mcollina commented on #398
Can you please upload a code snippet that exhibit the issue?

[2016-04-19 17:17] nmec commented on #398
[code]

[2016-04-19 17:59] mcollina commented on #398
Whoaa, right! Thanks for catching this, it has been around for a bit. The problem is that the message is not being stored if we are not connect, but just put in the in-memory queue:
https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L598-L610
https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L48-L55

This needs to be reworked so that we are actually storing things when we are of

[2016-04-19 18:47] Densaugeo commented on #397
Would it be reasonable to only queue outgoing packets if they have QoS > 0? I think this would be correct behavior according to the MQTT spec, but would also mean a change of behavior (since QoS 0 packets are currently being queued). Is that why you mention v2?

For the meantime, I propose an option to enable this behavior (while still queuing QoS 1 and 2 packets regardless).

[2016-04-20 06:52] wormcc opened #400 "client not working when the broker is Mosquitto"
Help! When i use Mosquitto as a broker, the client can not connect with it, but with mosca it does well, but my python client does well with both of them.

[2016-04-20 07:05] mcollina commented on #400
I think you are using an old version of Mosquitto.

From the README:

[code]
This is confirmed on RabbitMQ 3.2.4, and on Mosquitto < 1.3. Mosquitto version 1.3 and 1.4 works fine without those.

[2016-04-20 07:05] #400 closed

[2016-04-20 07:12] mcollina commented on #397
Yes to all questions, good work!

[2016-04-20 07:12] wormcc commented on #400
thx!

[2016-04-21 14:37] panagorn opened #401 "Can not install on raspberry pi"
I cant intsll mqtt on raspberry pi

pi@raspberrypi:~/Desktop/mqtt $ npm install mqtt --save
npm ERR! Linux 4.1.13-v7+
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "mqtt" "--sace"
npm ERR! node v5.10.1
npm ERR! npm  v3.8.6
npm ERR! code ENOSELF

npm ERR! Refusing to install mqtt as a dependency of itself
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR

[2016-04-21 15:28] mcollina commented on #401
You created a module call mqtt, and then you want to install mqtt inside it. You can't, that is forbidden by NPM. Rename your module to something else.

[2016-04-21 15:28] #401 closed

[2016-04-22 16:22] megastef opened #402 "Streaming from stdin broken in mqtt CLI?"
When I use ```mqtt pub -t 'hello' -h localhost --stdin``` then no messages are processed until stdin is closed (e.g. STRG+D). I would expect that each line is a message.
So I could not use mqtt CLI to stream data via unix pipe.

[2016-04-22 18:03] mcollina commented on #402
Is that written anywhere? The help is pretty clear: https://github.com/mqttjs/MQTT.js/blob/master/doc/publish.txt#L12.

However your expected behavior is an important use case, would you like to send a PR? It should be straightforward using http://npm.im/split2 and http://npm.im/through2.

[2016-04-25 09:50] megastef commented on #402
+1 OK, I just wanted to check if I did miss something in the documentation. I could provide a PR, it might take a week to find the time to work on it.

[2016-04-25 09:54] mcollina commented on #402
Thanks @megastef! Just do not disrupt the current behavior, something like `--stdin --multiline` or equivalent.

[2016-04-26 21:03] nmec commented on #398
I'd love to have this functionality but I'm not sure how much of a priority I can make it at the moment. From a brief look at `client.js` this would probably be a substantial reworking.

[2016-04-27 13:24] mcollina commented on #402
Merged

[2016-04-27 13:24] #402 closed

[2016-05-04 11:26] sprijk opened #404 "Can I simply pipe a Readable stream to a MqttClient?"
I have a high rate of source messages. When the connection's transmission speed is insufficient:
- how will MQTT.js handle back-pressure?
- or, can I just pipe to the MqttClient instance?

Thanks

[2016-05-04 11:44] mcollina commented on #404
you can `publish(topic, payload, cb)` and `cb` will be called when the message is written to the socket (QoS 0) or when it receive the ack. 

[2016-05-04 13:43] sprijk commented on #404
Ah super, thanks!

[2016-05-04 13:43] 4rzael commented on #404
IIRC, there is no stream API to a MqttClient

I don't really see how there could be one, as MQTT is a protocol made for sending/receiving messages. Not really a continuous stream of data.

Anyway, you can still implement a wrapper that cuts your stream down into multiple messages before calling the publish method, as described above. (even though you can't assume evrything is sent in order)

[2016-05-04 15:58] mcollina commented on #404
@4rzael great response!

[2016-05-04 15:58] #404 closed

[2016-05-08 19:34] 4rzael commented on #397
Hum, looks like this issue can be closed, as it's been fixed in #399 ?
@mcollina

[2016-05-08 19:39] mcollina commented on #397
Yes, I think so.

[2016-05-08 19:39] #397 closed

[2016-05-15 19:19] Densaugeo opened #407 "Propose 'publish' event for MqttClient"
I've got a client that sometimes needs to log everything it publishes. Perhaps adding a 'publish' event to the client would be useful?

**Existing method 1**
So far, I can add a log statement after every publish:
[code]
but that is verbose, and I may miss a log statement.

**Existing method 2** (doesn't actually work this way)
There's a handy callback option:
[code]
but the callback only gets erro

[2016-05-15 19:43] mcollina commented on #407
I'm 👍 on firing the event, go ahead.

[2016-05-19 03:26] mayooran99 commented on #384
Hey I'm having the same issue! are there any solutions to this yet? I'm running a node JS application. Not browser specific. And I'm not using secure websockets.

[2016-05-19 10:55] vasco-santos opened #408 "mqtt over websockets using google chrome"
Hello,

I am using this MQTT client in a web application to communicate with a python broker.

In the connect message, the browser (Chrome) outputs in the console the following error:

`WebSocket connection to 'ws://127.0.0.1:8888/' failed: Error during WebSocket handshake: Sent non-empty 'Sec-WebSocket-Protocol' header but no response was received`

In my broker, the following error is presented:

[2016-05-19 13:54] mcollina commented on #408
This seems to be working fine with other brokers? might be your implementation'?

[2016-05-19 14:13] vasco-santos commented on #408
I tried using other brokers as well, and it did not work. And considering that it works fine in other browsers, I think that chrome needs another type of configuration for the websockets.

As far I understood, google chrome forces the use of MQTT-3.1.0, and I think that it is the problem, at least for recent brokers.

[2016-05-19 14:18] mcollina commented on #408
I will need to have a look at your code, because it is working here.

[2016-05-19 14:19] RangerMauve commented on #408
I've been using Chrome with websockets just fine with Mosquitto and a custom JS broker built on top of MQTT.js.

[2016-05-19 14:19] RangerMauve commented on #408
What version are you currently on? I know that at least 1.7.4 is working for me at the moment.

[2016-05-19 14:24] vasco-santos commented on #408
I am using version 1.8.0 of mqtt, but with browserify conversion. Can I have your Mosquitto configuration file for testing?

[2016-05-19 14:33] vasco-santos commented on #408
I uploaded to my repository the python broker. It needs Python3, as well as hbmqtt pip package.

[2016-05-19 14:35] RangerMauve commented on #408
Sorry, I confused myself. I only got TCP working with mosquitto.

[2016-05-19 14:43] vasco-santos commented on #408
@RangerMauve thanks anyway =)

@mcollina I have commited to my test project the broker. It only needs to be executed with python3 and has the hbmqtt pip dependency.

Thanks for your time

[2016-05-21 21:05] uzarubin opened #409 "Unable to connect to Mosquitto broker"
Hey everyone!

I have mqtt running via mosquitto broker on my raspberry pi. I have multiple nodemcus running lua that connect just fine, along with a dedicated client running on my computer, but I am unable to connect with mqtt.js.

Here is what I have tried:

    mqtt.connect('mqtt://192.168.1.21:1883', {clientId:'garage_node', username: 'foo', password: 'bar'})
    mqtt.connect({hostname:'192.16

[2016-05-22 07:08] mcollina commented on #409
Have you tried with a stock configuration, without authentication?

Are you trying connecting from a browser?

[2016-05-22 13:43] uzarubin commented on #409
@mcollina I'll turn off auth and try again. Also, I am connecting through the browser. I noticed there was an issue with it switching from `mqtt` to `ws`, but does it still work?

[2016-05-22 14:21] mcollina commented on #409
no known issue in this library. You need to setup websocket in mosquitto, use 'ws' in the url and connect to the right port.

[2016-05-22 19:38] uzarubin commented on #409
@mcollina I figured out the problem. I installed mosquitto without websocket support. Once I fixed that, I am not connecting.

[2016-05-22 19:51] #409 closed

[2016-05-23 06:45] mcollina commented on #408
@vasco-santos I am confident this is a bug on hbmqtt, as your project works as-is with other brokers.

[2016-05-23 07:11] mcollina commented on #384
@mayooran99 can you please upload a simple script using __only__ MQTT.js that can run on node v4, a mosquitto config and instructions to run all the above?

[2016-05-24 14:13] vasco-santos commented on #408
@mcollina I am not understanding how the bug may be on hbmqtt.

I used tge hbmqtt broker with other clients and it worked with no problems in all of them. In addition, it works fine with mozila and safari in the MQTT.js implementation. Therefore, I can only consider a bug related to the browser, and consequently with MQTT.js, which interacts with the browser.

I cannot use this implementation with

[2016-05-24 14:25] lordkada commented on #384
+1
I'm experiencing the same (but within node.js it works as expected).

    client = mqtt.connect("wss://...omissis...")
    channel = "test_channel"

    client.on "connect", () ->
        console.log "Subscribing channel: #{channel}"
        client.subscribe channel

    client.on "message", (topic, payload) ->
        console.log "received message"
        console.log payload

    client.on "o

[2016-05-24 14:28] mcollina commented on #408
Your project works perfectly with `'ws://test.mosquitto.org:8080'` and several Mosca versions. Just change the connection string to `'ws://test.mosquitto.org:8080'`.

I'm happy to help debugging this, maybe there is something that we are doing that hbmqtt does not like (or vice versa), but it is hbmqtt-specific.

[2016-05-24 14:34] mcollina commented on #384
I have hard trouble replicating this. Can anybody please upload an archive with everything needed to replicate? Include a README with all the instructions to replicate.

[2016-05-24 15:00] vasco-santos commented on #408
Yes, it works correctly using mosquitto test broker for mqtt over websockets (Port 8080).

I monitored the network packets using chrome, as well as firefox but I am not noticing any difference in the packages before starting the websockets session.

Considering filter: ip.addr == 192.168.33.20
Chrome: line number 864
Firefox: line number 596

[Wireshark.zip](https://github.com/mqttjs/MQTT.js/files

[2016-05-24 15:00] mkarliner commented on #384
Apologies, Matteo, This issue went off my radar a while back. I'll try to get you a confirmed test case next week.

Mike

[2016-05-24 16:03] mcollina commented on #408
@vasco-santos that's why I think it's hbmqtt problem, not MQTT.js.

hey @njouanin can you help us here?

[2016-05-25 09:53] ecksun opened #411 "mqtt_sub throws exception"
After installing mqtt in a project I tried to use the mqtt_sub client:

    ./node_modules/.bin/mqtt_sub --verbose --topic #

However this throws a TypeError:

[code]

I don't know if Im using the client incorrectly, but even if I am I would expect an error-message that explains what I'm doing wrong.

[2016-05-25 09:58] mcollina commented on #411
I think you are not passing any topic, because `#` is interpreted as a comment in bash.
The real bug is the lack of a decent error message.. would you like to send a PR?

Thanks!

[2016-05-25 19:22] njouanin commented on #408
Let me investigate...

[2016-05-25 21:14] njouanin commented on #408
Hi, according to discussion in [hbmqtt#38](https://github.com/beerfactory/hbmqtt/issues/38) the problem seems to come from the client MQTT.js which sends `mqttv3.1` as websocket suprotocol whereas it should send `mqtt` according to [MQTT 3.1.1 specifications](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718127). Chromes detects a difference between the requested subpro

[2016-05-26 07:18] mcollina commented on #408
Wow, that was a hard find.

Anyway, anybody that wants to send a PR?

The idea is to send `'mqtt'` as default subprotocol and `'mqttv3.1'`if in the `mqtt.connect` options for MQTT 3.1 are passed:

[code]

https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/ws.js#L16

[2016-05-28 18:45] ecksun commented on #411
Oh my, how could I have missed that.

Yes indeed, the error-message needs to be improved, I will try to get some time to create a PR

[2016-05-30 11:44] mayooran99 opened #412 "Connecting through TLS throws exception"
I wrote the following code to connect to the mosquitto broker.

[code]

But its throwing the following exception.

[code]

Is this TLS connectivity tested and verified? Has anyone tested this? I can't find any documentation on this as well!

[2016-05-30 12:44] mcollina commented on #412
Re: documentation. We need help, please contribute some guide and/or example regarding TLS.

You need to use `key`  and `cert` if you pass in buffers. `keyPath` and `certPath` are only for file paths (and they should not be used).

[2016-05-30 15:16] mayooran99 commented on #412
thanks a lot mate! its working now! I'll write a detailed blog on this and share it here for new users! :)

[2016-05-30 15:18] #412 closed

[2016-05-30 15:27] mcollina commented on #412
@mayooran99 would you mind contributing an example for https://github.com/mqttjs/MQTT.js/tree/master/examples on how to setup mosquitto as well for LTS, etc..?

I see everybody struggling with this stuff.

Also, improving the README on that regard my be helpful.

[2016-05-30 15:44] mayooran99 commented on #412
sure mate! I'll do it within the next two weeks!

[2016-05-31 09:22] anhldbk opened #413 "About un-publishable topics"
I'm using MQTT.js to publish messages to an `unauthorized topic` with function
[code]

Is there any way for me to know the `publish operation` is not success?

[2016-05-31 09:31] mcollina commented on #413
The client will disconnect. It's a known weakness of MQTT.

[2016-05-31 09:31] #413 closed

[2016-05-31 09:40] anhldbk commented on #413
@mcollina If the client disconnect, so there's an event fired? I expected to have event `reconnect`, `close`, `offline` or `error` to be fired. But none of them showing up.

[2016-05-31 09:45] mcollina commented on #413
It should be `'offline'`.

[2016-05-31 09:46] anhldbk commented on #413
@mcollina actually no such event fired

[2016-05-31 09:47] mcollina commented on #413
Which broker are you using? This behavior is governed by the broker, not really by the client.

[2016-05-31 10:33] anhldbk commented on #413
@mcollina Ah, I see. I'm using `emqtt`. Thank you anyway!

[2016-06-02 18:35] shylesh107 opened #415 "Error: missing packet"
Hi,

I'm getting this error

[code]

Looking at the mosquitto logs it's happening when the broker sends the retained qos2 messages to client.

[code]

This is my connection configuration :

[code]

The client is crashing every time I try to run it. The only fix that seems to be working it setting the clean flag to false and changing the ClientID (thus creating a new session)

This is the portion o

[2016-06-03 07:21] mcollina commented on #415
You are right, the logic needs to be changed so that it does not error when getting unknown message ids. Would you (or someone else) like to send a PR?

[2016-06-03 13:27] shylesh107 commented on #415
I will take a look when I get some time. Thank you.

[2016-06-03 15:19] shylesh107 commented on #415
#416 This seems to have solved my issue. Tested it with mosquitto receiving  QoS 2 messages.

[2016-06-04 06:59] #379 closed

[2016-06-05 22:10] #407 closed

[2016-06-05 23:59] mayooran99 opened #417 "Unexpected identifier error in browserifying mqtt"
I need to use the mqtt client from the browser and I followed the following steps as mentioned in the doc.

![capture](https://cloud.githubusercontent.com/assets/6868898/15809346/b465b390-2bac-11e6-9ea8-a2c8ba348f72.PNG)

And then created a html page as specified in the doc.

![capture](https://cloud.githubusercontent.com/assets/6868898/15809349/cae9c778-2bac-11e6-8056-975b53980656.PNG)

When I ra

[2016-06-06 01:24] jameswhite commented on #339
`var client = mqtt.connect('mqtts://' + HOST, options);`

[2016-06-06 06:08] sandro-k commented on #417
@mayooran99 could you pleas expand the error given in the Console. Just copy-paste the stacktrace and the version of Chrome you are using.

[2016-06-06 07:02] mcollina commented on #417
There is something wrong with the browserify version you are using:
I got this line:

[code]

[2016-06-06 07:28] mcollina commented on #417
I checked this here, and I get the same output, not sure what's up to.

@sandro-k can you have a look?

[2016-06-06 08:28] sandro-k commented on #417
@mayooran99 and @mcollina I can confirm that this is a bug in https://github.com/mqttjs/mqtt-packet/blob/master/parser.js#L355 and https://github.com/mqttjs/mqtt-packet/blob/master/parser.js#L370. Somehow a `char 160` ended up after `if(length === -1 || end > this._list.length ||`

I will create a PR

[2016-06-06 08:40] sandro-k commented on #417
@mayooran99 thanks for reporting this.

[2016-06-06 09:13] sandro-k commented on #417
I can confirm when forcing `"mqtt-packet": "^3.4.7"` I can now bundle and use mqtt.js in the browser without any issue.

[2016-06-06 09:24] mcollina commented on #417
I don't think there is a need to do a release, as we depend on mqtt-packet with the `^`.
If anyone faces this issue, just zap your node_modules folder and reinstall.

[2016-06-06 09:24] #417 closed

[2016-06-11 08:06] anhldbk opened #418 "About connecting back"
So we know: If an MQTT client is successfully connected to its server, it then must subscribe to specific topics.

My question is: if there's something wrong, the client loses the connection. Does it have to re-subscribe the topics?

[2016-06-11 08:12] mcollina commented on #418
if the client connects with `clean: false`, and specifies a unique `clientId`, the subscriptions are restored by the broker.

[2016-06-11 08:19] anhldbk commented on #418
@mcollina Is option `clean: false` is necessary? In my experiment, I just need the unique `clientId`.

[2016-06-11 10:15] mcollina commented on #418
It's part of the MQTT protocol

[2016-06-11 15:23] anhldbk commented on #418
@mcollina Thank you so much!

[2016-06-11 15:23] #418 closed

[2016-06-13 09:51] knolleary opened #419 "connectTimeout and reconnectPeriod interaction"
If `reconnectPeriod` is set to 60 seconds (for example) but the `connectTimeout` left at the default 30 seconds, the reconnect attempt will be abandoned after 30 seconds and it will no longer keep trying to connect. Crucially, the application doesn't know this has happened and assumes the reconnect attempts will continue but they don't.

I believe the right approach is to clear the connectTimeout

[2016-06-13 11:06] mcollina commented on #419
Yes, that would be awesome. Please send a PR!

[2016-06-14 04:42] mayooran99 opened #421 "Creating a wss connection over browser"
I couldn't find any examples on establishing a wss connection over the browser using browserify with both client and server side authentications. Is this possible? if so, how will the certificates be provided and through which protocol should the connection be established. Can you provide some example on it?

[2016-06-14 06:17] mcollina commented on #421
You can't use client side certificates in the browser from a JS API. Maybe you can install a client side certificate through some other mean (but I do know nothing about it).

[2016-06-14 06:17] #421 closed

[2016-06-14 09:47] WilliamHolmes opened #422 "Multiple Disconnect - Reconnect attempts leads to uncaught error (store.js - createStream)"
_**store.js**: Uncaught TypeError: Cannot convert undefined or null to object_

It seems **this._inflights** is null but is expected to be an object.

[code]

[2016-06-14 12:56] mcollina commented on #422
I've never experienced this, can you please upload an example that triggers this exception, or send a fixing PR with a unit test?

[2016-06-14 16:51] RangerMauve commented on #422
Posting to get notifications. I've noticed that every now and then machines in the wild have trouble reconnecting until we reboot them, but haven't been able to get logs or reproduce it.

[2016-06-15 08:56] Xiao-Yaran opened #423 "Can mqtt.js connect to the ActiveMQ ?"
System : windows7
mqtt.js:v1.11.0
----------------------------------
Masters,I use mosquitto as a broker,and  the mqtt client  can connect  it and works well.
But when I use ActiveMQ as a broker, mqtt client can't connect  it.
----------------------------------
My code:

//.............mqtt通信
var mqtt = require('mqtt');
var settings = {
    keepalive: 5,
    reconnectPeriod: 5 * 1000,  //自动重连时间，单位

[2016-06-15 20:39] ralphtheninja commented on #423
Maybe the wrong `protocolVersion`?

[2016-06-16 01:44] Xiao-Yaran commented on #423
@ralphtheninja   Your approach is correct.!!
setting:
  protocolId: 'MQIsdp',
  protocolVersion: 3
It works! Thank you very much

[2016-06-16 05:57] #423 closed

[2016-06-16 14:24] sanket-mindstix opened #424 "Fail to connect tls mosquito broker."
Hi,

I am using TLS MQTT client broker, but when I try to connect my broker using client it is failing to connect it, following error message gets written into MQTT broker log file.

 **OpenSSL Error: error:140890C7:SSL routines:SSL3_GET_CLIENT_CERTIFICATE:peer did not return a certificate**

[2016-06-17 07:23] sandro-k commented on #424
Can you please post the code you are using to connect to the MQTT-Broker.

[2016-06-17 08:16] sanket-mindstix commented on #424
Please find code I'm using for mqtt client. I have set mosquito broker running locally. I am able to subscribe and publish the topics to the same mqtt broker using command line mqtt client. So I thing broker is working fine and one more thing I am using self signed certificates for broker and client.

When I try connect broker using nodejs mqtt client following log gets written into my log file,
*

[2016-06-17 10:03] sandro-k commented on #424
Is the broker configured to accept SSL on port 1883 or is that the default no SSL bare TCP Port? If you connect without SSL, which port are you using?

[2016-06-17 10:20] sanket-mindstix commented on #424
Yes, my broker is SSL enabled, I am successfully able to connect the broker using command line client,
following commands I am using for subscribing and pushing the topic using the same broker.

**$mosquitto_sub -t test -v --cafile ca.crt --cert client2.crt --key client2.key
$mosquitto_pub -t test -m "HELLO Sanket" --cafile ca.crt --cert client2.crt --key client2.key**

[2016-06-21 13:25] mcollina opened #425 "handleMessage support for QoS 2"
as titled.
Discovered on a chat with @pzfreo.

I've also noticed there are no unit tests for this feature.

Anybody wants to fix this? It should be an easy fix.

[2016-06-22 08:58] pfried commented on #340
I am currently trying to set up a connection to aws iot via mqtt over websockets.

There is an official  [example](https://github.com/awslabs/aws-iot-examples/tree/master/mqttSample), which uses the paho javascript client and some additional code to compute the signature (aws v4) you need to append to the url.

Right now i did not manage to connect altough the url looks good and the signature shou

[2016-06-22 09:49] mcollina commented on #340
cc @gkwicker might help

[2016-06-22 15:57] gkwicker commented on #340
Hi @pfried, the easiest way to connect your JS application to AWS IoT is using the [AWS IoT SDK for JavaScript](https://github.com/aws/aws-iot-device-sdk-js).  It handles all of the authentication for you, and includes documentation as well as Node.js and browser application examples.  We monitor that repo as well as the [AWS Forums](https://forums.aws.amazon.com), so if you have any questions or

[2016-06-22 15:59] pfried commented on #340
Alright i will try that, no idea why i did not try that first, but the example provided uses the paho client, so maybe thats where that idea came from. Thank you

[2016-06-22 16:09] mcollina commented on #340
Closing this :).

[2016-06-22 16:09] #340 closed

[2016-06-23 14:40] RangerMauve commented on #422
I'm looking into this now to see if I can figure out what's happening. By the looks of it, this would require `createStream` to have been called after `close`. Reading up on the code to see if I can find anything that would cause that.

[2016-06-23 14:52] RangerMauve commented on #422
So, looking at the code. It seems this might happen if `MqttClient` emits `connect` after `.end()` was called on it. So, this would require the stream to somehow send a `connack` packet after it has already emitted a `close` event. Not really sure how I could reproduce this manually.

@WilliamHolmes What sort of connection was this? Was it TCP or WS? What was the broker that you were connected to?

[2016-06-24 10:48] DesarrolloSinapse opened #427 "Try to connect to a server after browserify"
Hi,
I included this library to a new Ionic project, and after generate the bundle.js file without problems.

When I try to connect to a server, is there any way to do it without using websockets or is the only way to connect?.

I have done some tests usign tcp, http and mqtt protocols with the server's URL and I get the following error:

"WebSocket Error: Incorrect HTTP response. Status code 302"

[2016-06-24 13:14] RangerMauve commented on #427
HTTP isn't a valid protocol for MQTT. If you're in the browser you can only really use websockets. If you really want TCP you'd need to wrap over some sort of ionic specific plugin for TCP which you could pass into MQTT.js as a stream.

[2016-06-24 14:33] #408 closed

[2016-06-25 15:40] #427 closed

[2016-06-27 07:59] anishmenon opened #428 "Compress mqtt.js"
Is there any way to get the minimal version of webpacked mqtt.js now its having 120 kb after compression

[2016-06-27 08:03] mcollina commented on #428
Not really, any PR is welcomed.

[2016-06-27 08:03] #428 closed

[2016-06-28 09:24] WilliamHolmes commented on #422
Sorry for the delay.

WSS.

Broker: Apache Apollo

YES

**Pseudo Process:**
:Create
this.client = MQTT.connect( ...
... (some other processing)
this.client.end(true);
... (some other processing)
this.client = null;
... (some other processing)
goTo :Create

[2016-06-28 13:52] RangerMauve commented on #422
Would you ever be calling `.end(true)` synchronously after `.connect`?

[2016-06-29 06:01] jonhardman opened #431 "Connection is broken query"
Hi,

I am looking at understanding the capability of mqtt.js a little more when a clients connection to a broker is broken.

I've read through the documentation and I am still a little unsure what happens to outgoing messages when the client fails to connect, are messages automatically queued as default or do I need to set something explicitly to enable this queuing. I can see that QoS: 0 is defau

[2016-06-30 06:17] mayooran99 opened #432 "Is it possible to do wild card subscriptions through this library?"
Is it possible to subscribe to topics having wildcard characters such as + and *  as they are possible in MQTT? Like if I 've subscribed to mqtt.subsribe('topic/+/something") will I receive a message on the "topic topic/okay/something"? Because this has not been mentioned in the documentation.

[2016-06-30 06:18] mcollina commented on #432
Yes they are supported. Would you mind sending a pull request against the README to clarify?

[2016-06-30 09:46] sandro-k commented on #432
@mayooran99 just as a side note MQTT only allows `+` - Single Level and `#` - Multi Level wildcards, both are supported by MQTT.js

[2016-07-07 17:46] WilliamHolmes commented on #422
Yes.
we would have called  .end(true) after .connect.
ie.
.connect  > if we have to refresh certain UI or logout etc. .end(true)

[2016-07-11 22:32] 4rzael commented on #431
## About QoSes

Here is how QoS works:
* QoS 0 : received **at most once** : The packet is sent, and that's it. There is no validation about whether it has been received.
* QoS 1 : received **at least once** : The packet is sent and stored as long as the client has not received a confirmation from the server. MQTT ensures that it *will* be received, but there can be duplicates.
* QoS 2 : received

[2016-07-12 06:35] mcollina commented on #431
Great job @4rzael

[2016-07-12 06:40] jonhardman commented on #431
Thanks @4rzael this is a great summary and the info I was looking for. I could imagine others appreciating this info so a FAQ would be handy :-)

[2016-07-12 09:03] rudylacrete opened #433 "event `message` called multiple times if multiple subscribe is done"
Hello guys,

First of all thank you for all the great job you are doing on this library.
My company faced an issue while using your code because we didn't take care so much about subscribing only once to a given topic (a basic plain one, no wildcards). And in the case you do that, the event message is triggered as many times as the number of subscribe you did previously as soon as a publish is don

[2016-07-12 09:11] mcollina commented on #433
It seems an MQTT feature. Can you upload an example?

[2016-07-12 13:28] RangerMauve commented on #433
I've found this happens with Mosquitto. My solution was to abstract my MQTT interactions and keep track of subscriptions so that I wouldn't subscribe to something I was already subscribed to. Also, for automatically re-subscribing on reconnecting.

[2016-07-13 11:48] 4rzael commented on #433
This is strange.

Looking at the [MQTT specification](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.pdf), section 3.8.4-3 (line 967), I quote :

If I understand correctly theses lines, you **should not** receive multiple packets when subscribing more than once to a topic.

I cannot try this right now, but it is strange.

A good way to verify if it's Mosquitto that sends them multip

[2016-07-13 12:18] rudylacrete commented on #433
We understand the same thing. However I was not able to reproduce the bug on my machine. I only got that on our cloud so still don't know if it comes from a mystake on my side.
That's a great idea to inspect directly the network packets to find out if it comes from the broker itself.  I'll continue to check that and keep you informed.
Thanks again guys.

[2016-07-13 12:39] mcollina commented on #433
@rudylacrete can we close this?

[2016-07-13 12:46] rudylacrete commented on #433
Sure I'll do it.

[2016-07-13 12:46] #433 closed

[2016-07-13 17:04] anhldbk commented on #172
@mcollina This issue still persists. Here is the demo code:

[code]

The output will be:
[code]

[2016-07-13 17:16] RangerMauve commented on #172
@anhldbk What makes you say that this is related to the wildcards? Is there an error you're seeing that would suggest that? Because it just looks like your socket is disconnecting and reconnecting for no particular reason.

[2016-07-13 18:11] anhldbk commented on #172
@RangerMauve There are many reasons:

1. If I subscribe to another mailboxes like `+/:event/status`, `data`..., it works well.
2. My network connection is stable. Actually, I tried to run the program above with a local MQTT broker before using `test.mosquitto.org`

[2016-07-13 18:16] RangerMauve commented on #172
Are you logging any errors on the client side or on the broker itself?

[2016-07-14 01:04] anhldbk commented on #172
@RangerMauve There's no error logged on the client side.

[code]

[2016-07-14 08:28] sandro-k commented on #172
@anhldbk the `#` has to be at the end like `foo/bar/#`. If you want to subscribe to everything just use `#`

`#/:event/status` === `#` because everything that is after the `#` is irrelevant. See http://www.hivemq.com/blog/mqtt-essentials-part-5-mqtt-topics-best-practices

[2016-07-14 08:43] anhldbk commented on #172
@sandro-k Thank you for your explanation!

@mcollina Is it a good idea for `mqtt.js` to validate topics before sending the subscriptions to brokers?

[2016-07-14 09:07] anhldbk commented on #172
@mcollina I'm working on it.

[2016-07-18 09:43] mayooran99 opened #434 "Receiving uint8array data through on message callback"
At times I am getting messages being published in the format of uint 8 array. I am writing the code in type script. Therefore below is how I used the message receiving callback.

`  this.client.on('message', (topic: string, message: string) => {
        this.onMessageArrived(topic, message, messageReceivedCallBack);
      });`

Is this scenario of receiving various data types handled inside? If I'

[2016-07-18 09:49] mcollina commented on #434
I have no clue, as I'm not a TypeScript user.

cc @PekkaPLeppanen.

[2016-07-18 11:18] PekkaPLeppanen commented on #434
This [example](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/mqtt/mqtt-tests.ts) should explain the TypeScript part.

[code]

The message is a NodeJS Buffer which implements the Uint8Array. https://nodejs.org/api/buffer.html

The data type conversion is left for the callback function. In the example the conversion is made from Buffer to String.

[2016-07-19 15:52] SiyiLi opened #435 "Publish QoS 2 message failed"
I am using mqtt.js as client and mosquitto as the broker, my client subscribed a topic with QoS 2, then published a QoS2 message to the topic, suppose the client itself should receive that message, but not. And I used wireshark to capture the packets, I saw mosquitto server kept sending "Publish Received" msg to the client, but it seems client didn't response with a "Publish Release". Is this a kn

[2016-07-19 16:00] RangerMauve commented on #435
Did you use the callback in `subscribe` to make sure you didn't accidentally publish before your subscription was registered fully?

[2016-07-20 05:12] SiyiLi commented on #435
Yes, the subscribe callback showed QoS2 was granted, then I made the publish

[2016-07-20 07:55] mcollina commented on #435
how can we reproduce?

[2016-07-20 09:25] anhldbk opened #437 "About MQTT over SSL connections"
I've got an MQTTs server with self-signed certificate. My below code doesn't work at all.

[code]

Would you please tell me: How can I connect to an  MQTT server supporting `MQTT over SSL`?

[2016-07-20 10:06] mcollina commented on #437
You need to specify a protocol, in your case `'mqtts'`.

Feel free to send a PR to the README to explain this a bit more :P.

[2016-07-20 10:55] anhldbk commented on #437
@mcollina lol, you've made my day:

[code]

[2016-07-20 11:32] anhldbk commented on #437
@mcollina

Would you pls let me know: why do we need parameter `url` for `mqtt.connect([url], options)` ?

`The URL can be on the following protocols: 'mqtt', 'mqtts', 'tcp', 'tls', 'ws', 'wss'. `

Any use case for  protocols: 'mqtt', 'mqtts', 'tcp', 'tls', 'ws', 'wss' ?

Is that good to have `url` in `options`?

[2016-07-20 12:04] mcollina commented on #437
You can pass `protocol: 'mqtts'` in the options.

It might also be good to have `url`  in options too.

[2016-07-28 04:05] jonahzheng opened #440 "How to set up to ensure that the MQTT client will have received the message"
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718100
I use the Mosca as MQTT server. how set “Quality of Service levels and protocol flows” is “At least once delivery”

[2016-07-28 07:00] dashracer commented on #339
How can I generate certificate for mqtt client?

[2016-07-31 17:05] anhldbk commented on #437
@mcollina What's the role of `protocolId` in the options? Should we replace it by `protocol`?

[2016-07-31 17:12] mcollina commented on #437
`protocolId` is the name of the MQTT protocol itself, `'MQIsdp'` for MQTT v3.1 or `'MQTT'` for MQTT v3.1.1. Also this should be set as `protocolVersion`, `3` or `4` respectively.

[2016-07-31 17:12] #437 closed

[2016-08-01 07:16] anhldbk commented on #440
@jonahzheng You mean: in addition to `qos = 2`, there will be an active client receives  such message?

[2016-08-01 07:28] anhldbk opened #441 "About function connect()"
I have the familiar code:

[code]

My question is: How can we handle errors when invoking function `connect()`?

Currently, here are some kind of errors & what printed out when I executed the code:

| Error | Event fired |
|-------|-------------|
|   Server is not available    |      `offline`       |
|    Invalid username or password    |     `error`        |

I wonder if we should add a callback

[2016-08-01 07:56] anhldbk commented on #441
And if the client goes offline, I will receive multiple offline events:

[code]

Do you think we should notify client once? That means: event `offline` will be fired once when the client first disconnects from the server.

[2016-08-01 08:35] mcollina commented on #441
offline is currently emitted even if a connection fails. I'm ok in a PR to address this.

[2016-08-01 12:32] pewh opened #442 "Cannot work with React Native"
Hi,
Can you guide us how to use this library on React Native? I'm trying to use MQTT.js on React Native but didn't work because it requires 'net' native nodejs module. I'm also trying to compile mqtt.js with webpack and browserify. Unfortunately, these show same errors too.

[2016-08-01 16:01] anhldbk commented on #442
It works well on Android. I already built a React Native app with `mqtt.js`.

[2016-08-01 16:03] anhldbk commented on #441
@mcollina What's about `connect` with callbacks?

[2016-08-01 17:37] pewh commented on #442
Hmm, it strange, because react native shouldn't support native nodejs module like 'net' and 'fs' https://github.com/mqttjs/MQTT.js/blob/master/mqtt.js#L12-L15.

So this code below throw error:
[code]

[2016-08-01 18:55] RangerMauve commented on #442
React Native [supports websockets](https://facebook.github.io/react-native/docs/network.html#websocket-support) which should seamlessly work with mqtt.js

[2016-08-02 01:57] pewh commented on #442
Although react native support websocket, but it doesn't support native nodejs modules which are dependency from mqttjs (like 'net' dan 'fs'). So I think the issue is not on websocket itself.
CMIIW :)

[2016-08-02 04:08] #434 closed

[2016-08-02 06:42] mcollina commented on #442
Maybe it's a webpack issue then, the browser build should not load those.

[2016-08-02 10:39] anhldbk commented on #441
@mcollina Ping ping ping

[2016-08-02 10:45] mcollina commented on #441
I think the current interface is ok, we should just avoid emitting out `'offline'` every time it fails to connect. Maybe we should even add a limit, just to avoid a wait-forever loop.

The reason for _not_ having a callback is that it will introduce two ways of handling errors: one at the first connection, and one afterwards. Maybe that's what we should be talking about, as it might be the underli

[2016-08-02 11:02] anhldbk commented on #441
@mcollina  you said about `two ways of handling errors`. Why don't we think it as `handling 2 types of errors`, including:
- `connection errors`: invalid username/password, offline service...
- `operation errors`:  any other one

[2016-08-02 11:54] mcollina commented on #441
if we specify a callback, what happens if both a callback and a `'error'` handler are specified?

[2016-08-02 14:33] RangerMauve commented on #442
Are you trying to use a TCP MQTT connection in React-Native? Because it should only work with WebSockets. And as @mcollina said, your build should be respecting the "browser" field in `package.json` for this to work properly.

[2016-08-02 14:36] RangerMauve commented on #441
What I usually do for handling connect issues, is I wrap my `connect` call in a `Promise` which resolves or rejects based on whether `connect` or `error` got emitted first.

[2016-08-02 16:23] pewh commented on #442
Hi @RangerMauve , I use MQTT on WebSockets. The good news is: I can rid the error message. I do ```webpack mqtt.js ./client.js --output-library mqtt```

and I'm trying to load this module by `const mqtt = require('mqtt/client')`. But I get undefined function when doing `mqtt.client(...)`. I inspect it via debugger and mqtt object is just empty object. I cannot get `mqtt.connect`.
I also have tryin

[2016-08-02 16:28] anhldbk commented on #441
@mcollina Seriously I'm thinking about it
@RangerMauve Would you pls show me your code?

[2016-08-02 16:34] pewh commented on #442
Finally, I fix it by `webpack mqtt.js ./client.js --output-library mqtt --output-library-target commonjs2` instead of `webpack mqtt.js ./client.js --output-library mqtt --output-librarytarget commonjs2`

Sorry for my stupid typo :smile:

[2016-08-02 16:34] #442 closed

[2016-08-02 18:01] RangerMauve commented on #441
@anhldbk The relevant code looks like:

[code]

You might want to refactor it to take an instance of `connection` instead, so you can attach listeners earlier on.

[2016-08-03 00:57] anhldbk commented on #441
@RangerMauve My approach is the same as you:

[code]

[2016-08-03 02:58] pewh opened #443 "React Native: Cannot find entry file MqttClient"
Hi, this is a continue from https://github.com/mqttjs/MQTT.js/issues/442

After I can get module loaded, I'm doing `const client = mqtt.connect('ws://192.168.58.1:8080')`. But I get error on console `NotFoundError: Cannot find entry file MqttClient`. I can't figure out how to resolve this issue. For the info, I've successfully testing MQTT server (using websocket) with chrome plugin MQTTLens, so I

[2016-08-03 07:04] mcollina commented on #441
I think MQTT.js should provide this in some form, and emit offline only once.
A user should be able to query: a) if we are TCP connected and b) if we are online.

Errors should probably be more verbose too, and include a boolean to check if it was auth, at least.

[2016-08-03 13:36] RangerMauve commented on #443
Try compiling `./lib/connect/index.js` instead. That's the entry point that Browserify uses.

[2016-08-03 13:38] RangerMauve commented on #443
Also, have it ignore the "fs", "tls", and "net". This is all specified in the [browser field of the package.json](https://github.com/mqttjs/MQTT.js/blob/master/package.json#L42). Browserify should be doing this automagically, but I guess you'll need to fiddle with React Native or Webpack or whatever it is that you're using.

[2016-08-03 14:13] pewh commented on #443
Hi, @RangerMauve.

I've trying with: `webpack .lib/connect/index.js ./client.js --output-library mqtt --output-library-target commonjs2`, and it still show same error.

And I'm still confused what method should I use between browserify & webpack. I have test with browserify, compile with command `browserify mqtt.js -s mqtt > browserMqtt.js` or `browserify ./lib/connect/index.js -s mqtt > browserMq

[2016-08-03 14:50] RangerMauve commented on #443
Where are you running your webpack command from? Is it from within the `mqtt` folder with the source code for the client? If not, then you might want to make a small JS file which just contains

[code]

and build that instead.

[2016-08-03 16:08] pewh commented on #443
This is what I've done:

[code]

I guess I'm doing wrong :/

What is the file name for that small JS? index.js?

[2016-08-03 17:37] RangerMauve commented on #443
So, how are you then consuming the bundle you're creating from the rest of your code?

Ideally, your app's React Native code should just be calling `require("mqtt")`, and the React Native build tools should automatically require and bundle it for you.

[2016-08-04 04:07] pewh commented on #443
After `client.js` was created inside `node_modules/mqtt`, I call `import mqtt from 'mqtt/client` on React Native. There's no problem so far. But when I call `const client = mqtt.connect('ws://localhost:8080)`, I get an error `Could not determine host. Specify host manually`.

But if I'm just calling `require('mqtt')`, it throws an error

[2016-08-04 04:14] RangerMauve commented on #443
Try to import from `mqtt/lib/connect/index.js`

[2016-08-04 05:32] pewh commented on #443
Hello @RangerMauve , I get an error `Requiring unknown module "events"` on RN.
However, I'm still confused about browserify because it's the first time I use that. So I have a question.

1. I'm compiling with webpack `webpack ./lib/connect/index.js ./client.js --output-library mqtt --output-library-target commonjs2`, and file `node_modules/mqtt/client.js` will be created
2. On RN code, I just impo

[2016-08-04 12:47] WilliamHolmes opened #445 "FF 48 - Client will not connect"
Works on: Chrome 52, FF 47

MQTT: v 1.13.0
BROKER: Apache Apollo 1.7.1

The  HTTP GET doesn't seem to get upgraded to WebSocket.

FireFox 48 (Not Working)
![image](https://cloud.githubusercontent.com/assets/5538260/17403377/549bc108-5a4f-11e6-97f4-52fafd584c49.png)

FireFox 47 (Working)
![image](https://cloud.githubusercontent.com/assets/5538260/17405004/c8361130-5a55-11e6-8f59-e17ca0c4435e.png)

[2016-08-04 13:51] RangerMauve commented on #443
You don't need to compile the client with webpack if you're importing it from within your react-native project. Do you think you could post the commands you're running to build your project, as well as a snippit of the code you're using importing / using the module?

Also, I think the issue is that React-Native is missing a bunch of Node standard modules. You can install pure JS versions from NPM.

[2016-08-04 18:37] jameswhite commented on #339
@dashracer: https://github.com/mokjpn/hubot-mqtt/blob/master/doc/easy-rsa

The client and server must both agree on a CA. There's an included [mosquitto.conf](https://github.com/mokjpn/hubot-mqtt/blob/master/etc/mosquitto/mosquitto.conf) one can use for testing. the hubot-mqtt uses MQTT.js.

[2016-08-06 07:17] anhldbk commented on #441
@mcollina What do you mean by: `TCP connected` and `online` ?

[2016-08-08 13:24] RangerMauve commented on #441
@anhldbk I think he meant
- When the actual socket connection (either plain TCP or Websocket, or whatever else) gets established
- When the initial handshaking packets have been exchanged

[2016-08-09 07:58] JuanRamino opened #447 "TLS conection"
Hi,

I'm trying to connect to a TLS broker with no results.
Usually I connect with mosquitto_sub:
[code]
But when I run this code
[code]
I get no output, no errors, nothing...
What's wrong in my options?

Thanks

[2016-08-09 11:36] mckn opened #448 "WebSockets - authentication error on connect does not emit error event."
Hello,

To start, thanks for a great client!

I found a small issue, if I try to connect via ws to a mqtt server with invalid credentials the client does not emit the error event as it does if I do the same without ws.

Could this be fixed in any way? Would be nice with the same behaviour in both cases.

Best regards,
Marcus

[2016-08-09 15:57] orlandodemauro commented on #445
issue related to https://github.com/feross/buffer/issues/120, it is fixed in buffer 4.9.0.

here the tree

 webpack@1.12.14
- node-libs-browser@0.5.3
`-- buffer@3.6.0

 webpack@1.13.1
- node-libs-browser@0.5.3
`-- buffer@3.6.0

webpack@2.1.0-beta.20
- node-libs-browser@1.0.0
`-- buffer@4.9.0

[2016-08-09 17:08] WilliamHolmes commented on #445
FF48 - We're using Webpack 1.12.14

We'll update and verify.

Thanks.

[2016-08-09 18:37] priyanka8929 opened #449 "TypeError: Argument must be a string"
Hi,

I am using aws-iot-sdk in NodeJS which uses MQTTS protocol. I am getting the following error repeatedly at random times during the day. _NOTE: The device is using a cellular connection(AT&T)_

I tried debugging it and got the following stack trace for the error. It looks like it's happening when **drainOperationQueue()** tries to publish a message after connection has been established. I am n

[2016-08-09 18:48] RangerMauve commented on #449
Can we see what's around line 203 in `iot_device_test.js`?

[2016-08-09 21:01] #449 closed

[2016-08-09 22:32] priyanka8929 commented on #449
@RangerMauve

I found the problem. I was trying to publish the error object, instead of error.message at line 203.

Thanks for looking into it!!

[2016-08-16 06:40] mcollina commented on #447
you should use `cert`  in place of `certPath`. Not sure _why_ it is not emitting a proper error.

Anyone that wants to dig into this and send a PR?

[2016-08-16 15:06] mcollina commented on #445
Any updates on this?

[2016-08-16 15:11] orlandodemauro commented on #445
@mcollina the issue is when mqtt is used whit webpack 1.x.. I created a PR in webpack but it haven't been merged yet.

[2016-08-17 08:00] mcollina commented on #441
Yes exactly @RangerMauve.

[2016-08-17 17:24] WilliamHolmes opened #450 "Client doesn't send queued packets in the correct order (after reconnect)."
I've noticed If there is a network disconnect and messages (payloads) are published they get saved to client.queue (<array>)

I've checked the queue and these are in the correct order.

When the client reconnects, the payloads doesn't seem to have been published in the correct order.
ie. shift

In my case

mqtt v1.13.0
host: **wss**://my_server_hostname
client > queueQoSZero : false
Message payloa

[2016-08-17 17:45] mcollina commented on #450
Which broker are you using? In any case, try version 1.14: I've released it today, with some improvement on the offline mode.
I don't have time to help debug this, but I'm happy to review a PR.

[2016-08-18 08:40] orlandodemauro commented on #445
@mcollina @WilliamHolmes issue fixed, new node-libs-browser package delivered ( v0.6.0). it will be automatically picked by webpack 1.x. this issue can be closed. thanks

[2016-08-18 09:21] #445 closed

[2016-08-19 09:53] jonahzheng commented on #440
@anhldbk yes.
I found that mqttjs has qos.

mqtt.Client#subscribe(topic/topic array/topic object, [options], [callback])
Subscribe to a topic or topics
    options is the options to subscribe with, including:
        qos qos subscription level, default 0

[2016-08-22 09:49] alexellis opened #452 "Is a HTTP_PROXY supported?"
Hi,

How does this work behind locked-down networks i.e. where a HTTP_PROXY is the only means to reach the internet?

Is a HTTP_PROXY supported?

Thanks

[2016-08-22 11:23] mcollina commented on #452
I never had the issue.

I assume you want to tunnel a websocket connection through a proxy (which proxy support those?). Internally we use https://www.npmjs.com/package/ws, so you should check if that works out of the box: we do nothing special here to support proxies.

Keep us updated on your findings!

[2016-08-23 08:58] JuanRamino commented on #447
Thanks Matteo,

I tried your solution but the result is the same.
How can I debug it?

[2016-08-23 09:03] mcollina commented on #447
If `cert`  is the file of the certification authority, you should use the `ca` option: https://github.com/mqttjs/MQTT.js/blob/master/test/secure_client.js#L94-L99

[2016-08-23 09:31] JuanRamino commented on #447
Now it works!

I use this options:
[code]

Grazie Matteo, great job

[2016-08-23 09:31] #447 closed

[2016-08-23 16:53] brandly opened #453 "client.end() sometimes returns `true`"
[Here's the line of code.](https://github.com/mqttjs/MQTT.js/blob/1fdc85dbda2270aca21c29009e6fd0f91258d0bc/lib/client.js#L437)

The comment above the method specifies `@returns {MqttClient} this - for chaining`, but doesn't this occasional `Boolean` prevent you from safely chaining?

[2016-08-23 17:00] mcollina commented on #453
can you send a PR that fixes it? Maybe with unit tests.

[2016-08-24 14:59] panagorn opened #454 "packet not send callback"
is there a packet not received callbackon published event? On published the callback says that i call if the client disconnecting

[2016-08-24 16:09] mcollina commented on #454
The callback is always called.

[2016-08-24 16:09] #454 closed

[2016-08-25 01:14] anhldbk opened #456 "About MQTT last wills"
@mcollina Is there any API (or spec) for updating last wills?

[2016-08-25 07:02] mcollina commented on #456
No there is not.

[2016-08-25 07:02] #456 closed

[2016-08-25 07:18] #453 closed

[2016-08-26 11:44] sandro-k commented on #456
@anhldbk disconnect and connect :)

[2016-08-29 03:51] anhldbk opened #457 "Question about TLS clients"
I'm reading the example code of [TLS clients](https://github.com/mqttjs/MQTT.js/blob/master/examples/tls%20client/mqttclient.js).

Would you please tell me: what are options `keyPath`, `certPath`, `ca` for?  Is the code implementing client-side-certicated clients?

Actually, my use case is: I have a server with a self-signed certicate. Let's assume that I have a way to securely transfer the public

[2016-08-29 05:41] ralphtheninja commented on #457
The public key is public, so it doesn't need to be transferred securely. Just FYI :)

[2016-08-29 06:43] anhldbk commented on #457
@ralphtheninja Man in-the-middle attack can fake public keys. Just FYI :3

[2016-08-29 07:30] mcollina commented on #457
@anhldk would you mind adding a little guide with Mosquitto or Mosca on how to setup all of this? It's probably the most asked question, and it seem we need some more how-tos in the area.

1. the *Path version should not be use and are deprecated
2. it all just works as the tls module from core

[2016-08-29 07:37] anhldbk commented on #457
@mcollina Currently I have no idea about TLS-configured clients. Would you mind explaining it a little bit?

[2016-08-29 07:43] mcollina commented on #457
Which part of https://nodejs.org/dist/latest-v4.x/docs/api/tls.html#tls_tls_ssl are not clear? You can pass the same options in the same places.

[2016-08-29 09:13] ralphtheninja commented on #457
I stand corrected! :)

[2016-08-29 14:14] anhldbk commented on #457
@mcollina Ok! I read the TLS documentation. Let's me see what I can help.

[2016-08-29 15:34] anhldbk commented on #457
@mcollina Should the tutorial be in a separated file or in `README.md`? I think it's better to get the tutorial placed in `examples/tls server`.

[2016-08-29 16:29] mcollina commented on #457
@anhldbk That's good. Also, add a link on the README for that to the tutorial "if you have TLS errors, go here".

[2016-08-31 00:27] #440 closed

[2016-09-01 15:23] mcollina commented on #435
Closing because of no activity.

[2016-09-01 15:23] #435 closed

[2016-09-01 15:29] mcollina commented on #99
This was fixed sometime ago.

[2016-09-01 15:29] #99 closed

[2016-09-01 15:29] mcollina commented on #107
There is no fixed number of reconnect attempts, but you can implement it on top using events.

[2016-09-01 15:29] #107 closed

[2016-09-01 15:30] mcollina commented on #126
This was implemented LOOOONG ago in v1.

[2016-09-01 15:30] #126 closed

[2016-09-01 15:30] mcollina commented on #244
Closing for now.

@gorhgorh feel free to send that PR in case!

[2016-09-01 15:30] #244 closed

[2016-09-01 15:34] gorhgorh commented on #244
Sorry I totally forgot about this thing ... will try to have a look at it soon !

[2016-09-01 15:35] #431 closed

[2016-09-01 15:39] mcollina commented on #352
Closing.

[2016-09-01 15:39] #352 closed

[2016-09-01 15:40] mcollina commented on #314
Closing, feel free to reopen if needed.

[2016-09-01 15:40] #314 closed

[2016-09-01 15:40] mcollina commented on #317
Fixed long ago.

[2016-09-01 15:40] #317 closed

[2016-09-01 15:40] mcollina commented on #323
Probably fixed, feel free to reopen in case.

[2016-09-01 15:40] #323 closed

[2016-09-01 15:41] mcollina commented on #259
Closing as v2 will remove the server counterpart.

[2016-09-01 15:41] #259 closed

[2016-09-01 15:41] mcollina commented on #277
@djensen47 feel free to send a PR whenever you want on this :). Closing for now.

[2016-09-01 15:41] #277 closed

[2016-09-01 15:41] mcollina commented on #278
Closing, feel free to reopen.

[2016-09-01 15:41] #278 closed

[2016-09-01 15:41] #279 closed

[2016-09-01 15:42] mcollina commented on #308
Sorry for not replying earlier. I hope you solved your issue.
I'll reopen if needed.

[2016-09-01 15:42] #308 closed

[2016-09-01 15:43] mcollina commented on #337
Closing, if somebody is still interests we'll reopen.

[2016-09-01 15:43] #337 closed

[2016-09-01 15:43] #292 closed

[2016-09-01 15:44] mcollina commented on #302
Fixed in https://github.com/mqttjs/MQTT.js/pull/303.

[2016-09-01 15:44] #302 closed

[2016-09-01 15:44] mcollina commented on #298
Closing.

[2016-09-01 15:44] #298 closed

[2016-09-01 15:44] #293 closed

[2016-09-01 15:45] mcollina commented on #333
Was this fixed?

I'm closing for now, as there seem to be no interest in supporting IE10, and time is passing by.

[2016-09-01 15:45] #333 closed

[2016-09-01 15:45] #325 closed

[2016-09-01 15:46] mcollina commented on #283
TLS-PSK is not available in Node.js, when that will be added it would be supported in piggyback.

[2016-09-01 15:46] #283 closed

[2016-09-01 15:46] mcollina commented on #339
I think all of this is fixed.

[2016-09-01 15:46] #339 closed

[2016-09-01 15:46] #307 closed

[2016-09-01 15:47] mcollina commented on #270
I think this was fixed.

[2016-09-01 15:47] #270 closed

[2016-09-01 15:50] mcollina commented on #378
Sorry about not replying early. Feel free to reopen or send a PR if this is still an issue.

[2016-09-01 15:50] #378 closed

[2016-09-01 15:50] #373 closed

[2016-09-01 15:50] mcollina commented on #443
Closing as I think it was fixed.

[2016-09-01 15:50] #443 closed

[2016-09-01 15:51] mcollina commented on #419
Closing with no activity. Feel free to reopen if this is still a bug for you.

[2016-09-01 15:52] mcollina commented on #377
Fixed.

[2016-09-01 15:52] #377 closed

[2016-09-01 15:53] mcollina commented on #383
Closing for now. Feel free to reopen and/or send a PR.

[2016-09-01 15:53] #383 closed

[2016-09-01 15:53] #384 closed

[2016-09-01 15:53] knolleary commented on #419
Has anything been done to address the bug? Apologies for not following up with a pr by now, but this is a real issue.

[2016-09-01 15:54] mcollina commented on #392
Closing for no activity.

[2016-09-01 15:54] mcollina commented on #424
Closing, see #457.

[2016-09-01 15:54] #424 closed

[2016-09-01 15:56] #432 closed

[2016-09-01 15:57] mcollina commented on #398
It might have been fixed. If not, feel free to reopen.

[2016-09-01 15:57] #411 closed

[2016-09-01 16:00] mcollina commented on #365
The server will be removed in v2.

[2016-09-01 16:00] #365 closed

[2016-09-01 17:20] mcollina commented on #419
Unfortunately not, would you mind to send a PR, or at least add a quick unit test to reproduce? Those are tricky to produce :(.

[2016-09-01 19:38] WilliamHolmes commented on #422
? No explanation or feedback before closing?

[2016-09-01 19:41] RangerMauve commented on #422
Well, the issue is related to calling `.end()` before the `connect` event occurs, as far as I can tell. Either your code needs to anticipate this, (maybe not calling `.connect()` if you already know it shouldn't be connected), or we need to figure out how to handle in in the library. And I'm guessing a PR for that would be welcome, though it seems to be a bit of an edge case.

[2016-09-01 20:53] djensen47 commented on #277
Sorry, probably won't happen. No longer working on Road Rules so no longer using MQTT. 😞

[2016-09-01 21:35] mcollina commented on #422
It seemed solved, and there was no activity (and in many other issues). I did a lot of activity.

It's still missing an example on how to reproduce or a PR.

[2016-09-01 21:39] WilliamHolmes commented on #422
I did move to the most recent version and change our approach. On the most part it seems to behave but noticd when we called end(true, callback) during a reconnection the call back isn't called. I'll open a issue tomorrow.

[2016-09-02 04:58] #422 closed

[2016-09-02 06:10] mcollina commented on #441
This was fixed and released in 1.14.1.

[2016-09-02 06:10] #441 closed

[2016-09-02 06:12] mcollina commented on #448
Hi @mckn,

Sorry for not noticing this issue before. Probably it's a bug, either in the server you are using or in MQTT.js. Can you please add a script to reproduce?

Cheers,

Matteo

[2016-09-02 07:01] sandro-k commented on #333
This is not fixed yet, but currently we are not getting any IE10 traffic and therefore no errors. If the need to support IE10 pops up again I will reopen this issue.

[2016-09-02 08:42] tuukka commented on #278
Thanks, this was actually a problem in the NodeJS websocket library and fixed by this pull request: https://github.com/websockets/ws/pull/494

[2016-09-03 00:05] rossjourdain commented on #209
Hey @mcollina, I'd quite like to use this but I'm not sure how to prevent the puback from going out if I haven't managed to take care of the message yet.  Is that possible now?

[2016-09-03 06:49] mcollina commented on #209
@rossjourdain it has been possible for over a year. Maybe the docs are not great (please send PR :P), and definitely there is an issue with #425. Add an `handleMessage` function to the client, and call the callback when you are done.

Any contribution/help into the project is welcomed!

[2016-09-05 09:18] rossjourdain commented on #209
I'm more that happy to contribute how ever I can once I get my head around this ;)
I can't seem to find any examples of the handleMessage process.

When I set the handleMessage function, it fires no trouble but the puback packet goes out regardless.  From my reading of the code, there's no way anything but that can happen.

I guess one way to do it is to make handleMessage take a success callback

[2016-09-05 12:59] iharyadi commented on #450
Hi I am using RabitMQ version 3.6.5.  I am seeing the same issue with 1.14.1.

Anything I can help to debug this issue?

[2016-09-05 13:56] mcollina commented on #209
Just to clarify, I think that's not ok to have two functions.
I think that we **must** ACK a message, independently of the error. If the callback is called with an `'error'`, we should probably forward that `'error'` to the client itself.

[2016-09-05 13:57] mcollina commented on #450
Use a debugger, and understand why the messages are pulled off-order, and then send a pull request.

[2016-09-05 14:53] iharyadi commented on #450
Thanks for a quick response.

I am just learning node and mqtt.  This is literally my second hours playing with it.  I try to install node-inspector.  It crashes for 6.4.  There is a bug there.  I will get my debugging environment any time soon.

For now,  here is what I did.  I change my broker to mosquitto and use qos2.  It seems that I can get the  message in ordered with qos2.

I need qos2 in

[2016-09-10 14:51] wuhkuh opened #458 "util.inherits deprecated"
Good afternoon,

after looking in the source files in 'server.js' I found the following lines:
[code]

A lookup on the node.js documentation got me this:

Are there plans to update this code to the latest standards?

[2016-09-10 15:01] mcollina commented on #458
MQTT.js v2 will remove the support for Server ans SecureServer, as they are misleading.

[2016-09-10 15:01] #458 closed

[2016-09-13 18:08] miotabbott opened #460 "A poor connection can cause a single packet to be sent many time on reconnect. Multiple duplicated subscriptions will kill the AWS IoT connection and will not recover."
In certain situations a packet from the client `outgoingStore` can rewrite the `outgoing` callback for the packet to reference the `outgoingStore` flushing code (an anonymous function in `storeDeliver`) recursively on each unack'd packet.

AWS IoT does not tolerate many duplicate ack'd subscription messages and will kill the connection when this happens.

Unit test and fix in the works.

[2016-09-13 21:13] mcollina commented on #460
Thanks, a PR is highly welcomed!

[2016-09-13 21:25] miotabbott commented on #460
As a fun bonus, the unit test exhibits issue #450

[2016-09-14 20:14] hijklmno opened #461 ""Could not determine host" on mqtt.connect() in a WebWorker"
Hi guys,

Awesome work with MQTT.js! I currently use it with mosquitto 1.4.10.

I have a use case where I am publishing around 10-20 times per second from the chrome client, mostly from metrics, which is not urgent. I noticed that the messages are being queued before sending it out, to the tone of around 10 publishes per second max. (I tested this using `setInterval()`) Thus, when I need to send s

[2016-09-15 07:13] sandro-k commented on #461
Hey @hijklmno I started a little project a while ago [mqttWorker](https://github.com/mqttjs/mqtt-worker) to provide the same api MQTT.js API but do all MQTT work in a WebWorker. The project is not ready but you can have a look at it.

To fix the `var document.URL` I just create the `document` in the beginning of the Worker see [mqttWorker.js#L25](https://github.com/mqttjs/mqtt-worker/blob/master/m

[2016-09-15 14:25] #166 closed

[2016-09-15 14:25] #348 closed

[2016-09-15 14:25] #382 closed

[2016-09-19 07:26] willin commented on #442
how about nativescript?

a bit like react-native

[2016-09-19 07:28] willin opened #462 "Cannot work with nativescript"
#442

how about nativescript?

a bit like react-native

[code]

there is no `window` in native.

[2016-09-19 07:56] mcollina commented on #462
I do not know what nativescript is, but I'm happy to accept a pull request that solves the issue.

[2016-09-19 08:02] mcollina commented on #461
@sandro-k can we fix this issue here?

[2016-09-19 14:19] RangerMauve commented on #462
This seems to be something that should be addressed in the ws module. https://github.com/websockets/ws

[2016-09-19 15:26] mcollina commented on #461
@hijklmno prs are always welcome!

[2016-09-19 15:31] hijklmno commented on #461
@mcollina Okay I'll try to make time this week. Haven't looked into MQTT.js source code in depth yet. Will link back when ready.

[2016-09-21 22:09] kranthisai opened #463 "Need example to use mqtt.Client(streamBuilder, options)"
Hi,
    I am trying to use socks5 proxy to connect to mqtt broker. can anybody post a sample script on using

mqtt.Client(streamBuilder, options). especially streambuilder,

[2016-09-22 06:36] mcollina commented on #463
I have __never__ used socks5 with MQTT, so there are no examples.
However, it would be great to have one? Do you mind sending a PR?

I would suggest you to look at https://github.com/mscdex/socksv5.

[2016-09-22 22:55] kranthisai commented on #463
We were able to use socks5 with Mqtt. Thanks for your link. I already tried that before, but couldn't succeed before, but now working fine. Tested on both IBM and AWS MQTT brokers. I will try for PR, never done it before..

[2016-09-22 22:55] #463 closed

[2016-09-26 07:24] zzzbatmand opened #464 "Cannot read property 'replace' of null"
When i try to run the default example code i get this error:

[code]

[2016-09-26 07:38] zzzbatmand commented on #464
Found the problem. I forgot the "mqtt://" in the connection.

Btw, it also seems to have some problems connecting to an ip address instead of a url.

[2016-09-26 11:30] mcollina commented on #464
I think we should catch those situations and emit a proper error! Would you like to send a PR?

[2016-09-26 13:33] zzzbatmand commented on #464
I am not that good at git, but all it needs is "mqtt://" in the `var client  = mqtt.connect('muqtt://custom.url')` function, before the url or else the /lib/connect/index.js file would complain about replacing in null (witch would be the "mqtt://" that it got parsed by `opts = xtend(url.parse(brokerUrl, true), opts)` at line 60)

So if you could see if the input started with "mutt://" to make sure

[2016-09-26 14:26] mcollina commented on #464
Contributing a pull request is an easy way to learn git, and get familiar with node.js tooling.
I have no time to tackle this, so feel free (you or anyone else), to send a pull request.

[2016-09-26 15:13] kmamykin opened #465 "Can not specify encoding in v2. Why?"
Seems like in v2 there was a breaking change to remove `encoding` from options and all strings are encoded as text.

The problem I am facing right now is when connected to AWS IoT mqtt gateway over WebSocket, the gateway drops connection with "Text or Continuation frame is not supported" error.

It happens initially when sending "connect" packet and `protocolId` and `clientId` are encoded as text

[2016-09-26 16:53] ralphtheninja commented on #464
@mcollina I'm on this. But how should we handle this? If a string is passed in e.g. `test.mosquitto.org` instead of `mqtt://test.mosquitto.org` should we default the protocol to `mqtt`?

[2016-09-26 17:29] RangerMauve commented on #464
@ralphtheninja If you choose to have a default protocol, make sure to take into account whether you're in the browser, as well.

[2016-09-26 17:30] mcollina commented on #464
I think we should just throw if the protocol is missing, but with a more meaningful error

[2016-09-26 17:38] mcollina commented on #465
This was not wanted, and in case it is a bug.
The problem you are describing is Websocket specific.

I think a similar issue was fixed in the latest release of websocket-stream. Can you please check if you are using the latest version?

Can you please upload a script and instructions on how to reproduce this problem?

If you are using this from AWS-IoT-sdk, it might be better to include them in tr

[2016-09-26 19:30] #464 closed

[2016-09-27 19:49] pguerin-miovision commented on #460
@mcollina Any idea of the typical turn around time to accept and publish a pull request like this once it's ready?  Trying to sort out some short term options if we think it could be a while before this makes its way through. Thanks in advance for any feedback!

[2016-09-27 20:34] mcollina commented on #460
@pguerin-miovision roughly days or at most a week, as you can see from past prs. We all do this in our free time: if you want you can help.

[2016-09-28 14:16] miotabbott commented on #460
Patch for master up #468.
Build bot for #467 passed with build 779.

[2016-10-04 20:06] arunbangari opened #474 "Missing secure protocol key"
Hi,
When I run the mqttclient.js in the tls client example, I get the following error
# node mqttclient.js
/root/node_modules/mqtt/lib/connect/index.js:103
      throw new Error('Missing secure protocol key')
      ^

Error: Missing secure protocol key
    at Object.connect (/root/node_modules/mqtt/lib/connect/index.js:103:13)
    at Object.<anonymous> (/root/node_modules/mqtt/examples/tls client/

[2016-10-04 20:15] arunbangari commented on #474
Solved. As mentioned in one of the comments in #339 specifying mqtts://host in connect solves the problem. Thanks!

[2016-10-04 20:15] #474 closed

[2016-10-05 04:13] tchinou1 opened #475 "Message.toString() comparison"
Hi guys ! I'm trying to compare the message.toString() in a IF statement, and I don't understand why it is not working.

In my code, the console.log output "test" but the if statement returned false (it doesn't run).

Can anybody telling my the message converted to a string can't be compared ?

Thanks
[code]

[2016-10-05 08:03] ralphtheninja commented on #475
@tchinou1 If the comparison is false then the string doesn't equal "test" :) Do you have a newline or something in your message?

[2016-10-09 17:45] tchinou1 commented on #475
I think I did, I added .trim() and now it's working !

Thanks :)

[2016-10-09 22:53] ralphtheninja commented on #475
Cool. Please close issue! Or maybe @mcollina can do that :)

[2016-10-10 06:51] #475 closed

[2016-10-13 07:31] jinyuting commented on #442
@pewh so is that done? Does the client.js work for you? i met the same problem, the lib does not work with ReactNative....

[2016-10-13 11:56] pushkarsrawat opened #476 "on reconnect , new connections start with the old ones"
I trying to  flood the broker with publish messgaes, now if i have 4 concurrent connections which are publishing messages and now if server/broker goes  offline and after they reconnect.. the 4 connection resume (required) publishing but also 4 new connections also start(need to avoid it).

[code]

[2016-10-13 12:38] mcollina commented on #476
Can you please upload a full example with the problem?

[2016-10-13 12:57] pushkarsrawat commented on #476
i am new learner of node js and mqtt.
[mqtt.txt](https://github.com/mqttjs/MQTT.js/files/527118/mqtt.txt)
condition : messages are being published on cocurrent open connections. If i close the node server in between , it goes offline and tries to reconnect, when i restart the server , it connects earlier connections resumes but new connections also start.
for eg i want to have 10 open connection p

[2016-10-23 16:13] kintel opened #477 "node.js: wss protocol default to port 80 instead of 443"
The node.js (non-browser) connection builder defaults to port 80 for wss connections, while the browser-equivalent sets the port to 443.
See https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/ws.js#L19

Since mqttjs swallows connection errors, this may cause hard-to-debug connection issues.

Should we add similar code here for defaulting the port to 443 for wss connections?

[2016-10-23 17:26] mcollina commented on #477
Yes we should. Would you like to contribute a PR?

[2016-10-23 17:52] kintel commented on #477
sure, I'll look into it.

[2016-10-24 07:06] #477 closed

[2016-10-25 09:55] japita-se commented on #448
I confirm this.
I am using browserified version of MQTT.

`<script src="assets/js/browserMqtt.js"></script>`

I am using the authenticate and authorize hooks, as in the WiKi.
With invalid credentials, the server behaves correctly, but no information are returned back  to the client.
For instance, in the web page:

[code]

 Same for other methods (subscribe).
In other words, the client has no way t

[2016-10-25 12:34] mcollina commented on #448
Can you please upload a full example? It's really hard to debug in this way.

[2016-10-26 10:23] aedart opened #479 "rollup, es6 support?"
At the moment, it is very difficult to get the mqtt module to work with rollup. Therefore, I am wondering when you are going to release this package as es6?

[2016-10-26 10:35] mcollina commented on #479
As far as I understand, this questions revolves around ES6 modules, and not other ES6 features. If this is not the case, please explain.

MQTT.js will be based on ES6 modules when it could run on top of any supported version of Node without a transpilation step. Currently this number is zero, so it will probably take a few lts cycles to get there.

Anyway, I am very happy of accepting any PRs that

[2016-10-26 10:52] aedart commented on #479
I wish that I had a good solution, but at the moment, I'm not even able to run a single connect test, because of [commonjs'](https://github.com/rollup/rollup-plugin-commonjs) failure to resolve nested dependencies. I have no idea why, and therefore "fishing" for help anywhere I can...

See https://github.com/rollup/rollup-plugin-commonjs/issues/134 for further info.

Anyways, ty for your reply.

[2016-10-26 10:55] mcollina commented on #479
closing this now. Feel free to open issues if it turns out it's MQTT.js fault.

[2016-10-26 10:55] #479 closed

[2016-10-27 07:50] 256dpi opened #480 "WebSocket Message Type"
Hi @mcollina

Is the shift to the TextMessage type in 2.0 away from the BinaryMessage type intended?

AFAIK there is no written standard that the BinaryMessage has to be used, yet I have the feeling that would more match the MQTT protocol as the serialized packets are a binary stream.

[2016-10-27 07:55] mcollina commented on #480
Can you please rephrase it?

If I understand it correctly, that issue should be solved, and it should be moving binary data only now.

[2016-10-27 08:04] 256dpi commented on #480
I just created a browser lib from MQTT.js 2.0.1 using browserify and my broker rejected the connection as the messages are sent using the TextMessage WebSocket message type. My latest build from 1.4.0 still uses the BinaryMessage.

[2016-10-27 08:07] mcollina commented on #480
Are you on https://github.com/maxogden/websocket-stream v3.3.0?
In the browser or on node?

[2016-10-27 08:09] mcollina commented on #480
It might be a bug there, I have probably fixed it for Node, but not for the browser: https://github.com/maxogden/websocket-stream/blob/master/stream.js#L63-L83.

[2016-10-27 08:09] 256dpi commented on #480
Yes npm installed v3.3.0.

I was testing with Safari and a recent Chrome.

[2016-10-27 08:10] mcollina commented on #480
See my last comment. I'm stuck for the next couple of days, would you like to send a PR to websocket-stream?

[2016-10-27 08:14] 256dpi commented on #480
I'll first make a fix for shiftr.io and look into it if I have time. ;)

[2016-10-30 20:02] eharrow opened #481 "Binary support (zlib compressed data)?"
I'd like to be able to publish and subscribe to compressed i.e. binary data.  I am using pako (zlib wrapper) to compress JSON and publishing to a queue but for the life of me I can't figure out how to get the payload in and out.  I know you will think this is a pako issue but I can quite happily inflate and deflate normally but can't inflate the buffer at all on the message received in onMessage()

[2016-10-30 20:10] sjmf commented on #480
I've just noticed something I suspect may be related to this issue in one of my own projects (reference from commit a2d68b9): fixing the MQTT.js version at 1.14.1 made my code work again :)

My symptoms were that the broker (ActiveMQ) would close the connection immediately with a `java.io.IOException`, but I'm not sure how to check the message type being sent to tell you for sure if it's related t

[2016-10-31 06:49] heppoko-samurai opened #482 "Cannot connect VerneMQ Broker using v2.0.1"
Hi,
I'm using the VerneMQ (https://vernemq.com/) MQTT Broker.
When I use "v1.14.1" of MQTT.js, I can connect to VerneMQ MQTT Broker  from browser (using Websocket). But I can NOT connect when I use latest version (v2.0.1).

Information

- Browser: Google Chrome (Windows10 PC)
- MQTT.js: browserMqtt.js  (about https://github.com/mqttjs/MQTT.js#browser)
- Broker: VerneMQ

[code]

[2016-10-31 08:39] NancyZY commented on #364
@AdamMiltonBarker  Have you solved the  problem? I meet too.

[2016-10-31 09:58] AdamMiltonBarker commented on #364
Yes I stopped using this client.

[2016-10-31 12:24] 4rzael commented on #481
The protocol MQTT is supposed to be content agnostic, so you should be able to send any types of packets. Even binary ones.

If I record correctly, I used MQTT.js (v1.5 or something like that at the time) with protobuf encoded packets (so, binary), and zipped ones, and it worked, but I've never used Pako so I'm not really helpful.

I don't have the time to take a look at it right now, sorry.

What

[2016-10-31 14:03] RangerMauve commented on #482
Are there any errors being thrown in the console?

[2016-11-01 01:15] TangMonk opened #483 "Browserify and webpack compile to browser library cannot connect to mqtt broker"
I am using [erlang emqtt](https://github.com/emqtt/emqttd) as broker, I can connect using nodejs, but cannot connect with browserify and webpack compiled `browserMqtt.js`.

Here is broker error log:

[code]

[2016-11-01 01:42] heppoko-samurai commented on #482
No error message is shown in my console...
When I set "connect", "close" and "reconnect" event handler, I got the "close" and "reconnect" event.

Thank you.

[2016-11-02 14:35] natcl opened #484 "PSK support ?"
Any plans to support PSK based authentication ?

[2016-11-02 14:36] natcl commented on #484
Oops closing as this is a duplicate

[2016-11-02 14:36] #484 closed

[2016-11-04 09:45] NancyZY commented on #172
@mcollina,  @sandro-k ,  why I cannot accpt the message ?
sub topic : 'floor/+'
pub topic : 'floor/1'

[2016-11-04 09:49] sandro-k commented on #172
@NancyZY sub to `floor/+` and pub to `floor/1` is valid. As already mentioned the MQTT-Spec is saying what is possible and what not. A good explanation can be found at http://www.hivemq.com/blog/mqtt-essentials-part-5-mqtt-topics-best-practices

[2016-11-06 21:48] sclausen commented on #456
@anhldbk
An addition to the answer from @mcollina: Details about the will flag are in the [mqtt spec](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.pdf) in "3.1.2.5 Will Flag"

[2016-11-08 01:18] #483 closed

[2016-11-08 01:18] TangMonk commented on #483
that's my problem

[2016-11-08 09:26] NancyZY commented on #172
@sandro-k ,yeah, I got it. I want to ask for another aspect: What is the limit of subscribe ? In other word, How many topics sub-client  can accept  at most? and How to solve it ? Does it have a method to test the limit?

[2016-11-08 09:30] sandro-k commented on #172
42 - no just joking. As many as your System can handle CPU/RAM wise.

[2016-11-08 13:35] NancyZY commented on #172
Ooh, I knew it , thank you! It is a few number. How can I deal with the situation? I want to deal with the cloud  client which can sync status, then notify the mobile phone, it subscribe the topic like "floor/+" , but the number of publish topic is thousands. What can I do to run normally？

[2016-11-08 14:11] sandro-k commented on #172
It is a scalability issue you are facing. Split up hierarchy to support multiple processes and threads so that each process is doing a portion a the topics.

[2016-11-10 12:09] lpeterse opened #487 "Fix for #408 is incomplete ('sec-websocket-protocol')"
Issue https://github.com/mqttjs/MQTT.js/issues/408 noted that MQTT.js sent `Sec-WebSocketProtocol: mqttv3.1` even when protocol version 4 was set by the user.

This got fixed in https://github.com/RangerMauve/MQTT.js/commit/ec73f232c0db376a1611d22dc6768d6409468afd.
Unfortunately there is a similar constructor that has not been patched: https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/ws.j

[2016-11-11 09:39] NancyZY commented on #172
Hi, the whole process that subscribing  and publishing topic is right, BUT,  sometimes it happened wrong , the console hints **[Errno 54] Connection reset by peer**,  what is it? How can I solve it

[2016-11-11 10:46] hardillb opened #489 "mixing mqtt:// and mqtts:// servers"
On the `connect` function you can pass the `servers` key in the `options` object. The example shows `host` and `port` but not protocol. Is there a way to have multiple servers with multiple protocols?

My use case is that I have a client that I want to try and connect to a broker to the TLS port first and then fall back to the normal if it can't. (The reason is I have a service without TLS deploye

[2016-11-11 10:48] hardillb commented on #489
Actually, I've just re-read the doc and the bit about URL.parse makes this possible.

[2016-11-11 10:48] #489 closed

[2016-11-12 01:37] cordovapolymer opened #490 "move to uws as its a fastest ws implementation?"
As per [uWS README ](https://github.com/uWebSockets/uWebSockets/blob/master/README.md) its much faster tha WS which is used underneath MQTT.js WebSocket implementation.
`ws v1.1.0 + binary addons `	`µWS is 47x as lightweight` 	`µWS is 18x as performant` 	`µWS is 33x as performant `	`µWS is 2x as performant`

Would you consider moving to it?

[2016-11-12 09:33] mcollina commented on #490
This library uses `websocket-stream`, which has its own issues on how we are using it (see other reported issues on v2.0.x).

I think:

a. we should make `websocket-stream` pluggable, so that we can use it with `uws`.
b. make `websocket-stream` behave like a true binary stream, which currently does not.

I'm co-maintaining that library, so send PR there if you want to help :).

[2016-11-13 11:24] #487 closed

[2016-11-13 17:49] TotallyInformation opened #491 "Bug: Engine incorrect version in package.json"
According to the docs, MQTT.js no longer supports versions of node <1 but the engine setting is ">=0.8.6"

I think that should be changed to ">=1.0.0"

[2016-11-13 17:56] TotallyInformation opened #492 "Enhancement: Include browser version"
Hi, I use this library a lot but more often in the browser than in node itself.

It is a pain to have to manually create the browser version.

If you were to use browserify/webpack to create **`./dist/mqtt.js`** when you create a new version, not only would it be ready to use in the browser, it would also be picked up automatically by **`https://unpkg.com`** so anyone could use it directly in any

[2016-11-13 20:42] #491 closed

[2016-11-13 20:44] mcollina commented on #492
@TotallyInformation that would be an handy feature, yes!

[2016-11-13 20:46] TotallyInformation commented on #491
Phew, quick! Thanks.

[2016-11-13 20:53] #492 closed

[2016-11-13 21:01] mcollina commented on #492
@TotallyInformation I've just done a release. Please test (v2.1.0 still does not show up on unpkg, it might take a while)

[2016-11-13 21:10] mcollina commented on #492
Here it is: https://unpkg.com/mqtt@2.1.1/dist/mqtt.min.js.

[2016-11-13 21:10] mcollina commented on #492
Let me know if it works as expected.

[2016-11-14 05:22] heppoko-samurai commented on #482
Thank you for update.
I made the browerMqtt.js using the latest code (2.1.1) and tried to connect to VerneMQ broker, but I cannot connect, yet...

Addition:

1.  when I use this (2.1.1),  I cannot connect mosquitto, too - ws://test.mosquitto.org:8080)
2.  I see the following error message on the browser console.

Thank you,

[2016-11-14 08:31] TotallyInformation commented on #492
Wow! Thanks, great service 👍

I'll give it a go ASAP though I'm sure it will be fine. For reference, you can just do https://unpkg.com/mqtt/dist/mqtt.min.js to always get the latest version, it automatically redirects.

[2016-11-14 09:35] mcollina commented on #482
This is fixed in: https://github.com/maxogden/websocket-stream/pull/100, which has not hit npm yet.

[2016-11-15 18:34] japita-se opened #493 "Firefox/Chrome Different Behaviour"
I tested the example in Chrome. No problems.
However, in FF (linux, mac, windows) the connection does not start properlu.
In the debugger I see a lot of Switching protocol messages, but the browser seems to never switcht.
Mosca/Mqtt says : `{"pid":30882,"hostname":"octopus","name":"Octopus","level":20,"time":1479235321046,"msg":"closing client, reason: new connection request","client":"octopus_web

[2016-11-15 18:41] japita-se commented on #493
SOLVED.
With the webpacked versione it seems to work.

[2016-11-16 00:25] andyfenelon commented on #492
Im getting this error
following this example http://mitsuruog.github.io/what-mqtt/

[code]

[2016-11-16 08:45] mcollina commented on #492
@andyfenelon that is a duplicate of #482, and addressed in https://github.com/maxogden/websocket-stream/pull/100. You can rebuild the bundle with some custom code in `websocket-stream` and test.

[2016-11-16 18:36] andyfenelon commented on #492
ok thanks.

[2016-11-17 02:14] i8beef opened #494 "Mosquitto web socket connection fails"
I'm having some trouble connecting to a Mosquitto (1.4.10, was on 1,4,4 with same issue, upgraded hoping it was a problem there, no change) over web sockets. I can confirm I can connect to it via web sockets using (http://www.hivemq.com/demos/websocket-client/), so I don't think it's my setup...

Using https://unpkg.com/mqtt@2.1.1/dist/mqtt.min.js

On attempt to connect I'm getting "mqtt.min.js:7

[2016-11-17 08:13] #465 closed

[2016-11-17 08:13] #480 closed

[2016-11-17 08:13] #482 closed

[2016-11-17 08:24] mcollina commented on #494
Should be fixed in 2.1.2. Please check and revert.

[2016-11-17 08:24] #494 closed

[2016-11-17 08:24] mcollina commented on #482
Should be fixed in 2.1.2. Please check and let me know.

[2016-11-17 08:26] mcollina commented on #492
V2.1.2 released.

[2016-11-17 12:38] brianjang opened #495 "message event is emmited infinitely"
Hi. could you review my problem that is related "message" event?

from my test code :
[code here] https://github.com/brianjang/mqtt_test/tree/master/core/protocols

- mqtt_sub.js // has the current issue code part

- mqtt_pub.js // just only 1-time publish

- mqtt_test.js //this is for Redis, but it shows the same problem as mqtt_sub.js

**MY PROBLEM :**
if i add client.publish() into client.on("m

[2016-11-17 12:51] mcollina commented on #495
This happens because you are effectively creating an infinite loop, as the subscription `test/#` matches `test`.

This is how MQTT works.

[2016-11-17 12:51] #495 closed

[2016-11-17 12:58] brianjang commented on #495
Hi.

i modified topic from "test/#" to "test"
- topic in mqtt_sub.js
- and topic in mqtt_pub.js
(and all part is the same)
`var topic = "test";`
client.publish(topic, "published by mqtt broker", option, function (err) {
  console.log("mqtt_pub callback ===============".blue);
  if (err) {
    console.log("mqtt_pub callback error ===============".red);
    console.log(err);
  }
});

but the result

[2016-11-17 13:20] mcollina commented on #495
As I said test/# includes test.

[2016-11-17 15:37] i8beef commented on #494
Nope, still getting the same thing.

[2016-11-17 21:07] andyfenelon commented on #482
trying this with browserify & "mqtt": "^2.1.2"
still getting the error

[code]

[2016-11-17 21:09] mcollina commented on #482
Test version 2.1.3.

[2016-11-17 21:17] andyfenelon commented on #482
yup 2.1.3 is working. thanks!

[2016-11-18 01:27] brianjang commented on #495
I got it.
Thank you for your answer.

I have been using MQTT.js v1.x, and today i try to migrate MQTT.js v2.1.2.
i didn't use external mqtt broker, i only used MQTT.js/lib/server.js and mqtt-connect.
- mqtt-connect emit event 'publish', 'subscribe' : i worked this event to develop private push server.
my stupid question is started :) cause i was confusing event driven(in mqtt-connect) and just fun

[2016-11-18 07:47] mepdr opened #496 "subscribe to empty array"
Subscribing to an empty array causes an application disconnection and the subscribe callback is not called.
The testing app below prints:
[code]

[code]

[2016-11-18 07:54] mcollina commented on #496
Thanks for reporting, would you like to send a PR to fix this issue?

[2016-11-18 10:45] mcollina commented on #495
It's still not clear what you want to achieve. You can still use http://npm.im/mqtt-connection if you prefer.

[2016-11-18 22:04] i8beef commented on #494
2.1.3 fixed this. Thanks!

[2016-11-21 08:25] johnzeng commented on #496
According to MQTT 3.1.1 protocol ,  The payload of a SUBSCRIBE packet MUST contain at least one Topic Filter/QoS pair. A SUBSCRIBE packet with no payload is a protocol violation.

[2016-11-21 08:48] mcollina commented on #496
I think we should error on the client side, before  sending a message to the server.

[2016-11-21 10:02] brianjang commented on #495
the needed function in my side is round-robin function :+1:
https://www.rabbitmq.com/tutorials/tutorial-two-javascript.html
- specially "Round-robin dispatching"

is there any method to apply "Round-robin dispatching"? (in MQTT.js)
- or do i need a kind of scheduling algorithm by myself?

Thank you.

[2016-11-21 10:06] mcollina commented on #495
MQTT does not support that. If you need a subscriber on the "cloud" side of things, add it as a plugin inside the broker.

[2016-11-23 05:49] xiaochutian opened #499 "npm run browser-build failed"
npm ERR! Windows_NT 6.3.9600
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\
node_modules\\npm\\bin\\npm-cli.js" "run" "browser-build"
npm ERR! node v6.9.1
npm ERR! npm  v3.10.8
npm ERR! code ELIFECYCLE
npm ERR! mqtt@2.1.3 browser-build: `rm -rf dist/; mkdir dist/; browserify mqtt.j
s -s mqtt > dist/mqtt.js; uglifyjs --screw-ie8 < dist/mqtt.js > dist/mqtt.min.js
`

[2016-11-23 06:08] mcollina commented on #499
I'm sorry but that npm script has been written for Linux and Mac in mind. I do not have much Windows time to solve this. Would you like to send a PR?

[2016-11-23 14:54] helxsz opened #500 "how do i know the reason why MQTT client go offline"
I can see the event 'offine' ,but how do i know the reason why MQTT client go offline ?

[2016-11-23 23:13] gitawego opened #501 "certain messages lost when sending en masse."
in my application, I have a lot of database to be synchronized to a device (more than 500 records).
my code is similar to this:
[code]
with this code, the messages are randomly partially lost. the target device doesn't receive all the data in most of time.

but if the messages are sent one by one after publish callback, it works:

[code]

do you have any idea about this issue ?

we use mqtt.js in

[2016-11-24 07:50] mcollina commented on #501
You are trying to send all the messages in parallel: the broker is probably telling you that you cannot do that.

Try sending them one after another, using something like http://npm.im/async.

[2016-11-24 08:25] gitawego commented on #501
thanks for your reply. that's what I'm doing using mutex now.
it would be more convenient if mqtt.js could integrate a queue system though.

[2016-11-24 08:32] mcollina commented on #501
You can use http://npm.im/fastq

[2016-11-24 08:41] heppoko-samurai commented on #482
Sorry for late response.
I have confirmed that it (2.1.3) working fine.
Thank you!

[2016-11-24 09:15] gitawego commented on #501
thanks, gonna check this out.

[2016-11-24 09:15] #501 closed

[2016-11-25 11:22] kani-rifluxyss opened #502 "Server side client"
We need to have a client running on server and receiving all messages coming to broker, will subscribe using # wildcard, will it hit any kind of limit other than OS limits? I have a php based script running in a look and doing that for us (currently less than 5 users). I am thinking of switching to this node based app to replace that script.

Looking for some advise. Thanks in advance.

[2016-11-25 14:41] 4rzael commented on #502
I, personnally, never encountered any problems with a client running on the server.

I only did it with a small number (<100) of clients simultaneously connected to the broker, though, but I don't see why it should cause problems at scale.

[2016-11-25 14:46] 4rzael commented on #500
If I recall correctly, you can't.

Why do you want to do that ?

[2016-11-25 15:35] kani-rifluxyss commented on #502
ok thanks,

[2016-11-25 16:10] mcollina commented on #500
One thing we do not put a distinction on our side is if the connection closes or if we receive a DISCONNECT packet. That's the only difference we can do.
I'm happy to get a PR on that.

Closing this for now.

[2016-11-25 16:10] #500 closed

[2016-11-25 19:28] helxsz commented on #500
Hi, primarily it is for a debug reason.

[2016-11-26 11:47] helxsz opened #503 "how would I send Json ?"
I tried to send the json message but failed

[code]

I know it does't support json, but would be a better way to do it

[2016-11-26 18:09] ralphtheninja commented on #503
[code]

[2016-11-26 21:12] leontastic opened #504 "How do I subscribe to all topics?"
I tried subscribing to all topics by subscribing to the `#` wildcard:
[code]

I'm unable to receive any messages from the broker with this subscription. Subscribing to any other topic (including a wildcard or not) seems to work for me. Can someone explain why subscribing to wildcard `#` doesn't work?

[2016-11-27 01:51] leontastic commented on #504
It seems that subscribing to `+/#` achieves the result I'm looking for.

Still not sure why a subscription to `#` fails to receive messages completely.

[2016-11-27 03:11] jdiamond commented on #504
Does the topic start with a `$`? You don't receive notifications for those topics when subscribing to `#`.

[2016-11-27 15:24] helxsz commented on #503
Got it, thanks @ralphtheninja

[2016-11-27 15:24] #503 closed

[2016-11-28 00:32] ralphtheninja commented on #503
You need to do the opposite in `.on('message', fn)`, e.g.

[code]

[2016-11-28 18:23] leontastic commented on #504
Nope. I'm not interested in `$SYS` topics. My test consists of sending 'Hello World!' on these channels:

- `test`
- `test/test1`
- `test/test1/test2`

Subscribing to `#` doesn't seem to subscribe to anything at all. If I push retained messages to any topics in the broker, subscribing to `+/#` will get all of those retained messages on connection/reconnection, while a subscription to `#` remains s

[2016-11-28 18:28] RangerMauve commented on #504
What broker are you using? It might be related to that since this library doesn't do anything special to subscription topics.

[2016-11-28 18:37] leontastic commented on #504
I'm using [EMQTT](https://github.com/emqtt/emqttd).

I see a PR in this repository implementing topic validation: https://github.com/mqttjs/MQTT.js/pull/438.

Is it possible that MQTT.js contains validation logic which would block a subscription to `#`? A quick cursory review of that PR seems to contain logic specific to the `#` wildcard.

Here's the full diff: https://github.com/mqttjs/MQTT.js/pu

[2016-11-28 18:42] mcollina opened #505 "Integration tests on Github Actions for all OSS brokers"
It would be awesome to receive a contribution to do some integration testing against the major OSS brokers.

Something using Travis ENV support, or similar. It might even be a separate repo, feel free to discuss!

[2016-11-28 18:45] RangerMauve commented on #504
@leontastic Are you getting an error in the callback passed to `.subscribe`?

[2016-11-28 18:49] leontastic commented on #504
No, no errors.

I just tried connecting to another broker (public HiveMQ test broker `mqtt://broker.hivemq.com:1833`) and it seems that a subscription to `#` works there. Probably means this is an issue with EMQTT, not MQTT.js, so I'll close this issue for now and investigate on the other end.

Thanks @jdiamond @RangerMauve for the responses!

[2016-11-28 18:50] #504 closed

[2016-11-28 19:01] RangerMauve commented on #504
If possible, link back here if you find a solution so that others can follow your steps if they face this issue.

[2016-11-28 19:45] ralphtheninja commented on #505
@mcollina Do we have any integration tests implemented?

[2016-11-28 19:49] mcollina commented on #505
zero. But I think we should.

[2016-11-29 13:57] djflex68 opened #506 "random Cannot read property "forEach" of undefined"
Hello,

I'm getting the following error randomly while listening to event messages :

What could be going on ?

My code :

[code]

[2016-11-29 14:47] mcollina commented on #506
can you please send a full node.js example?

[2016-11-29 15:41] djflex68 commented on #506
After logging all events (connect, reconnect, close, offline), I noticed that I have a loop : connected -> offline -> recconect. I cannot figure out what is not working correctly.

Both problems could be linked. My code is currently in Typescript,  I will convert it to javascript for you if you want.

[2016-11-29 15:42] mcollina commented on #506
@djflex68 please do, and provide a full example that reproduces the issue reliably. Thanks!

[2016-11-29 16:13] sandro-k commented on #505
I am on board.. Lets start with something simple like Mosca and expand from there.

[2016-11-29 17:44] djflex68 commented on #506
This is the class I'm using (converted from Typescript to javascript) for managing my mqtt requests.
[code]

My parameters :
  "mqtt.server": "mqtt://xxx.xxx.xx.xxx",
  "mqtt.clientId": "foo",
  "mqtt.username": "bar",
  "mqtt.password": "bar",
  "mqtt.timeout": "30"

[2016-11-29 20:21] mcollina commented on #506
how do I run/use your code? Can you provide an example that I can run to reproduce your error?

[2016-11-29 20:24] mcollina commented on #505
I have no time to coordinate this :(. I would suggest we should start with Mosquitto and Mosca. Please go ahead and do it, I will be happy to review.

[2016-11-30 06:16] xiaoDC opened #507 "https website how to use mqtt via wss"
our website change http to https, so the browser reminds us to connect mqtt server via wss. I run the wss example, it does work.But when i use in the browser, it does not work!

[2016-11-30 09:51] djflex68 commented on #506
Ok I figured out what was causing this problem.
We use the same clientId in our team from several IP address. I think the broker was not very happy with that and was rejecting me, causing the connect/disconnect loop. This might explain my initial error.
For now I'll be using default random clientId mechanism.
Thanks for your support !

[2016-11-30 09:53] #506 closed

[2016-11-30 14:57] sandro-k commented on #507
Can you please post an example and what kind of error you are getting. Probably the MQTT-Server is not using the right SSL certificate!

[2016-11-30 17:13] xiaoDC commented on #507
I am sorry. It is our mqtt-server error. We does not use the right SSL certificate! It does work!

[2016-12-01 20:22] #507 closed

[2016-12-02 09:44] 4rzael commented on #505
I completely agree on this. I don't have time to help right now, but I'll be happy to do so when possible.

[2016-12-02 09:49] sandro-k commented on #505
I am trying to free some time next week.

[2016-12-03 09:36] OczkoSX opened #508 "Can't get code working."
Hi. I can't get following code working: http://pastebin.com/705JAcWz
What can be wrong? It doesn't print anything, I need to terminate it by CTRL+C.

[2016-12-03 12:18] #502 closed

[2016-12-03 12:18] #493 closed

[2016-12-03 12:19] mcollina commented on #481
Closing for no activity, feel free to reopen.

[2016-12-03 12:19] #481 closed

[2016-12-03 12:20] #415 closed

[2016-12-03 12:21] mcollina commented on #343
It might have been fixed. Feel free to reopen if not.

[2016-12-03 12:21] #343 closed

[2016-12-03 12:22] mcollina commented on #508
the code seems right. Does it work if you connect to test.mosquitto.org instead? Are the credentials correct?
Browser or Node?

[2016-12-03 12:44] OczkoSX commented on #508
I'll try later. Credentials are 100% fine, broker is Mosquitto on RPi. I'm using node. Does mqtt.connect return any errors? It doesn't print anything

[2016-12-03 13:44] mcollina commented on #508
try publishing in the subscribe callback.
Il giorno sab 3 dic 2016 alle 06:44 OczkoSX <notifications@github.com> ha
scritto:

[2016-12-03 13:55] OczkoSX commented on #508
Like that?:
client.subscribe('HAP/esp8266_1/#', function() {
  //publish
});

[2016-12-03 14:03] mcollina commented on #508
yes

[2016-12-03 19:36] OczkoSX commented on #508
Still nothing.

http://pastebin.com/7Yr69m7C

[2016-12-03 19:40] OczkoSX commented on #508
I don't know how, but It suddenly started working. Thanks for your help

[2016-12-03 19:40] #508 closed

[2016-12-04 06:24] chimit opened #509 "Connect on event"
Sorry for the stupid question, but how can I initiate a connection on another event? For example, on button push? I'm using MQTT.js in the browser.

[2016-12-04 09:04] mcollina commented on #509
You can't. you create the connection when the button is clicked.

[2016-12-04 09:04] #509 closed

[2016-12-05 03:16] chimit commented on #509
Sorry, @mcollina, maybe I'm not clear enough. I want to bind the connection to some event like this:
[code]
Is it still impossible?

[2016-12-05 06:34] mcollina commented on #509
Using the current API, yes.

I'm happy to discuss a semver-major contribution on this, if you are willing to help.

[2016-12-05 18:17] Manu3756 commented on #452
Hey,
I had the same issue.
it is not supported out of the box for wss (i only tested this way).
I use https-proxy-agent to create a agent object. (https://www.npmjs.com/package/https-proxy-agent)
You need to modify
\node_modules\mqtt\lib\connect\ws.js
[code]
**or**

[code]
in your app you can do sth like:

[code]

@mcollina
maybe sth you could fix?

[2016-12-05 18:24] mcollina commented on #452
Yes, but I have little time. Would you like to send a PR?

[2016-12-05 22:25] Manu3756 commented on #452
done.

[2016-12-06 22:46] ajoslin103 opened #513 "finding the slowdown"
I'm running on a mac, I'm using the mosquitto as installed by homebrew I've got a publisher written in python and a subscriber in chrome using mqtt.js and another subscriber as the MQTT.fx program.

The python job is publishing a [roughly] 2K message (stringified json)
For comparison: the same python job as a cgi script returning the same data

cgi script: the data is returned in [roughly] 1 secon

[2016-12-07 08:12] mcollina commented on #513
There should be no slowdowns on Node. Can you please check and verify?

I feel this MQTT.fx delivering receiving data over websocket or over TCP/TLS?

What is this CGI script you are mentioning?

[2016-12-07 14:36] ajoslin103 commented on #513
There is only one 'remote' script, with two wrappers -- one for MQTT and the other for CGI

The MQTT.fx is connecting via TCP - it doesn't have an option for websockets

If you can describe how I might help to debug this issue I would be very glad to do so !!

[2016-12-07 17:28] mcollina commented on #513
Can you try connecting with the MQTT.js client above to port 1883 without websockets from Node.js? I fear it might be websockets.

[2016-12-07 17:43] ajoslin103 commented on #513
ok, it's instant when via mqtt://localhost

where should I go next ?

[2016-12-07 23:16] mcollina commented on #513
I fear it's the websocket layer in Mosquitto or in this library, or a combination of the two. Are you using websockets from a Browser or Node?

Please try using https://eclipse.org/paho/clients/js/. It has a different way of dealing with Websockets, and we might be able to track down what is the problem.

The problem is sending the payload or receiving the payload?

[2016-12-08 02:19] houluy opened #514 "4-Byte CONNACK message is divided into 2 packages to deliver"
I'm using MQTT.js to server as an MQTT server, but my client receives two packages of CONNACK message. In MQTT protocol, CONNACK message is only 4-Byte long. I don't know what's wrong with my MQTT server. It will consume massive of throughput if 4 Bytes are seperated into two TCP packages.
Any help for this? Thanks!
![image](https://cloud.githubusercontent.com/assets/11565649/20995114/bc3d4a96-bd2

[2016-12-08 08:28] mcollina commented on #514
Is this websocket or plain TCP?
Probably we should wrap the connect packet into a cork/uncork.

[2016-12-08 10:51] houluy commented on #514
We've found the problem. We use connack() in mqtt-packet to respond the MQTT connecting client. The source code is shown below:
![a](https://cloud.githubusercontent.com/assets/11565649/21006995/3594e3fe-bd76-11e6-91c1-78f377ce8d19.jpg)

The two statements "stream.write" has an interval to run, which causes the first byte '0x20' is seperated into different TCP packages from other bytes. This can be

[2016-12-08 11:49] mcollina commented on #514
Yes.

In order to do that you should wrap the write in a cork() and uncork() pair. Schedule the uncork() using nextTick for max perf.

[2016-12-08 12:45] houluy commented on #514
Thanks a lot for your help!

by the way, I've studied your paper 'Introducing the QEST broker' and gained a lot of new ideas and insights about IoT, MQTT and redis, sir. :)

[2016-12-08 12:45] #514 closed

[2016-12-08 20:24] ajoslin103 commented on #513
the slowdown is only for receiving the payload, sending the payload is fast as it should be -- I increased the payload size which has no effect on the overall speed, and I can see the publisher receive the request right away.

I tried with the HiveMQ javascript client, and it was slow to receive as well (sending was ok, based on timings)

the paho client has the same results -- fast transmit of th

[2016-12-09 00:02] mcollina commented on #513
have you tried any other broker?

[2016-12-09 00:20] ajoslin103 commented on #513
good idea!  I'll try on the target environments (FC20 & C7) and I'll look for other clients for the mac.

will advise (in 14hrs or so, I can't work on this tonight)

thanks!

-- can you confirm slowdown on receiving (vs sending) messages with the browser?

[2016-12-09 14:07] ajoslin103 commented on #513
I could not get the eval copy of the MQHive broker to connect to the MQTT.fx or to the websocket, but I can't use a paid product anyway

The EMQ broker connected (using a Docker image) to the MQTT.fx and the Paho client, but not to the mqtt-client that underlies your library.

The results were good!  the request and response are very fast!

So that points to the mosquitto broker as the slowdown, a

[2016-12-09 17:45] ajoslin103 commented on #513
mosquitto & emq on centos -- fast for request & receive
mosquitto on FC20(32bit)  -- fast for request & receive

ok! so it seems definite !  the mosquitto broker on mac!

thanks for your excellent work on your library & helping me to find out the problem !!

[2016-12-09 17:45] #513 closed

[2016-12-09 19:51] ajoslin103 commented on #513
furthermore, the slowdown is only when the browser & broker & publisher are on the same mac

when the broker is on another mac, the slowdown disappears

[2016-12-09 19:58] ajoslin103 commented on #513
OH ^$%#@&* !!!

After testing _all_ over the place on multiple different OS's and combinations...

Upgrading my local broker to the latest version solved the problem...

Sigh...

[2016-12-23 07:34] arvindpdmn commented on #499
I have the same problem. I made this change for Windows but it's more of a hack:

    "browser-build": "rmdir dist /S /Q || mkdir dist && browserify mqtt.js -s mqtt > dist/mqtt.js && uglifyjs --screw-ie8 < dist/mqtt.js > dist/mqtt.min.js",

Not sure how to write it such that it works across platforms. `rmdir` can fail if the folder does not exist in the first place. Hence used `||` condition. A be

[2016-12-23 15:12] RangerMauve commented on #499
An easy solution would be to use the [rimraf](https://www.npmjs.com/package/rimraf) and [mkdirp](https://www.npmjs.com/package/mkdirp) modules as dev dependencies.

[2016-12-27 11:04] prateekthakurgithub opened #516 "Unable to connect to hivemq broker on amazonaws server using client MQTT.js"
Hi,

I am trying to connect hivemq broker using mqtt.js but unable to do that.
[code]

It does not even throws back any error.  It just keeps trying to reconnect.
I am able to connect on port `1883` without TLS.
Generated the self signed certificates using the following link : [http://www.hivemq.com/docs/hivemq/latest/](http://www.hivemq.com/docs/hivemq/latest/)

I am able to connect publish and s

[2016-12-27 16:46] mcollina commented on #516
I don't know what is the problem. Probably a debug session would show the underlining error, as it is usually a TLS error. I'd be very happy in a PR that improves the debuggability of those situations.

[2016-12-27 16:48] oussamaABID opened #517 "how Create client in V2"
hello
if i want create array of clients
like this :
`var tab= [];
var client1 = mqtt.createClient(...);
var client2 = mqtt.createClient(...);
tab.push(client1);
tab.push(client2);`

how do that in V2
`client1 = mqtt.connect(..); client2=mqtt.connect(..);`

with V2 it's static client2=>client1 ?

[2016-12-27 17:16] mcollina commented on #517
No it's not static. It will return a new client.

[2016-12-27 17:16] #517 closed

[2016-12-29 06:34] prateekthakurgithub commented on #516
Thanks for help mcollina. Here is the new configuration that worked
var options = {
         //host:HOST,
         port:PORT,
         protocol:'mqtts',
       //  protocolId:'MQlsdp',
         //clientId: 'bgtestnodejs',
         ca: TRUSTED_CA_LIST,
         key: KEY,
         cert: CERT,
         secureProtocol: 'TLSv1_method',
         protocolVersion:3,
         passphrase: 'Shiksha@123',

[2016-12-29 18:34] mcollina commented on #516
Seems good!

[2016-12-29 18:34] #516 closed

[2016-12-30 16:52] #499 closed

[2017-01-04 19:33] #452 closed

[2017-01-07 22:37] ToSa27 opened #520 "constant reconnects with two conections"
I'm trying to connect to one and the same broker twice (two mqtt client instances). I'm not getting any error messages but the connection is constantly resetting in a loop like this:
[code]
Both connections work separately (disabling the other one temporarily).
Was the module written having multiple connections at the same time (to different brokers or to the same) in scope?

[2017-01-07 22:54] ToSa27 commented on #520
Nevermind - I can't reproduce in a simple example so it's likely caused by my code, not by the module.

[2017-01-07 22:54] #520 closed

[2017-01-08 17:34] eharrow commented on #481
Sorry for no update but I did resolve the issue and it was not due to MQTT but the compression lib I was using.  Many thanks.

[2017-01-09 14:49] roccomuso opened #521 "example typo"
File [wss/client.s](https://github.com/mqttjs/MQTT.js/blob/master/examples/wss/client.js#L43
): `pakcet` instead of `packet`

[2017-01-09 14:49] mcollina commented on #521
can you send a PR?

[2017-01-10 14:12] anhldbk commented on #505
Would you guys elaborate more on how we take integration tests? I think we should make a to-do list now. For example:

- [ ] Listing all OSS Brokers
- [ ] Specify what to test ...

[2017-01-10 14:18] sandro-k commented on #505
Thanks @anhldbk for getting this started again.

# Brokers
* Mosquitto
* Mosca

# What to test
* Connect
  * SSL/TLS
* Subscribe
  * QOS 0,1,2
  * Retained
* Publish
  * Retained
* LWT

# Platform
* Node.js
* Browser

[2017-01-10 14:31] anhldbk commented on #505
Currently, I am using [emq broker](http://emqtt.io/) and find it great. It's written in Erlang (suitable for production environments).

About `What to test`, should we have tests for  `MQTT Over WebSocket`?

[2017-01-10 14:49] mcollina commented on #505
@anhldbk I think so, yes.

[2017-01-10 14:49] mcollina commented on #505
It would be awesome to have integration tests also via SauceLabs.

[2017-01-11 12:29] anhldbk commented on #505
The integration test results should be organized into a report with:

1. Information about brokers
2. For each broker, we should have describe the running environment. It must be reproducible. (Docker may be a great relief)
3. Associated test scripts
4. Finally, a summary

@sandro-k , @mcollina is that ok?

[2017-01-11 16:15] mcollina commented on #505
@anhldbk yes! Go ahead and make it docker-based.

Bonus points (but keep it separate): websockets in browsers.

[2017-01-13 21:09] shailendra12345 opened #523 "Mqtt packets"
Hi,

I have installed mqtt@2.2.1 using NPM. On successful server return a CONNCK packet like.
{
 cmd: 'connack',
  retain: false,
  qos: 0,
  dup: false,
  length: 2,
  topic: null,
  payload: null,
  sessionPresent: false,
  returnCode: 0
}

After i am publishing the messages to broker and getting PUBACK.
{ cmd: 'publish',
  topic: 'latlong',
  payload: 'my message7',
  qos: 1,
  retain: true,

[2017-01-14 01:39] seymar commented on #523
Its the response from the broker because you use Quality of Service level 1 (which is default).
Just read the documentation on MQTT:
http://www.hivemq.com/blog/mqtt-essentials-part-6-mqtt-quality-of-service-levels

[2017-01-14 10:42] #523 closed

[2017-01-14 10:42] mcollina commented on #523
Thanks @seymar!

[2017-01-15 13:34] TangMonk opened #524 "promise support?"

[2017-01-15 14:06] mcollina commented on #524
At the moment there is no plan for it.
I'm happy to discuss it, because of async/await in node 8.

[2017-01-16 14:55] RangerMauve commented on #524
I suppose the simplest API would be to return promises in cases where a callback was omitted, as is done in most other libraries.

[2017-01-20 09:35] yohei1126 opened #525 "How to get message id"
In my project, I need a way to get packet id for each packet because of the following situation.
Can I get a packet id for each packet?

* Some MQTT broker respond result of client's action asuch as publish/subscribe to special topic.
* The broker usually send packet id that is sent by the client so that the client can check result for each packet.

* Because of the above situation, the client sav

[2017-01-23 03:31] #525 closed

[2017-01-24 14:04] medric opened #529 "Cannot read property 'granted' of undefined"
We get this error when trying to subscribe to a topic. This seems to come from ```MqttClient.prototype.subscribe``` in the mqtt js client source. Here is the stack trace we get
[code]
if that may help.
Here is the wrapper we use to handle subscriptions
[code]
The connection to the server seems to work though. We're only dealing with subscription error here. Mosquitto version used is 3.1.1.

Does a

[2017-01-25 16:01] snailterror commented on #529
same problem for me

[2017-01-25 16:03] mcollina commented on #529
Would you mind to upload a full example to reproduce the issue?

[2017-01-25 17:10] medric commented on #529
We have been looking this error up and it appears that this is related to https://github.com/mqttjs/mqtt-packet/issues/14. The MQTT protocol level 4 handles a new QoS level : 128 (failed) which seems not to be handled by mqtt-packet
https://github.com/mqttjs/mqtt-packet/blob/master/constants.js.

[2017-01-25 17:32] mcollina commented on #529
@medric would you like to send a PR to solve the problem?

I think https://github.com/mqttjs/mqtt-packet/issues/14 is fixed, but maybe we need to regenerate the bundle here. Are you using the precompiled bundle?

[2017-01-26 11:05] medric commented on #529
I think I spotted the problem. The parser works fine to me. The problem seems to come from mqtt client though. The thing here is that we receive an 'unsuback' packet. In that case the callback is called with a null parameter, making the exception occurred
[code]

The callback does
[code]
There is no packet here, if if I am not mistaken. So should we modify the test case as we got no payload here ?

[2017-01-26 16:24] mcollina commented on #529
@medric would you like to send a PR? That seems the callback for SUBSCRIBE and SUBACK, not UNSUBSCRIBE and UNSUBACK

[2017-01-27 12:07] yan-foto commented on #524
Not all methods can be easily promisified by just leaving the callback param out. Take `connect` for example, a promisified version would look something like:

[code]

[2017-01-27 15:16] RangerMauve commented on #524
@yan-foto That's more or less exactly what I have in some code that I have in the wild. However, rather than using ".on()", I use ".once()", and I remove the other listener once it's ready.

[2017-01-27 15:21] RangerMauve commented on #524
Though I don't think that a promise is necessarily the right return from "connect". "connect" and "error" can be emitted multiple times, and you might want to cancel the connection. Using the existing event handlers on the connection seems like a better approach for most use cases. Promises would be useful for replacing non-event callbacks, like the result of a "publish".

[2017-01-27 16:39] mcollina commented on #524
@RangerMauve I'm more on the "lightweight" promise support as you described when node 8 comes by, as you describe. Having support for it in connect is good, but I would have a `mqtt. connectAsPromise()` method that returns a Promise.

Ideally we could also have AsyncIterator https://github.com/tc39/proposal-async-iteration support for receiving the messages, if that lands in Ecma.

[2017-01-27 18:31] RangerMauve commented on #524
AsyncIterator support would be amazing. I've been really into it ever since I found it a few months ago. Would the client itself be async iterable and it would yield message events?

[2017-01-27 19:48] mcollina commented on #524
Yes. That'd be ideal. Let's wait until it's part of ecma. We'll be probably adding it to streams as well.

If you want, you can prototype it as a separate module in the meanwhile.

[2017-01-27 21:25] yan-foto commented on #524
@RangerMauve  That is true when you are talking about events. However, I would love to have the connect *method*, which causes the `connect` *event* to be a promise.

[2017-01-27 22:04] RangerMauve commented on #524
@yan-foto That's reasonable. I think something like `connectAsPromise` would be a good approach. That way it'll be totally backwards compatible. Not sure about the name, though. :P

[2017-01-27 22:08] yan-foto commented on #524
Fair enough! To sum up:

* promisified methods explicitly marked as such (prefix/suffice/etc)
* async iterators for streams, events, etc.

👍

[2017-01-27 22:10] RangerMauve commented on #524
Alternately, would it make sense to maybe have an AsyncMqttClient which is returned by `connectAsync` which will have all the methods named the same, but have them be async?

[2017-01-27 22:15] yan-foto commented on #524
I could get behind that! Let's hope there is enough manpower to have it implemented 🙏

[2017-01-27 22:20] mcollina commented on #524
I think we should have the least breakage, if any. So, new names etc. Alternatively, we can do another package with this org.

[2017-01-27 22:26] jdiamond commented on #524
@yan-foto The `connect` method and the `connect` event work together in a way that doesn't make them compatible with promises.

The `connect` method tells the client to connect and reconnect as necessary. The `connect` event gets emitted every time the client connects/reconnects to the broker. That event is needed by "clean" clients to resubscribe to topics they want messages for.

MQTT.js is impl

[2017-01-28 04:19] RangerMauve commented on #524
@mcollina a new project that has this one as a dependency would make sense.

@jdiamond I tend to agree here. My use case was so that I could abort my connection process if the authentication failed when initializing. I would wager that that isn't the only way to do it, but promises are like a hammer, in that everything looks like a nail.

Perhaps @yan-foto 's use case could be effected by a new me

[2017-01-28 08:54] yan-foto commented on #524
@jdiamond I don't see how it's not compatible. I'm not suggesting to kill `connect` event! The client, as I understand, takes care of reconnection and I don't really need to take care of each `connect` event thereafter. However, the initial connect (initiated by me) emits the first `connect` event, which is all I know to get started (e.g. publishing). @RangerMauve described my problem pretty well,

[2017-01-28 11:06] mcollina commented on #524
@RangerMauve I've invited you the the organization :). Feel free to create/coordinate a new repository to provide a promisified client if you want to.

[2017-01-29 04:17] jdiamond commented on #524
@yan-foto I thought the same thing when I first started using MQTT.js, but then I learnd that you do *not* need to wait for the connection to be made before using the client to publish messages. Just call `connect` and start publishing! It's even listed as a feature in the README.

The MQTT protocol itself specifically allows clients to send a `connect` packet and then immediately start sending `p

[2017-01-30 04:07] aignacio opened #531 "Connect with series data"
Hello all,

Firstly, great job for this package! I've implemented a client that needs first read the MAC Address to create the args (client_id, username, password...) for the options passed in .connect(#,options) method and for some reason the cb structure of MAC read is called after the mqtt.connect(.. method, generating 'undefined' options in the args of mqtt connection... =/  Does someone has a

[2017-01-30 07:03] mcollina commented on #531
@aignacio can you upload an example of what you are trying to do?

[2017-01-30 11:09] aignacio commented on #531
@mcollina sure! Above is part of my code and how I connect to MQTT server...

[code]

[2017-01-30 11:17] mcollina commented on #531
@aignacio you need to call `mqtt.connect()` within the callback of `unique.getMac()`.

[2017-01-30 11:30] aignacio commented on #531
Oh ok, I tried this but when I start the script, the event emitters
´´´
mqttClient.on('connect', function()...
mqttClient.on('message', function(topic, message)...
´´´

just don't work, when the client connects =/

[2017-01-30 11:33] mcollina commented on #531
@aignacio all the logic has to happen _after_ you initialize `mqttClient`. I recommend you to do some of the nodeschool workshoppers to familiarize yourself with Node.js https://nodeschool.io/.

[2017-01-30 11:33] #531 closed

[2017-01-30 11:40] aignacio commented on #531
Sure, thanks. I understand to call the event emitters _after_ the init of mqttClient (calling in the cb works since the first time) but I was searching for the correct way to do this because my MQTT logic is big and all will be inside the cb or calling external functions.... =/

[2017-01-30 11:44] mcollina commented on #531
@aignacio you should move all that logic into its own file, and call that from the callback.

[2017-01-30 12:47] aignacio commented on #531
Thanks

[2017-01-30 13:56] RangerMauve commented on #524
@mcollina Thanks! I've been really busy with work/life balance stuff lately, but I'll see if I can whip something over a few hours this week. I'm thinking I'll copy over the unit tests and docs over from this repo and use it as a dependency.

@jdiamond Yeah, I totally agree with your points. I'm thinking that I'll limit the initial version to just methods that take callbacks directly like `publish

[2017-01-30 20:49] jtsinoni opened #532 "Uncaught SyntaxError: Use of const in strict mode."
When run in Android 4.4 and 5.

../mqtt/lib/connect/index.js

Manually changing const to var worked.

[2017-01-30 22:10] mcollina commented on #532
Fixed in 2.3.1.

[2017-01-30 22:10] #532 closed

[2017-01-30 22:19] jtsinoni commented on #532
Thanks!

[2017-01-31 03:32] RangerMauve commented on #524
Can't create repos in the org, but [here's](https://github.com/RangerMauve/async-mqtt) an initial sketch of what I was thinking.

To summarize: it's a pass through for all the existing MQTT client methods, with the exception that `publish`, `subscribe`, `unsubscribe`, and `end` now return promises by supplying the callback argument automatically.

I haven't tested if it works yet, but I doubt the

[2017-01-31 06:59] mcollina commented on #524
@RangerMauve you should be able to create a repo now.

I like the approach!

[2017-02-03 22:51] cordovapolymer opened #533 "changing options after client initialization"
Is it possible to change options after client initialization?
For example I'd like to change clientId on reconnect.

[2017-02-07 11:12] stozk opened #534 "Connection via reverse proxy (nginx) over MQTT protocol (not ws) with path"
Hi,

I'm having trouble to connect to a broker via MQTT protocol to an adress which has a path in it due to the server being behind a nginx reverse proxy.

e.g. dom.ain.com/mqtt

When I provide a mqtt/tcp formated url (mqtt://...) I don't get a connection at all.
When I try the WS protocol, I get trough, but I'd like to be able to use both is possible.

I have seen that when I pick the websocket p

[2017-02-07 12:15] mcollina commented on #534
I think your MQTT broker should expose a websocket server itself, you can't proxy from websocket to tcp in NGINX.

[2017-02-09 23:23] AlfredoPastor commented on #442
@pewh I join the questions of @jinyuting.

I have managed to compile but when I initilize it, I have the following error: "mqtt.connect is not a function"

Regards.

[2017-02-10 21:26] yohei1126 commented on #533
@mcollina probably not?

[2017-02-10 21:28] yohei1126 commented on #521
you can close this issue

[2017-02-10 21:32] RangerMauve commented on #533
It'd be easier to just create a new client instance, tbh.
However you could hack around that by modifying [client.options](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L70) at runtime, though this is unsupported so don't complain if something you hack on top of it breaks. 😛

[2017-02-10 21:36] #521 closed

[2017-02-10 21:52] yohei1126 commented on #496
Has this issue already closed?

[2017-02-11 13:17] mcollina commented on #496
Fixed by #497

[2017-02-11 13:17] #496 closed

[2017-02-11 13:17] mcollina commented on #496
Thanks!!!

[2017-02-12 09:29] sublimator opened #535 "Add an urlSigner (func) option to connect to pass to the ws streambuilder"
For AWS IoT wss connections urls require Sigv4 signing. These urls seemingly expire, so eventually reconnect doesn't work and you need a fresh signature.

You can see here usage of an old version of mqtt.js: https://github.com/aws/aws-iot-device-sdk-js/blob/master/device/index.js#L502-L521

I'm using mqtt.js 2.x directly and my own url signer implementation.

I will possibly get around to a pull r

[2017-02-12 09:45] mcollina commented on #535
I'm more keen on passing a function to connect that will return the URL (or call a callback with an URL).

If that simplifies things for SDKs, then let's go for it.

[2017-02-12 10:03] sublimator commented on #535
Something like:
[code]

?

[2017-02-12 10:05] sublimator commented on #535
[code]

Hrmmm

[2017-02-12 10:20] sublimator commented on #535
IMO it would probably be simplest to just add a function that synchronously transforms the url passed to websocket()  each time, through the opts, here and here:

https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/ws.js#L99
https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/ws.js#L45

[2017-02-12 10:56] sublimator opened #536 "Add TypeScript definitions for the api"
Actually, there exists a `@types/mqtt` (which happens to be inconsistent with this latest version) but of course it would be ideal to have it in this repo (which is considered the best practice I believe).

[2017-02-12 12:18] sublimator opened #537 "Travis build script is broken"
Note the above will always return 0 yes?

eg.
[code]
Please see: https://travis-ci.org/mqttjs/MQTT.js/jobs/196752870#L842-L870

[2017-02-12 12:28] sublimator commented on #537
![image](https://cloud.githubusercontent.com/assets/525211/22862038/659fb120-f159-11e6-9048-0ae877035eea.png)

I'm not sure what's going on here: https://saucelabs.com/open_sauce/user/mqttjs/tests

[2017-02-12 12:32] sublimator opened #538 "Browser tests broken"
re: #537

See saucelabs results:
![image](https://cloud.githubusercontent.com/assets/525211/22862031/3144bf06-f159-11e6-9884-d62deda56b19.png)

I tried running `npm run browser-test` locally, and I got some errors, due to this:
https://github.com/mqttjs/MQTT.js/blob/master/test/browser/server.js#L106-L107

[code]

I'm not sure if it's due to some of my local copy refactoring, but one thing is for

[2017-02-12 12:38] sublimator commented on #538
![image](https://cloud.githubusercontent.com/assets/525211/22862080/5c45ef94-f15a-11e6-9b3d-617d05e99e74.png)

After making this change:
![image](https://cloud.githubusercontent.com/assets/525211/22862094/93d448d4-f15a-11e6-9d1a-06e7c28b283c.png)

I'm getting:
![image](https://cloud.githubusercontent.com/assets/525211/22862095/9e8a9b02-f15a-11e6-84dd-3b36f231ab76.png)

![image](https://cloud.githu

[2017-02-12 14:38] StarpTech opened #540 "Simple example dont work with EMQTT broker"
#### Environment

- OS: Windows
- Erlang/OTP: R18/7.3
- EMQ: 2.0.7

#### Description

[code]

I get only the log `'Connected'` but when I publish in a seperate process I receive the message. I did anything wrong? Thanks!

In the EMQTT dashboard the messages are marked as `dropped`.

[2017-02-12 15:09] gyurobenjamin opened #541 "Unable to resolve module events from ...."
I got this error with react-native. Any idea?

<img width="376" alt="screen shot 2017-02-12 at 15 03 26" src="https://cloud.githubusercontent.com/assets/3200573/22863263/a6a69668-f134-11e6-812e-e531d464f36e.png">

[2017-02-12 19:06] cagodoy commented on #541
+1

[2017-02-12 19:41] StarpTech commented on #540
I tried it with https://github.com/mcollina/mosca
[code]
 and it works. I leave this open. Perhaps anyone knows the reason.

[2017-02-12 19:46] mcollina commented on #540
the main reason is that the behavior is non-deterministic. Your publish is
executed before your subscribe is acked in emqtt.
Il giorno dom 12 feb 2017 alle 20:41 Dustin <notifications@github.com> ha
scritto:

[2017-02-12 19:52] StarpTech commented on #540
That was also my thought. You're right when I move the publish in the callback of the subscription it works and to avoid this beginner problem I would recommend to update the examples. Thank you.

[2017-02-12 19:53] #540 closed

[2017-02-12 21:09] cagodoy commented on #541
see #442 and #443

[2017-02-12 22:33] gyurobenjamin commented on #541
I've tried to install all missing modules manually like event, path, url. But unfortunately the fs module is not working on react-native.

[2017-02-13 07:45] mcollina commented on #536
Disclaimer: I am not a typescript user, and there is no one in the maintainers.
If you want to join and help, you are welcome!

In https://github.com/mqttjs/MQTT.js/pull/386 it was discussed this matter. I'm happy to embed the type definition here, if you want to help maintaining that.

cc @PekkaPLeppanen

[2017-02-13 07:47] mcollina commented on #541
@gyurobenjamin you need to bundle it, and treat it like it is a web browser. React Native is not Node.

Would someone take some time to prepare a guide for React Native to be contributed to this repo? I think it would help everybody.

[2017-02-13 07:55] sublimator commented on #536
Yeah, keen! we at @flomio are going full TypeScript.

[2017-02-13 10:44] gyurobenjamin commented on #541
@mcollina That would be awesome! Thanks!

[2017-02-13 11:04] sublimator commented on #536
k, once we got the other one sorted to your satisfaction, I'll get onto it :)

[2017-02-14 08:19] #535 closed

[2017-02-14 08:19] #537 closed

[2017-02-14 08:19] #538 closed

[2017-02-14 23:10] cordovapolymer commented on #533
@RangerMauve is it possible without modifying client.js?

[2017-02-15 12:27] antoniobusrod opened #544 "Insecure Randomness from old ws version"
https://snyk.io/vuln/npm:ws:20160920

Fixed at #543

[2017-02-15 12:32] mcollina commented on #544
Also, this is not vulnerable, as https://github.com/websockets/ws/releases/tag/1.1.2 will be pulled.

[2017-02-15 12:32] #544 closed

[2017-02-15 15:30] jeromevalentin opened #545 "Retain messages are duplicated on connection"
In case of subscriptions to topics: A and +, if a message has been published previously into the broker under the 'A' topic, when connecting we receive two times the retained message (one per subscription)

When publishing a new message with retain: true/false, we receive only one notification for both subscriptions.

Consider the script below
[code]
Using it with 'false' parameter produces:
[code

[2017-02-15 15:38] mcollina commented on #545
All of that is broker based, and it's how MQTT works. There is very little we can do about it in this library.

[2017-02-15 15:39] RangerMauve commented on #545
This might just be a problem with using qos 1, if you use it to subscribe to a topic the broker guarantees that you'll receive it "at least once". That means you can have duplicates. You should use qos 2 which has a guarantee of receiving it only once.

[2017-02-15 16:06] jeromevalentin commented on #545
@RangerMauve The qos doesn't change anything on that problem, I've got exactly the same behavior by changing it to 2!
@mcollina Does that behavior is required in MQTT specifications? I agree considering the received information (in the packet) it is complicated to perform filtering, that's why I'm asking if it is not a mosquitto's issue.

From my side I'm trying to track all topics on which I rece

[2017-02-15 16:22] mcollina commented on #545
@jeromevalentin I think so, yes.

[2017-02-15 16:22] #545 closed

[2017-02-15 19:55] RangerMauve commented on #533
@cordovapolymer You can try to modify the `options` property directly on an instance of an mqtt client.

[code]

[2017-02-17 13:05] ogis-onishi commented on #536
I am using mqtt.js with TypeScript. I can contribute if you need my help.

[2017-02-17 13:08] sublimator commented on #536
Awesome :) There's a @types/mqtt package we can work with it's author with
:)

Just to find the time ...

[2017-02-17 14:44] PekkaPLeppanen commented on #536
I wrote the type definitions for the MQTT API v1. I was hoping that one day I'll write another definitions for v2 API also. Because a lot of time has passed and nothing happened from my part, I must say it would be great if someone else could do the new type definitions.
I am no longer using MQTT, because I changed to another company to a completely different type of project.

Anyway, to write the

[2017-02-19 07:07] sublimator commented on #536
I've been playing with async/await in TypeScript 2.1 and it's lovely. It would be nice to Promise-able the API while we're at it.

[2017-02-19 07:11] sublimator commented on #524
👍  for Promises :)

[2017-02-19 18:43] RangerMauve commented on #524
Sorry for the lack of progress! Haven't been doing as much open source the past while.:'(
I've created [asyn-mqtt](https://github.com/mqttjs/async-mqtt) and will hopefully copy over the tests later and see if it works.

If so, I'll publish on NPM.

Anybody else want access to the NPM package for publishing?

[2017-02-20 09:19] mcollina commented on #524
@RangerMauve would you mind adding unit tests (just some to check everything is in place) and travis-ci?

You can add me, I'll be very happy to help you maintain it.

Also, we should add a link in MQTT.js that if anyone needs a promise-based API, we maintain that as well!

[2017-02-21 07:37] shanmohod opened #548 "Unable to connect to RabbitMQ broker using MQTT.js"
I am using MQTT.js to connect with Rabbitmq broker... Problem Statement:
1> Connect.on is not getting execute (Not emitting connect event): Any scenario when it should get execute?
2> Connection is not getting established, Am I using correct syntax for tcp host, username, password, and vhost?

[code]

[2017-02-21 07:41] sublimator commented on #548
I can't recall a `vhost` option. But I could be wrong. You need to
subscribe to topics before you will receive any `on('message', ...` events

[2017-02-21 07:48] shan888 commented on #548
@sublimator: still no success, I am not getting any events.. I guess their is some issue with how I'm connecting (mqtt.connect)

[2017-02-21 08:03] sublimator commented on #548
I'm not sure :) I'd try connecting from the same box, without any vhost
complications. Your tcp:// url seemed ok.

require the node 'url' module and use the parse function on the string and
look at the result to assure yourself of its well formedness.

Are you sure you want that version of mqtt? 3.1 vs the default 3.1.1?

I have no experience with the broker you are using. New to mqtt and have
bee

[2017-02-21 08:04] sublimator commented on #548
I'm assuming "hostname.com" is some kind of redaction :)

[2017-02-21 08:45] shan888 commented on #548
Yes, different hostname I'm using here :) . I also tried connecting without providing mqtt version but then had a thought that it might be an issue.
Let's wait.. someone may help

[2017-02-21 08:47] sublimator commented on #548
Could try having some fun with wireshark haha

[2017-02-21 11:54] shan888 commented on #548
@mcollina Can you help?

[2017-02-21 11:58] shan888 commented on #548
@dmeznaric

[2017-02-22 17:33] mcollina commented on #548
@shan888 not at the moment. A generic suggestion is to publish during the subscribe callback.

[2017-02-25 09:18] Florimond opened #550 "Cannot import mqtt with SystemJS for use with aurelia"
Hello,

I create a minimalist aurelia install based on instructions from [How to set up minimal Aurelia project from scratch](http://stackoverflow.com/questions/32080221/how-to-set-up-minimal-aurelia-project-from-scratch)

Then I install mqtt with :

[code]

Finally I try to import mqtt by adding the following line in the *app.js*.

[code]

Which results in the following error :

[code]

Any idea?

[2017-02-25 09:36] mcollina commented on #550
I'm fairly certain that this is an aurelia bug, and I fear it is some flavour of https://github.com/nodejs/readable-stream/issues/226.

I would recommend to open an issue on their side, and cc myself in there. I'd be happy to help.

[2017-02-25 09:36] #550 closed

[2017-02-26 21:50] RangerMauve commented on #524
Hey! Sorry for the radio silence. I'm just finishing up the unit tests now and I'm going to publish afterwards. Do you have any suggestions for tests to check that errors are properly being propagated?

[2017-02-26 22:05] RangerMauve commented on #524
Published 1.0.0 and added @mcollina as owner. https://www.npmjs.com/package/async-mqtt

[2017-03-01 13:21] TinMarkovic opened #553 "Iterating through multiple events"
Upon executing the snippet (other code is cleaned up, as I've wanted to narrow it down):

[code]

I get the error:

[code]

Sending a single event functions properly, but trying to send events through an array does not. I've tried to emit them via callbacks, that didn't help either.

I have also made sure that nothing else is using that port.

Is there something wrong with my code, or a misunderst

[2017-03-01 14:47] mcollina commented on #553
In your code, you are calling `server.listen()` at line 37 of /home/tin/Projects/ExtensionEngine/mqtt-node-api/server.js. It's in your code.

[2017-03-01 14:47] #553 closed

[2017-03-01 15:00] Amptek-Inc opened #554 "MQTT bridge"
Hi,

Is there a way to allow bridging of mqtt brokers? i was able to do this with the c library by changing the .conf file but im unsure where the settings have to be changed here.

[2017-03-03 19:44] gerad opened #555 "resubscribe on reconnect fails when disconnect happens before suback"
I can submit a fix for this, but I want to be sure it's a legitimate issue before creating a pr.

1. **client** issues a subscribe to `topic1`
2. **server** issues a suback for `topic1`
3. **client** gets suback for `topic1`
4. **client** issues a subscribe to `topic2`
5. **server/client** connection is severed
6. **client** reconnects

**result**: client resubscribes to `topic1` but not `topic2`

[2017-03-03 19:50] mcollina commented on #555
fantastic, yes, go ahead with a PR.

[2017-03-06 17:53] RangerMauve opened #557 "Update readable-stream in order to support react-native"
Currently I'm unable to use mqtt.js out of the box with react-native as it requires an updated version of readable-stream. (namely 2.2.3)

Are there any pitfalls to watch out for the upgrade? Would a PR be welcome for this?

[2017-03-06 18:35] mcollina commented on #557
This depends on the latest one. Are you using the pre-made build during on-publish?
IMHO I should npm update and republish bumping the minor if that's the case.

[2017-03-06 19:19] RangerMauve commented on #557
Oh jeeze. It appears I had an outdated version of MQTT.js installed. What an obvious mistake on my part. 😭

I'll update it and close this once I see it working

[2017-03-06 20:14] RangerMauve commented on #557
I somehow messed up my project entirely while updating, but this should be fine.

[2017-03-06 20:14] #557 closed

[2017-03-07 00:38] #555 closed

[2017-03-08 06:24] sublimator opened #559 "TypeScript implementation?"
What are peoples thoughts/feelings about converting the lib/ implementation to TypeScript? (I did exactly this while in the process of creating headers/declarations for #547 The results are here: https://github.com/sublimator/MQTT.js/tree/typescript)

I'm not super invested, though it occurs to me it may be easier to maintain one TypeScript codebase rather than JS + TypeScript headers. I figured I

[2017-03-08 08:25] mcollina commented on #559
I'm definitely -1 on the idea. I'm ok in supporting TypeScript, not in using it directly.

[2017-03-08 08:37] dkfiresky commented on #559
It's easier to support Javascript only, because TypeScript is just a superset of it.

[2017-03-08 08:56] sublimator commented on #559
Ok, was just floating the idea :) Feel free to close the issue. I'm on
mobile or I'd do it myself.

[2017-03-08 08:57] #559 closed

[2017-03-09 02:42] woutrbe opened #560 "QoS with multiple subscribers"
I'm only asking here because the documentation regarding the quality of service seems to be fairly poor.

As far as I understand, when I set `qos` to 2, I should only receive a packet once, ever.

However, in the following code, I'm able to receive the same packet twice
[code]

Do I need to acknowledge that a message has been receive? If so, how do I do this in the above scenario?

There's also so

[2017-03-09 06:51] jdiamond commented on #560
Are those workers running in the same process--sharing the same `_mqtt_client` instance--or in separate processes?

[2017-03-09 06:54] woutrbe commented on #560
@jdiamond They're running in different processes, so they have their own MQTT instance, I can also see them in the rabbitmq interface, they both have their own queue.

[2017-03-09 07:05] jdiamond commented on #560
This sounds normal to me. All clients subscribed to a topic receive a copy of messages published to that topic. The broker really has no idea which clients are related and form some sort of worker pool and that only one should get a copy.

The QoS is a separate agreement between each individual client and the broker. Setting it to 2 tells the broker not to send any duplicates to that client. Other

[2017-03-09 07:12] woutrbe commented on #560
That's fair enough and makes total sense. Just as feedback, I think the documentation on that could be improved a little bit, to me it was fairly confusing.

Since I can't switch to AMQP (MQTT is fairly deep implemented, this is just a small part of it)

I guess in my case I'll need to implemented duplicates myself somehow. Not sure how I can do that with different processes, but that shouldn't be

[2017-03-09 07:27] jdiamond commented on #560
IMO, the easiest way is to make the publisher put a unique ID in the message and then use that as a unique key in your database.

[2017-03-09 07:38] woutrbe commented on #560
Actually every message has a unique id already, but if those subscribers receive it at the same time (or within a few seconds), there's no way of knowing if it's already been processed or not.

So one of my solutions was to use a persistent store to check if it's been processed recently.

[2017-03-09 07:46] jdiamond commented on #560
I think multiple subscribers receiving the same message within a few seconds will be very common (like all the time). MQTT is not designed to prevent that.

Could you use AMQP for just this part? The rest of your system can continue to use MQTT where it makes sense. That's how I do it at work.

[2017-03-09 07:48] woutrbe commented on #560
Normally it shouldn't be a problem to switch this part to AMQP. I'll just have to have two clients open at the same time, but that's not an issue.

Let me try that first actually, I don't really want to introduce another store.

I'll close this issue for now, since it's not an issue with the library.

[2017-03-09 07:48] #560 closed

[2017-03-09 08:51] sclausen opened #561 "Change reconnect logic to exponential backoff with random delay"
If a client loses the connection, the reconnect starts immediately. If your broker died and you restart it, all clients try to connect at the same time and may cause problems with traffic, or authorization logic and maybe kill it again. So in my opinion the reconnect should be changed to an exponential backoff with jitter, explained in [this article](https://www.awsarchitectureblog.com/2015/03/bac

[2017-03-09 09:29] mcollina commented on #561
Would you mind to send a PR?
I think we should also cap the max timeout.

[2017-03-09 14:24] sclausen commented on #561
Okay, I'll dig into the code and prepare something.

[2017-03-10 12:05] mcollina commented on #524
@RangerMauve this is FANTASTIC!!!!

[2017-03-10 12:05] #524 closed

[2017-03-10 12:07] mcollina commented on #524
@RangerMauve would you mind to send a PR to the README here?

[2017-03-10 14:40] RangerMauve commented on #524
@mcollina Yup!

[2017-03-11 05:17] woutrbe commented on #560
Just to update, I did switch that functionality to AMQP and it works great with no duplicates anymore.

[2017-03-13 08:49] sublimator opened #566 "Add TypeScript section to README"

[2017-03-13 16:31] BrandonSmith commented on #463
@kranthisai You mentioned that you were able to use SOCKS5 with MQTT. Was this with MQTT.js or another library? What details or examples can you share if it was with MQTT.js?

[2017-03-13 16:36] kranthisai commented on #463
Yes MQTT.js

Example:

'use strict';

var mqtt = require('mqtt');
var socks = require('socksv5');
var fs = require('fs');

var client1 = socks.connect({
    host: 'a3q7q4g3xqxnrz.iot.us-east-1.amazonaws.com',
    port: 8883,
    proxyHost: 'proxy-us.intel.com',
    proxyPort: 1080,
    auths: [ socks.auth.None() ]
},function(socket) {

    var mqttClient = mqtt.connect({
	socket: socket,
        p

[2017-03-14 11:20] uvshah opened #568 "For browser,maximum socket buffer size before throttling"
Hello,

I am using browserify MQTT.js for websocket.
From single socket client, I am sending 1K messages(32KB size) at a time.
After few messages, my client gets disconnected.
Now I tried with increasing browser buffer size from
var bufferSize = options.browserBufferSize || 1024 * 512  // 512KB    To
var bufferSize = options.browserBufferSize || 1024 * 1024 * 1024   //1 GB

In that case it works f

[2017-03-14 11:31] mcollina commented on #568
I think sending 1k messages and process them as a single unit is not what MQTT is built for.
Where are you setting this `browserBufferSize` option?

[2017-03-14 11:58] Urmik commented on #568
Thanks for reply.
I am just trying to do loadtesting from MQTT.js browserify client to Mosca server.
I am setting "browserBufferSize" option in client side browserify MQTT.JS. (function Name - WebSocketStream);

[2017-03-14 15:15] mcollina commented on #568
why is it disconnected? Either the browser or the broker are emitting some logs?

[2017-03-14 20:37] cordovapolymer commented on #568
@Urmik, I tryed heavy loading mqtt.js with mosca and it works fine. Can you publish your code or test it with this https://github.com/mcollina/aedes/files/793556/Archive.zip

[2017-03-14 23:22] gerad commented on #555
@mcollina #556

[2017-03-17 05:30] yetifortrees opened #569 "Uncaught Error 'cb is not a function'"
Since the most recent release, I have been having issues with the library crashing.
This:
[code]
is the stack-trace from the crashing. As best I can tell, this is coming from somewhere the cb is checked for existence, but isn't a function as expected. This has only been happening since the most recent 2.4.0 release to the best of my knowledge.

[2017-03-17 07:35] mcollina commented on #569
@yetifortrees do you have a script to reproduce?

[2017-03-17 13:47] yetifortrees commented on #569
@mcollina So unfortunately the code is being used in a relatively large project and I can't get the error to trace back to anywhere in my code, so not currently. I can however try and write some smaller test scripts to replicate the issue, and let you know what I find.

[2017-03-17 20:15] manju4ever opened #570 "'close' event triggered soon after the 'connect' event gets triggered"
Hi All, here is my es6 file, please tell why the close event is trigerred immediately after connect

Node: 6.10.0

Running Docker Instance From :  https://hub.docker.com/r/toke/mosquitto/~/dockerfile/

[code]

Is this the right way exporting the client object ?. Please do recommend me some best practices.

[2017-03-18 05:15] sublimator commented on #569
I vaguely recall a similar issue, when using the @types/mqtt typescript bindings which led me to misuse the (subscribe??) function with a non conforming function overload ( yeah, yeah, JS lol ). Perhaps there's been some subtle changes ... since 1.x or a more recent release ... I've only used 2.x

Check that you're supplying the callbacks and options objects in the right order to subscribe/publish

[2017-03-18 10:49] sublimator opened #571 "TypeScript Client.end declaration wrong"

[2017-03-18 14:17] bo-bo2016 commented on #200
Good job！！！

[2017-03-18 14:37] sublimator commented on #200
Uhm wat?

[2017-03-22 15:05] milanito commented on #570
I have a similar issue.

It was working about 4 days ago, and now it does not. Here is what happened on our side :

- It goes `offline`
- It loops on `reconnect` and `close`

[2017-03-22 15:13] mcollina commented on #570
Is this a regression between v2.4.0 and v2.5.0?

[2017-03-22 15:28] milanito commented on #570
@mcollina to be fully honest (not that I don't want to blame anyone else but us aha), I'm not 100% sure.

I'm testing on different environment and having the version downgrade to see if it is the case :

- In local, it does break
- On circleci, it did break (yeah I know), it built a few minutes ago

I'll let you know if I can find something more useful than this :/

[2017-03-22 15:30] mcollina commented on #570
@milanito if you understand what's happening, would you mind adding a failing unit test to reproduce and send a PR?

[2017-03-22 15:34] milanito commented on #570
@mcollina If I'm able to, of course

[2017-03-22 17:01] cordovapolymer opened #572 "QOS2 message sent on every reconnect with mosca"
When a message is sent as QOS2 in offline and a broker does not support QOS2 it gets delivered every reconnection again and again. Lowering mqtt.js connection to qos1 fixes issue.
The may be that a message is stored in outgoing store but once there's no connection it's QOS is not changed to broker provided level.

You can easily reproduce this by trying this on any example.
I'm using latest MQTT.j

[2017-03-22 19:17] milanito commented on #570
From what I have seen at the moment :

- when I use a RabbitMQ (version 3.6.6) with the [MQTT plugin](https://www.rabbitmq.com/mqtt.html) (targeting version 3.1.1) it does work, but there is an error saying :

[code]

- when I use [mosca](https://github.com/mcollina/mosca) it does not work with the example in the README, but if I do :

[code]

it works.

I did try to remove the `host` part and use

[2017-03-23 08:49] mcollina commented on #570
I'm a bit lost, as I am missing _why_ the hostname at which the broker listen causes MQTT.js to error.

[2017-03-23 08:51] mcollina commented on #572
@cordovapolymer there is not much we can't do here. You should use QoS 2 only if you know your broker supports it, as there is no way in the MQTT protocol to know.

Maybe we should discuss removing a failed "message" from the delivery queue if it fails more than X times.

[2017-03-23 09:32] milanito commented on #570
In my case, if I don't put the `host` in my options (in mosca) it does not work. I'll try to investigate this weekend what happening under the hood

[2017-03-23 14:16] franleplant opened #573 "React-Native support"
Hi There!

Thanks a lot for your work on this amazing library.

I've been fighting a lot with the browser builds, for several reasons:

- Im using React Native and I need to manually create a dist file
- Im using Typescript and I cannot include that dist file in my source because Typescript will complain no end
- I tried other libraries and frankly this one is the best one
- Playing around with no

[2017-03-23 14:20] franleplant commented on #573
Other easy solution is to add a postinstall hook that creates the build every time someone installs the package

[2017-03-23 14:23] mcollina commented on #573
Hey @franleplant, I understood your solution but I did not understand the problem you are facing.

You can easily do `require('mqtt/dist/mqtt')`, it should work. It's inside the package in the lastest versions, so there should  be no problem.

[2017-03-23 14:38] franleplant commented on #573
Wow, apparently I'm blind, I need 👓 . I did found however this in the gitignore https://github.com/mqttjs/MQTT.js/blob/master/.gitignore#L10 which might have confused me.

So, two more things before closing
- It'd be nice to have this stated in the docs instead of stating that the users need to manually build the browser package (I can help)
- Im getting this error while using the `dist/mqtt`

[co

[2017-03-23 15:01] mcollina commented on #573
@franleplant that is highly possible. You probably have to have your webpack build it together with your application

[2017-03-23 19:57] franleplant commented on #573
So, after all, Im not using webpack, React Native uses it's own build system (analogue to Webpack and Browserify): [Packager](https://github.com/facebook/react-native/tree/master/packager)

Some more relevant information about other's peoples problems: https://github.com/facebook/react-native/issues/1871

Potential solution I've tested is [ReactNativify](https://github.com/philikon/ReactNativify)

[2017-03-24 03:23] cordovapolymer commented on #572
Well, I have based on your [comment here](https://github.com/mcollina/mosca/issues/611) in my decision to keep a client running in QOS2. Thanks for pointing that there's no way for client to know about broker supported QOS level, I have digged into the protocol specs and found that the QOS downgrade only happens for subscribers not for publishers.

Removing a failed message will violate the MQTT p

[2017-03-24 06:38] mcollina commented on #572
You can achieve most of what QoS 2 provides with QoS 1. QoS 2 is really expensive for the client and the broker.

I'm closing this, feel free to reopen.

[2017-03-24 06:38] #572 closed

[2017-03-24 12:30] cordovapolymer commented on #572
@mcollina I agree about QOS1.

It took me almost an hour to find why the message arrives twice in mentioned conditions, I think it would be good for other users to know about this from the manual.

[2017-03-24 12:56] mcollina commented on #572
Feel free to send a PR to the docs!

[2017-03-28 02:34] ogis-onishi opened #574 "Type inconsistency on packet between JS and TypeScript"
Event 'message' on connect function is defined as follows. Type of packet.messageId  is number.
[code]

But it is defined as string in the type definition file for TypeScript

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/mqtt/index.d.ts#L14

[code]

Should we correct the type definition file?

[2017-03-28 02:35] ogis-onishi commented on #574
@PekkaPLeppanen Please check this issue.

[2017-03-28 03:29] ogis-onishi commented on #536
And DefinitelyTypes repo must be updated as well.
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/mqtt

[2017-03-28 03:41] ogis-onishi commented on #536
I installed mqtt 2.5.0 by "npm install mqtt", but type definition files are not provided.

[2017-03-28 04:54] PekkaPLeppanen commented on #574
I checked the docs and yes, you are correct: string => number.

Can you please make the PR?

[2017-03-28 05:10] yohei1126 commented on #574
Sent pq.

[2017-03-28 06:30] sublimator opened #575 "TypeScript `types` folder missing from dist"
Just need to update the package.json `files` array to include `"types/"`
See also: #571

I'll send a pull request

[2017-03-28 06:34] sublimator commented on #574
See also: #575

[2017-03-28 11:52] Harsha-HV commented on #364
I have few issues in connecting to MQTT Broker (RabbitMQ) which is installed locally, and trying to create the scripts from the TruAPI, and below is my code and its Output

'use strict';

exports = module.exports = function (vuser) {

  exports=module.exports = function(MQTT)  {

//var vuserId;
var client;

/* init action */
vuser.init('Vuser init action', function (svc, done) {
  svc.logger.info(

[2017-03-28 21:27] ogis-onishi commented on #574
merged

[2017-03-28 21:27] #574 closed

[2017-03-29 16:20] micbuh opened #576 "websocket efficiency"
Hi,

sorry for posting here. Most likely I just don't get it, yet.
I would like to subscribe to several MQTT topics from the browser (web socket).
Initially I tried the Paho lib against Mosquitto, but wasn't satisfied with the performance.
Therefore, I gave MQTT.js a try. Performance wise the same issue. I also tried another broker, but no change.
Looking at packet level, I can see, that there is

[2017-03-29 16:34] mcollina commented on #576
@micbuh it can be improved. Specifically, we need to implement `_writev` in https://github.com/maxogden/websocket-stream. Or maybe add support for uws.

Which broker did you try? Have a look at https://github.com/mcollina/aedes.

[2017-03-29 16:56] vanesp opened #577 "Publishing to a topic with slashes does not work"
When I publish to a simple topic ('el'), it works.

`client.publish('el', rf);`

When I publish to a topic with sub-topics, nothing gets published.

`client.publish('el/rf', rf);`

I am monitoring what is happening with

`mosquitto_sub -d -t el`

Also, when I try with command line tools,

`mqtt pub -t 'el/ff' -h 'rpiv2.local' -m 'from MQTT.js'`

the message does not appear in mosquitto_sub.

[2017-03-29 18:13] RangerMauve commented on #577
@vanesp In your `mosquitto_sub` command, you're only subscribing on the `el` topic, if you have slashes after `el` then it won't be matched by that pattern. If you want all topics starting with `el`, subscribe on `el/#`

i.e. `mosquitto_sub -d -t el/#`

[2017-03-29 18:13] RangerMauve commented on #577
Alternately you may want to subscribe on `#` so you can see _all_ events

[2017-03-29 18:37] vanesp commented on #577
Thanks @RangerMauve... my mistake...

It's all working correctly now. Sorry for wasting your time.

[2017-03-29 18:37] #577 closed

[2017-03-29 18:52] RangerMauve commented on #577
No worries! Happens to everyone. :P

[2017-03-29 22:28] kSuccess commented on #424
hi @sanket-mindstix can you show me your mosquitto.conf file ,because i have same trouble with integrating TLS into Mosquito's broker

[2017-03-30 04:14] micbuh commented on #576
@mcollina , thanks for your quick response. I would be glad to see this issue tagged as feature request.

So far I am runningMosquitto. I had a quick look at aedes. Looks quite promising and I will definitely give it a try. Although, authorization is mandatory for my current project.

[2017-03-30 07:55] aogriffiths opened #578 "QUESTION: Identify the client that published a message"
Hi

This is probably a general mqqt question but I'm using mqtt.js and want to be able to log which clients are publishing a message. For example, client A subscripes to a topic and client B and C publich to that topic. Can my code in client As tell whether client B or C published it?

Specifically, with the code below in client A, can I tell if it was client B or C which published the message...

[2017-03-30 08:13] mcollina commented on #578
no it can't. You can add that information into the topic or the payload.

[2017-03-30 08:13] #578 closed

[2017-03-30 10:23] sowmyasoora opened #579 "After calling mqttClient.end() also client is trying to reconnect"
I wanted to disconnect mqttClient when i am logging out of my application. To disconnect i am using mqttClient.end(). client is trying to reconnect even after calling mqttClient.end().

Thanks in advance

[2017-03-30 10:30] mcollina commented on #579
Can you please upload an example?

[2017-03-30 10:31] mcollina commented on #576
@micbuh Aedes API allows you to embed custom authorization logic: https://github.com/mcollina/aedes#api.

[2017-03-30 11:23] sowmyasoora commented on #579
@mcollina Thanks for reply.

I am trying to connect mqtt broker using user credentials once i logged into my app. Once after user session expired i am using mqttClient.end() to disconnect mqtt client. But still mqtt client is trying to reconnect. As user credentials are invalid by that time it never connects to broker. I wanted to stop reconnect once i force closed my mqtt connection. Please help

[2017-03-30 12:44] mcollina commented on #579
after you call `.end()`, it should not try to reconnect.

[2017-03-30 21:42] mtnbrit opened #580 "typo in wss example - retain vs retained"
Hi, the wss example shows the publish command with a 'retained' flag, whereas the docs show it to be just 'retain'. In fact retain is the correct one.

[2017-03-31 06:16] keyeh commented on #573
@franleplant In the end what was your solution for MQTT on React Native?

[2017-03-31 06:41] mcollina commented on #580
would you mind sending a PR?

[2017-03-31 13:13] franleplant commented on #573
hey @keyeh so after a lot of battling I ended up using https://github.com/rh389/react-native-paho-mqtt

It's rather immature and I've already had submit a patch but it's all that we got. Kudos to the author though, very responsive and nice to work with.

I'd love to use mqtt.js but I didn't find a way to easily make it work with React Native Packager.
Also the lib needs to accept WebSocket and Loc

[2017-03-31 13:44] RangerMauve commented on #573
I'm going to be working on React-Native support within the next two weeks, I had an initial attempt that let me compile it, but it resulted in runtime errors. I'll post here when I have progress.

[2017-03-31 13:47] franleplant commented on #573
@RangerMauve let me know if there is something I can take a look, give you feedback, give you PRs, because Im right now working on an RN App that uses mqtt, so I can live test it.

[2017-03-31 15:14] RangerMauve commented on #573
@franleplant Thanks for the offer! Here's the PR I did to get the ball rolling and discussion around it: https://github.com/nodejs/readable-stream/pull/258

The original problem was that `readable-stream` was trying to require the `stream` module which was causing RN's bundler to freak out because it didn't see that module anywhere in its dependency graph (since it's a node thing).

I added a fix

[2017-03-31 15:15] RangerMauve commented on #573
You can try modifying the file in your node_modules folder to see if it works and if there's other issues that pop up.

[2017-03-31 18:14] franleplant commented on #573
Cool, Im going to investigate a bit next week, if I can make my self some time.

Thanks a lot for your participation!

[2017-03-31 18:37] RangerMauve commented on #573
Well, I'm going to get it to work by the end of April for sure since it's relevant to my day job. We've just been focusing on a `react-native-web` version first, so I hadn't gotten around it to it yet. :P

[2017-03-31 18:46] franleplant commented on #573
Sorry for using this thread as a forum, feel free to kick me out but this info is interesting for mqtt and react native and the community and does not require any effort from the mqtt.js maintainers.

So, I tried to make mqtt.js work with React native and went through a bunch of hoops but I think I made some progress, Im stuck in a place right now which if I understand how to get out I will update

[2017-03-31 18:50] RangerMauve commented on #573
That error is kind of weird. It shouldn't be requiring that file and instead should be getting `stream.js` in websocket-stream directly. What OS are you developing on?

[2017-03-31 18:55] franleplant commented on #573
OSX

[2017-03-31 18:59] RangerMauve commented on #573
Are you 100% sure that the error is within that file and not in [here](https://github.com/nodejs/readable-stream/blob/master/lib/_stream_readable.js#L61)? Can you post a stack trace?

[2017-03-31 19:21] franleplant commented on #573
100% sure because Im not doing anything magical, Im just following the stack trace. The first item is the `inherits` function def, and then it's that pointed file.

<img width="372" alt="screen shot 2017-03-31 at 4 20 28 pm" src="https://cloud.githubusercontent.com/assets/1852455/24565984/0119d34e-162e-11e7-8720-69f5ec79812d.png">

Make sure you follow my steps to see in you can replicate this pro

[2017-03-31 19:27] RangerMauve commented on #573
What version of MQTT.js and websocket-stream are you seeing in your package.json?

That file shouldn't even be imported because websocket stream specifies a [browser field in it's package.json](https://github.com/maxogden/websocket-stream/blob/master/package.json#L39) which should prevent it from loading `server.js` and instead only load `stream.js`.

It could be that either websocket-stream or pa

[2017-03-31 19:54] franleplant commented on #573
[code]

Greped from my yarn lock

That's weird, Im going to try to update my react native cli

[2017-03-31 19:55] franleplant commented on #573
My react native version is the latest:

react-native --version
react-native-cli: 2.0.1
react-native: 0.42.2

I would recommend to follow my steps to see where you get to

[2017-03-31 19:58] RangerMauve commented on #573
Hmm, sadly I don't have time today since I've gotta work on other stuff, but as I said, I'll be getting to it in about a week. In the meantime, there's definitely something fishy happening with the packager not respecting the `browser` field. Maybe also look into updating your react-native version of the project to something a little newer, AFAIK even though the CLI is installed globally, the scri

[2017-04-01 10:53] mcollina commented on #580
merged.

[2017-04-01 10:53] #580 closed

[2017-04-01 10:54] mcollina commented on #575
done.

[2017-04-01 10:54] #575 closed

[2017-04-01 10:56] mcollina commented on #536
this should be done now in 2.5.1

[2017-04-01 10:56] #536 closed

[2017-04-02 15:26] maecky opened #583 "Webpack 2 - Bundling Error"
How can I include mqtt in my webpack2 config for bundling?

I tried the following to get it to compile:

[code]

But I am getting the following error:

[code]

I am trying to get this to work since days and I cannot find any ressources on the net, explaining how I can achieve this.

Any help is greatly appreciated.

[2017-04-02 16:58] mcollina commented on #583
I do not know. I think mqtt should just load like any other module, so it should not be in the `externals`. Can you send a PR with an example of using webpack2 + react with mqtt? I think everybody would benefit by that. I will help fixing the example.

[2017-04-02 18:42] maecky commented on #583
Thank you for your answer.

I uploaded a "working" example here: https://github.com/maecky/electron-react-redux-mqtt

If you run it with: `npm run dev` everything is working fine.
But if you build it: `npm run package-win` the described error shows up. I modified the electron app in such way, that you can see the debugger in a production build.

[2017-04-03 04:18] ogis-onishi opened #584 "TypeScript: callback for unsubscribe should be optional"
https://github.com/mqttjs/MQTT.js/blob/v2.5.1/types/lib/client.d.ts#L140

[code]

The callback should be optional as the same as the other functions such as publish, subscribe.

[2017-04-03 05:08] sublimator commented on #584
#585

[2017-04-03 05:08] sublimator commented on #584
Any other issues you came across ?

[2017-04-03 05:10] ogis-onishi commented on #584
I just found #571. No other issues so far.

[2017-04-03 05:24] yohei1126 commented on #571
The callback for end should be function.
https://github.com/mqttjs/MQTT.js/blob/v2.5.1/types/lib/client.d.ts#L151

[code]

[2017-04-03 17:40] sowmyasoora commented on #579
Hi @mcollina , .end() is working fine. No worries. Its my mistake.  Thanks for your quick response.

I have another issue. When i am trying to connect to my MQTT broker if my server have more cookies (cookies size is around 950 bytes), not able to establish web socket connection with error "**failed: Connection closed before receiving a handshake response**". If cookies are less every thing was pr

[2017-04-04 01:09] ogis-onishi commented on #584
fixed by #585

[2017-04-04 01:09] #584 closed

[2017-04-04 01:22] ogis-onishi commented on #571
Is this fixed by #585?

[2017-04-04 01:27] ogis-onishi opened #586 "Typescript definition on DefinitelyTyped should be deleted"
The definition on DefinitelyTyped is no longer maintained, I think this shuould be deleted to avoid confusion.
https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/mqtt
https://www.npmjs.com/package/@types/mqtt

[2017-04-04 01:29] ogis-onishi commented on #586
@PekkaPLeppanen please let me know what do you think about this.
Or you may want to keep it and add some explanation to use [type definition](https://github.com/mqttjs/MQTT.js/tree/master/types) on this repo.
https://www.npmjs.com/package/@types/mqtt

[2017-04-04 01:59] sublimator commented on #571
I believe so

[2017-04-04 03:54] yohei1126 commented on #571
I think the callback for the end function should be explicitly defined as follows. It is much easier for library users to understand.

[code]

[2017-04-04 04:10] yohei1126 commented on #571
I sent pull request for this. #587

[2017-04-04 05:34] sublimator commented on #571
Probably void is more appropriate than any as a return type ?

[2017-04-04 05:36] ogis-onishi commented on #571
It is already void.

[2017-04-04 05:50] sublimator commented on #571
Soz, thought I saw it as 'any' ... never mind :)

[2017-04-04 06:13] PekkaPLeppanen commented on #586
It's already removed.

See https://github.com/DefinitelyTyped/DefinitelyTyped/commit/5b092631c92ea29f86cbc907ddb536a015921ce6

I suggest to close this issue.

[2017-04-04 06:14] ogis-onishi commented on #586
Thanks.

[2017-04-04 06:14] #586 closed

[2017-04-04 09:02] mcollina commented on #579
I'm closing this issue.
I do not know about the second error, it might be related to your application. Feel free to open another issue and attach a way to reproduce the problem.

[2017-04-04 09:02] #579 closed

[2017-04-04 12:54] lpinca commented on #576
Sorry for jumping in the discussion but you can greatly improve performance by disabling permessage-deflate. It basically kills `ws` performance and uses a huge amount of memory.

If I'm not wrong you can forward configuration options to `websocket-stream` and then in turn to `ws`.

[2017-04-04 12:56] lpinca commented on #576
@micbuh using https://github.com/websockets/bufferutil also helps a lot.

[2017-04-04 14:25] luimucar opened #588 "mqtt version 2.5.1 throws error when compiling through webpack2. mqtt v2.4.0 is OK"
I am using mqtt in package.json   "mqtt": "^2.4.0", recently reinstalled everything and the library updated to version 2.5.1. Then webpack started to fail compilation. Going back to mqtt 2.4.0 solves the issue. What I have to do to use 2.5.1? Here are the logs when failing:

ERROR in [at-loader] node_modules\mqtt\types\lib\client.d.ts:1:1
    Cannot find type definition file for 'node'.

ERROR in

[2017-04-04 14:28] mcollina commented on #588
can you send an example project that demonstrate this failure?

cc @sublimator

[2017-04-05 10:08] mcollina commented on #576
this should improve once it's merged and MQTT.js updated: https://github.com/maxogden/websocket-stream/pull/112.

[2017-04-05 15:42] gilesbradshaw opened #589 "Max drain listeners.."
My client does =lots of oublishes when it first starts up whuch leads to me getting the
"Possible EventEmitter memory leak detected. 1001 drain listeners added. Use emitter.setMaxListeners() to increase limit"  error

I wonder if this is not really a problem - this could be made configurable (happy to do a PR if you think it would)

ie in lib/client.js...
[code]

and later...

[code]

[2017-04-05 15:46] mcollina commented on #589
Doing a lot of QoS 1 publishes in parallel it's not really a good idea. If you can stagger them, or use something like http://npm.im/fastq to only send a few.

Anyway, send the PR :).

[2017-04-06 02:05] ogis-onishi commented on #566
This is fixed with #567

[2017-04-06 02:17] #566 closed

[2017-04-06 02:18] #571 closed

[2017-04-06 02:41] yohei1126 commented on #536
@sublimator
I got the error "error TS2307: Cannot find module 'mqtt'." when compile.  How can I resolve the module?

[2017-04-06 02:57] sublimator commented on #536
Can you verify that you have the typings in your node_modules/mqtt ? Are you using @mcollina's latest npm push of mqtt?  What version of typescript?

[2017-04-06 03:14] ogis-onishi commented on #536
* I have "\node_modules\mqtt\types".
* I am using the follwoing modules.

[code]

[2017-04-06 04:01] sublimator commented on #536
Interesting, as it "works for me" here.

`import { connect, MqttClient } from 'mqtt'`

Is all I'm using.

[2017-04-06 04:10] ogis-onishi commented on #536
My tsconfig.json is as follows.

[code]

The result of trace resolution is like this. The tsc compiler is trying to search the module in node_modules/@types/mqtt.d.ts. But not in node_modules/mqtt/types/index.d.ts.
Maybe this is an related to module resolution setting in tsconfig.json.

[code]

[2017-04-06 04:12] sublimator commented on #536
I'm using moduleResolution: "node"

Try that?

[2017-04-06 04:13] sublimator commented on #536
I'm relatively new to TypeScript btw

[2017-04-06 04:28] sublimator commented on #536
I'm using it with an angular 4 app, that was scaffolded by the angular cli,
which creates a tsconfig file with `compilerOptions.moduleResolution`, set
to `node`

[2017-04-06 04:29] ogis-onishi commented on #536
Thanks. I fixed it with the "moduleResolution: Node" in the "compilerOptions".

[code]

[2017-04-06 06:21] sublimator commented on #536
We should update the TypeScript section of the README I guess

[2017-04-06 06:31] mcollina commented on #536
PR?

[2017-04-06 06:36] sublimator commented on #536
Done. We might wanna add some CI tests that use all the `strict` tsconfig settings. I'll try and get around to that at some point.

[2017-04-06 06:40] sublimator opened #592 "Improve TypeScript: testing on CI, plus exports"
* Add some compile tests using a tsconfig with all the strict settings
* Make sure we are exporting the options type etc
* Add on/once overloads for all emitted events

[2017-04-06 06:41] sublimator commented on #592
@yohei1126

Do you want to help me with this? Anything else need improvement? When I get a block of time I will look into it. Thanks

[2017-04-06 06:44] sublimator commented on #588
Hi, you seem to be missing the `@types/node`package. I believe we need to update the types index.d.ts to export more members than it currently is. I think I missed that because I was using a custom index, and importing the module via `import * as mqtt from 'mqtt/ts` so I could navigate to the source directly rather than the `.d.ts` files.

Will fix exports with #592

[2017-04-06 06:45] sublimator commented on #588
No, actually, it seems the index is exporting everything:
[code]

[2017-04-06 06:46] sublimator commented on #588
The correct name for the options type is actually `IClientOptions` rather than `ClientOptions`. Be sure to `npm install @types/node --save-dev` in your project.