[2017-04-06 06:48] sublimator commented on #592
Exports seem fine, though we could do it more explicitly rather than using wildcard exports: https://github.com/mqttjs/MQTT.js/blob/master/types/index.d.ts

[2017-04-06 07:14] sublimator commented on #592
TODO: Add on/once overloads for all emitted events

[2017-04-07 12:35] asCii88 opened #595 "The example doesn't work"
[code]

The example code doesn't work neither in Ubuntu 16.02, nor in Windows 10.

It just sits there and doesn't publish anything.

[2017-04-07 12:37] sublimator commented on #595
Try another public broker.

[2017-04-07 12:39] sublimator commented on #595
broker.mqttdashboard.com

[2017-04-07 12:52] asCii88 commented on #595
It works. Should replace the broker from the example.
Also, I had to specify { protocolId: 'MQIsdp', protocolVersion: 3} to connect to mosquitto version 1.0.4-0ppa1

[2017-04-07 12:52] #595 closed

[2017-04-07 14:30] CVarisco opened #596 "v2.6.0 error on connect function"
Hi!
I updated version few minutes ago and now I have this error on my console (without change anything on my code base).

The error is:
![screen shot 2017-04-07 at 16 27 55](https://cloud.githubusercontent.com/assets/7335613/24804603/3a024d5e-1baf-11e7-8ccd-b812198a5d07.png)

This is how I create client.
[code]
Thanks to your work.
From 🇮🇹

[2017-04-07 14:37] mcollina commented on #596
which browser are you using? Can you upload an example of this regression?

[2017-04-07 14:41] CVarisco commented on #596
Browser: Google Chrome 57.0.2987.133

I don't change anything on my code.
What can I do to help you with ?

[2017-04-07 14:44] CVarisco commented on #596
If you want, I can send you this.
https://gist.github.com/CVarisco/60f10ef15cd1523fbf627f467d962b0d

[2017-04-07 14:46] mcollina commented on #596
@CVarisco tests are green, I can't replicate. In order to fix, I need to replicate the bug. Can you provide me with a bare-minimum example where this does not work? I need a **full** example that I can run to diagnose the problem.

[2017-04-07 14:54] CVarisco commented on #596
I'm texting you on Gitter to explain the issue.
I can't send the full application, because is too large.

If you can, answer me on Gitter.
Thanks a lot

[2017-04-07 15:26] mcollina commented on #596
This was fixed by blocking the version of readable-stream to v2.2.6, so maybe there is an issue with webpack and the changes we recently did to readable-stream.

[2017-04-07 15:26] #596 closed

[2017-04-07 16:43] RangerMauve commented on #596
@CVarisco could I get a copy of your webpack config to see what might be causing issues?

[2017-04-07 16:47] CVarisco commented on #596
@RangerMauve of course!
https://gist.github.com/CVarisco/87cc9f91ea3cbd92ad276f3fb83eb4ef
It's a little confused, sorry

[2017-04-07 22:23] flodonsky opened #597 "MQTT version 2.6.0 Error on '.connect()'"
I'm building with webpack, as I have been for a while now. When I build the new version of MQTT that got pushed, what looks like last night. I now get this error:
`TypeError: this.once is not a function`

When I run the stack trace it back it stops me at: `client.connect(`

 Rolling back to `v2.5.2` It resolves my issue, but now I have a high-risk production situation and any resolution right now

[2017-04-08 00:45] yohei1126 commented on #597
The same issue as this? https://github.com/mqttjs/MQTT.js/issues/596

[2017-04-08 00:54] yohei1126 commented on #597
I have the same issue.

[2017-04-08 01:26] flodonsky commented on #596
Why is this closed? I see no resolution... just a roll back.

[2017-04-08 05:58] mcollina commented on #596
@flodonsky can you upload a full example to reproduce the issue?

[2017-04-09 06:41] yohei1126 commented on #596
This can be reproduced with the Webpack example on the Readme.
https://github.com/mqttjs/MQTT.js#browser

[2017-04-09 08:11] mcollina commented on #596
@yohei1126 there might be some other condition, that's working for me.

Anyway, this should be fixed in readable-stream@2.2.9. Wipe your `node_modules` folder and you should be ok.

[2017-04-09 08:45] rahulbhanushali opened #598 "return code missing on connection error (connack event)"
The error event emitted in `_handleConnack`  method passes the error object with a message (which is mapped to the return codes for connack) as the parameter for the event listener.

Passing return codes along with the message will allow for adding custom logic based on return codes.

Reference: https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L760
`    this.emit('error', new Error('Con

[2017-04-09 08:59] mcollina commented on #598
I think a custom error object is ok. Or just attaching a property to it.

Would you mind assembling a PR?

[2017-04-10 07:08] rahulbhanushali commented on #598
I have attached a property to the error object and created a PR.

[2017-04-10 09:20] yan-foto commented on #524
Maybe it's a good time to reference this module also from `mqtt` package in the `README` 🤔

[2017-04-10 11:41] RamcharanTeja commented on #424
hi @sanket-mindstix  can you share the reference link to configure TLS into Mosquitto broker, I tried but getting "Problem Setting TLS Options" Error

I follwed this link https://mosquitto.org/man/mosquitto-tls-7.html and created only server side keys

[2017-04-10 13:28] RangerMauve commented on #524
@yan-foto We do! It's right [here](https://github.com/mqttjs/MQTT.js#promise-support)

[2017-04-10 14:11] yan-foto commented on #524
@RangerMauve my bad! I must have missed it. sorry! :sweat_smile:

[2017-04-10 16:07] flodonsky commented on #596
@mcollina  No, unfortunately I work on a proprietary code base. However it seems like I'm not the only one having the issue, and I don't think fixing a dependency at a certain version is a solution at all. This means that a dependency manager like NPM is useless as the engineer then has to, post `npm install`, manually go into their `package.json` and magically know to set `readable-stream` to ver

[2017-04-10 16:11] RangerMauve commented on #596
@flodonsky When bugs are fixed in modules, it's common practice to update your version in order to get the fix. You don't need to manually go into package.json since `npm install` will fetch the latest version of the dependency with the bug fix.

As for the relationship to readable-stream, it's the only module for using Node streams outside of the node core, and anybody trying to use streams has n

[2017-04-10 16:20] mcollina commented on #596
@flodonsky please moderate your language. "That's ridiculous" is not accepted. You are not forced to use Node, NPM, MQTT.js or any of the like, if those are not of your liking. I'm not responsible for your code not working, **you are**.

This bug has been fixed over the weekend on `readable-stream`, and it just requires a big `npm update` or a wipe of `node_modules`. I think you should appreciate

[2017-04-10 16:55] flodonsky commented on #596
I rolled back the package and in temporary fixed MQTT.js @2.5.2, and it was just a bug... I was speaking of the approach to the 'solution' not the fix that's been implemented. I absolutely appreciate a fix so quickly and being able to line my packages back up to update instead of fixing the version in a package manager! Not only that, I appreciate this package being available at all so I don't hav

[2017-04-10 16:55] flodonsky commented on #597
FIXED

[2017-04-10 16:55] #597 closed

[2017-04-11 13:33] wcatron opened #600 "Dependency errors"
Last Friday I pushed an update of my node.js web app to Heroku which deployed successfully but threw `TypeError: undefined is not an object (evaluating 'superCtor.prototype')` when going to it in the browser only on the deployed version. So I believe what happened is the Heroku server used the latest dependencies while my local one ran old working ones. I mucked around with a lot of different pack

[2017-04-11 13:50] mcollina commented on #600
@wcatron the problem is caused by https://github.com/nodejs/readable-stream/issues/277, which was solved in `readable-stream` v2.2.9. Removing your node_modules and reinstalling should solve this issue.

[2017-04-11 13:50] #600 closed

[2017-04-11 19:33] alexleonescalera commented on #573
I've been dealing with the "property of undefined" issue for the last week.

My findings on this is that it is a problem with React Native's packager not using correctly the `browser` field in `package.json`.

This only happens when you are trying to override the `main` file in your `package.json`. To give an example:
[code]

works fine with webpack, but with React Native, `mqtt.js` is not overrid

[2017-04-11 19:39] RangerMauve commented on #573
@alexleonescalera Good find! You should open an issue in their repo so that somebody looks into it. :D

[2017-04-11 19:45] franleplant commented on #573
good work @alexleonescalera, just to double check, by adding this ` "./mqtt.js": "./lib/connect/index.js"` to the React Native app package.json you can use `mqtt.js` without further problems?

[2017-04-11 20:07] alexleonescalera commented on #573
I don't think so. The mapping from `mqtt.js` to `lib/connect/index.js` happens in the MQTT.js project's `package.json`, not in your React Native's `package.json` (unless I understood incorrectly your question).

Some additional info:
From playing around with MQTT.js and websocket-stream inside the `node_modules` folder in my React Native project, it seems that the `react-native` field inside `pack

[2017-04-12 12:45] micbuh commented on #576
@mcollina , I saw that `_writev` was implemented, meanwhile. Thanks a lot for that! I browserified a fresh copy MQTT.js and gave it another try (against mosquitto). Unfortunately, I couldn't see any performance increase. Somewhere in the code I saw, that `objectMode` should be turned off. So, I tried that as well.

Basically, I am currently not sure, what to expect and if all necessary chances are

[2017-04-12 12:56] lpinca commented on #576
@micbuh did you try disabling permessage-deflate?

[code]

[2017-04-12 13:42] clem91 opened #601 "Create a secure connection"
Hi,

I searched into the doc a way to connect to my brocker (mosquitto) without having to inform the client with any keys or certificates. I have a working secure connection with Let's encrypt certificates and what i want is making a secure connection with the client asking for server side certificates. Is it possible with mqtt.js? The doc is quite confusing with the SSL part.

[2017-04-12 14:00] RangerMauve commented on #601
@clem91 If you're using trusted certificates on your server, all you need to do is use `mqtts` as the protocol in your connections.

e.g.

[code]

[2017-04-12 14:28] clem91 commented on #601
It works like a charm!
The only problem I faced is when I precise my port 8083 ( wich is the default one) it's not working.

[code]

It's not a real problem just an information for next people with same issue.

Thank you @RangerMauve

[2017-04-12 14:40] RangerMauve commented on #601
@clem91 You might have a configuration error, because the default port for TLS in MQTT is 8883 according to [the connection code](https://github.com/mqttjs/MQTT.js/blob/master/lib/connect/tls.js#L6)

[2017-04-12 15:03] clem91 commented on #601
You are right. My configuration was correct I was just misthinking and mixing ports. This debug afternoun liquified my brain =S.

[2017-04-12 15:08] RangerMauve commented on #601
Cool, glad you're sorted out! Hope this library proves useful for whatever you're doing!

[2017-04-12 15:08] #601 closed

[2017-04-12 18:07] alexleonescalera commented on #573
FYI: opened an issue on React Native:
https://github.com/facebook/react-native/issues/13474

[2017-04-14 17:12] andy-ms commented on #592
Hi, despite #582 having been merged, the `types` folder still doesn't show up in NPM package.

[2017-04-15 07:34] ranma42 commented on #576
@mcollina in my environment the `_writev` change reduced the fragments quite a lot (before I was seeing one fragment per packet field), but the packets are apparently still sent as 2 fragments, one for the first byte and the other one for the remaining data.
I believe this might be caused by a bad interaction with `duplexify`, which does not know about `_writev` and upon uncorking does a `_write`.

[2017-04-15 08:30] mcollina commented on #576
I will have little time to dedicate to this in the coming month, but I will try to have a look. What did you use to debug this situation? I'd need to replicate.

[2017-04-15 08:58] ranma42 commented on #576
I am sniffing the network traffic with Wireshark. I can provide you with a pcap dump of the session if that is useful.

[2017-04-20 16:46] benjaminche commented on #570
Having the same issue, it's driving me crazy - the same mqtt code works in one heroku instance I have but doesn't work in another instance that's exactly the same.    It connects to the MQTT server just fine, but then throws a 'offline' event, then instantly attempts to reconnect again.

`var mqttClient = mqtt.connect('mqtt://SERVER_ENDPOINT');

/** Emitted on successful connection */
mqttClient.o

[2017-04-20 16:49] jed commented on #535
How would folks feel about a PR adding an async version of this function, so that URLs could be signed remotely? For AWS ioT in particular, this would allow you to ensure an approved `clientId` and eliminate the need for a local crypto implementation.

[2017-04-20 17:02] benjaminche commented on #570
I figured out what was happening -> I was connecting to the server from multiple instances with the same user and it was killing the connection which triggered the offline event.   #396 would have saved me from flooding the server with connection requests that went unnoticed until I was blocked from the mqtt API haha

[2017-04-23 18:24] johan13 commented on #398
The bug is still there as far as I can tell.

Is there any point in offering the option to provide a persistent `Store` implementation for the `outgoingStore` if the stored messages are not sent when the process restarts?

[2017-04-24 13:53] ozomer opened #602 "reconnect documentation"
It is not clear from the documentation what the reconnectPeriod option covers and what it does not.
If the first connection attempt does not succeed, will there be a reconnection attempt?
If the first connection attempt succeeds and then fail, will there be a reconnection attempt?
What are the other events that would happen in each scenario, regarding 'error', 'close', 'offline' and 'connect' even

[2017-04-24 23:38] yohei1126 commented on #592
@sublimator can you check it?

[2017-05-01 08:47] mcollina commented on #398
@johan13 would you mind to open a new issue, with a script to reproduce?

[2017-05-01 09:09] mcollina commented on #570
It seems we can close this now. Feel free to open a new issue if it is still an issue.

[2017-05-01 09:09] mcollina commented on #535
@jed if it does not add too much complexity, sure!

[2017-05-01 19:17] Irfanbsse2060 opened #604 "Nodejs mqtt module connect problem"
I am using mqtt module in nodejs to connect with mosquitto broker running in my another pc locally.
Broker is running on Ip 192.168.0.4 and port 1883.
Here is my code

var mqtt = require('mqtt')
var client  = mqtt.connect( 'mqtt://192.168.0.4:1883');

client.on('connect', function () {
    client.subscribe('presence')
    client.publish('presence', 'Hello mqtt')
})

client.on('message', function (

[2017-05-01 19:22] mcollina commented on #604
Is the connect event firing?

[2017-05-01 19:34] Irfanbsse2060 commented on #604
yes

[2017-05-01 19:37] Irfanbsse2060 commented on #604
![mqttconnect](https://cloud.githubusercontent.com/assets/25392177/25591784/77ab5b68-2ecf-11e7-87ae-ad3e92aa2d8a.PNG)
as you can see in pic, connected is false

[2017-05-01 19:37] mcollina commented on #604
So, it's connecting.
You must do the publish in the subscribe callback.

[2017-05-01 19:37] #604 closed

[2017-05-01 19:38] mcollina commented on #604
Also, don't call client.end(), it will close the client.

[2017-05-01 19:41] Irfanbsse2060 commented on #604
am i correctly giving the path in connect method ?

[2017-05-01 19:59] Irfanbsse2060 opened #605 "Still not able to connect"
I am using mqtt module in nodejs to connect with mosquitto broker running in my another pc locally.
Broker is running on Ip 192.168.0.4 and port 1883.
Here is my code

var mqtt = require('mqtt')
var client  = mqtt.connect( 'mqtt://192.168.0.4:1883');

client.on('connect', function () {
    client.subscribe('presence')
    client.publish('presence', 'Hello mqtt')
})

client.on('message', function (

[2017-05-01 20:21] mcollina commented on #605
Can you connect from the same host that is running mosquitto? Do you or the other PC have any firewall installed? Can you see port 1883 on that ip as open? (use nmap)

the client.publish should be in the subscribe callback.

[2017-05-02 08:54] Irfanbsse2060 commented on #605
it works well in same host. bt why its not working on the computer?   i have tried on nodemcu. it works well. do  i need to forward port?

[2017-05-02 09:01] mcollina commented on #605
What's the other computer version of Node.js, npm and operating system?

[2017-05-02 13:45] mcollina commented on #602
@ozomer the best way to do write this doc is to look at the code, and fill in the documentation.
I'll be happy to review.

[2017-05-02 14:02] Irfanbsse2060 commented on #605
window 8  and node version v6.9.4

[2017-05-02 14:44] johan13 opened #607 "Messages published when disconnected are not added to the store"
Messages posted while disconnected from the server are only added to the in-memory queue - not to the store. If the process is terminated before the MQTT server comes back online the messages are lost. This is a duplicate of #398.

To reproduce:
[code]

Output:
[code]

The "Hello again" message is never received.

[2017-05-02 14:46] johan13 commented on #607
It appears that in `MqttClient.prototype._sendPacket` we check if the client is connected and if not then we add the message to the `queue`. The message isn't added to the store until `storeAndSend` and that method isn't called.

[2017-05-02 16:30] mcollina commented on #605
Maybe it's an issue with Windows 8, can you try disabling all the firewall that are in place?

[2017-05-02 17:21] mcollina commented on #607
I'm open to suggestion on how to deal with that, would you like to assemble a PR?

[2017-05-02 17:36] Irfanbsse2060 commented on #605
Thanks mcollina.

[2017-05-02 17:38] #605 closed

[2017-05-02 17:56] johan13 commented on #607
I can give it a go. That will be mid May at the earliest though.

[2017-05-03 08:25] ozomer commented on #602
Well, I just thought it would be nice to have a state-machine diagram by the developers themselves.

[2017-05-03 08:33] mcollina commented on #602
@ozomer this is done by volunteers, so you (or anybody else) can be one! :)

[2017-05-04 06:26] sclausen opened #608 "Inverted clean session behavior?"
In your readme you state, that

The specification states in [3.1.2.4 Clean Session](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Ref362965194), that

If I'm not wrong, this behavior is the opposite behavior of [MQTT-3.1.2-6] stated in [3.1.2.4 Clean Session](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Ref362965194).

[2017-05-04 07:29] mcollina commented on #608
Maybe it's not clear in the README. If `clean: true`, MQTT.js will take care of resubscribing in case the connection goes down. If `clean: false`, the broker will do it for you.

[2017-05-04 07:29] #608 closed

[2017-05-04 08:24] sclausen commented on #608
@mcollina The thing is, the MQTT specification statesm, that if the clean flag is present, the server AND the client MUST delete the session and therefor the subscriptions. So this behavior is against the specification.

[2017-05-04 08:28] mcollina commented on #608
Yes. It recreate a new session, and it does new subscriptions. From an API and user perspective, it makes sense, because otherwise everybody had to redo all their subscriptions on reconnect if the network went down.

[2017-05-04 08:45] sclausen commented on #608
Okay, I get it :+1:

[2017-05-11 06:47] yohei1126 opened #609 "TypeScript: ISecureClientOptions is not compatible with Node.js API"
As  mentioned in the README, in case mqtts (mqtt over tls) the options object is passed through to tls.connect(). But type of some fields on ISecureClientOptions, options for tls connection, are not compatible.

The current diffinition is as follows.

[code]
Acording to [the Node.js API documentation](https://nodejs.org/api/tls.html#tls_tls_createsecurecontext_options),

* `key` should be `key: ke

[2017-05-12 07:47] btsimonh opened #611 "If a packet is published with QOS 2 to Mosca, client does not close"
hi,

the attached javascript illustrates this issue.
tested with mqtt.js 2.2.1 and 2.7.1, mosca 2.3.0
If a packet is published with QOS 2 to mosca, then the client does not close correctly?
The issues seems to be that the outgoing message queue never fires 'outgoingEmpty', so finish() is never called in client.end.

Mosca does not claim QOS 2 support, and this is reported to not be an issue with a

[2017-05-12 07:48] mcollina commented on #611
Mosca does not support QoS 2. It's clearly stated in the readme.

[2017-05-12 07:56] btsimonh commented on #611
Although true, shouldn't mqtt.js be more graceful about it?
Or should we have a timeout mechanism around the close; at the moment, because
client.once('close', function() {
                    done();
                });
never calls done(), it breaks NR.
Your advice is appreciated :)
If someone does end up with QOS 2 set, are other 'bad things' going on under the hood which could be a long term is

[2017-05-12 07:59] mcollina commented on #611
I'm not exactly sure how to handle that case, and I have little time atm. Would you like to attempt a more graceful degradation if QoS 2 is not supported?

[2017-05-12 08:05] btsimonh commented on #611
I'll see what I can do; no promises :).

[2017-05-12 08:19] knolleary commented on #611
What does mosca do if it receives a qos2 publish?

I'd expect it to kill the connection rather than ignore it.

[2017-05-12 08:30] mcollina commented on #611
@knolleary subscriptions are degraded, but publishes are ignored, to avoid continuous killing of connections. Maybe we should revise that, as it seems not having the desired effect.

[2017-05-12 08:35] btsimonh commented on #611
no return msg is received, so the client just has a bunch in it's queue.  I can't see any message timeout code in mqtt, am I just missing it?  I'm not familiar enough with the MQTT std to know if a timeout on messages on a connected connection is appropriate...

[2017-05-12 09:09] #609 closed

[2017-05-13 08:46] mcollina commented on #611
I think we should have a timeout here, and some way to notify the user of the situation. How long has the server to reply, before considering the message as not sent?

What are other clients doing in this specific situation?

[2017-05-14 23:38] xiongxiong commented on #541
+1

[2017-05-16 13:22] davweiss opened #612 "Can't connect to Server"
Hello,

i trie since 3 Days to connect to the SAP MQTT over WSS (wss://iotmmsXXXXXXXXX.hana.ondemand.com/com.sap.iotservices.mms/v1/api/ws/mqtt).
With this i'm using a p12 client certificate.
But it goes to stuck on/ after the Handshake (see Wireshark Picture).
![wireshark](https://cloud.githubusercontent.com/assets/20642456/26107911/2d7a2664-3a4b-11e7-9c65-8689b1e32abe.png)
10.XX.XX.XXX is my IP

[2017-05-16 13:40] mcollina commented on #612
It's really hard to help you without a sap broker.
Have you tried running a debug session on your node client?
The best option is for you to contact their support.

[2017-05-16 14:32] mcollina commented on #612
There seems to be a bug in your broker code:

[code]

[2017-05-19 05:19] davweiss commented on #612
I have resolved it with chaning the "sendPacket" method in "mqtt/lib/client.js" to

[code]

[2017-05-22 12:52] eiabea opened #614 "Unhandled error event on connection lost with TLS"
Hey,

i am getting an stack trace when my [mqtt broker](https://github.com/emqtt/emqttd) goes down while connected via mqtts.

This only happens, when the insecure flag is set to false

ascoltatori version: 4.1.0

Behavior:

1. Broker up and running
2. mqtt client connected
3. Broker goes down
4. clients tries to reconnect and dies with following message

[code]

If i set insecure to true the clie

[2017-05-22 13:05] masterclock opened #615 "IClientSubscribeOptions's qos is defined as optional but required by code"
https://github.com/mqttjs/MQTT.js/blob/master/types/lib/client-options.d.ts#L117
defines:
[code]
but according to the js code, `qos` is required, otherwise, the client will not function properly.

[2017-05-22 17:01] mcollina commented on #614
Have you tried just using MQTT.js? Does it causes the same error?

[2017-05-22 17:38] eiabea commented on #614
No, because i checked the code in [mqtt_ascoltatore](https://github.com/mcollina/ascoltatori/blob/master/lib/mqtt_ascoltatore.js#L60) and found out, that ascoltatori does pass all the options directly to mqtt

[2017-05-22 18:20] mcollina commented on #614
This is very hard to debug. Would you mind either to send a PR, or to send a PR with a failing test?

[2017-05-23 03:10] eiabea commented on #614
it is indeed very hard to debug in an automated test. I can not really think of a good solution to start a tls enabled broker with a valid chain and domain in an unit test :(
Maybe we could do some kind of live debugging with our companies broker and a small script connecting to it and i kill the broker right after the script connects manually?
I know it is a strange solution, but i couldn't find

[2017-05-23 06:31] mcollina commented on #614
@eiabea you can use a self-signed certificate as long as you pass the signing CA to the `ca` arguments.

[2017-05-23 06:41] eiabea commented on #614
i will try to write a unit test for it, or at least debug it and report back

[2017-05-25 11:36] eiabea commented on #614
I am currently trying to debug this issue and found out that it is not necessary to stop the mqtt broker, i even get the same stacktrace when i try to connect without a broker available on the domain. When i set the `rejectUnauthorized` flag to `false` the client waits for a connection.
I guess this has something to do with the TLS handshake?

[2017-05-25 12:27] jyotman opened #616 "Link not working in README.md"
This [link](https://github.com/adamvr/MQTT.js/blob/master/examples/server/orig.js) used in README.md is not working. Is there any alternate to this?

[2017-05-25 16:25] Shinjifei opened #618 "auto reconnect bug"
The auto reconnect functionality is effectively DoS'ing my mqtt broker.  The reconnect process is broken

Source File is Client.js
`MqttClient.prototype.subscribe` is called and at the end of this function,

 `this._sendPacket(packet)` is called.

The first few line in sendPacket

[code]

This adds the topics to be resubscribed on connect to a queue.  This happens for every 1second that the client

[2017-05-25 16:41] RangerMauve commented on #618
That sounds pretty awful. This seems like it was introduced with the automatic resubscribe feature that was added a while ago. Would it make sense to de-dupe the subscription packets? Or would the issue be somewhere else?

[2017-05-25 17:08] elmaco93 opened #619 "Wait For all responses and pack them in a JSON"
Hi publish to a topic called temperatures, and all subs to temperaures respone to the broker with their value. I want to store all this temperatures inside a JSON file. How can i do this.

Thanks

[2017-05-25 17:43] Shinjifei commented on #618
I am positive this was introduced with the automatic resubscribe feature.  If the auto resubscribe is to be left in, yes the queue needs to remove dups or never have dups added.

We honestly didnt need the functionality at all in the way we wire up our client.  We set our subscriptions onConnect.  When a client gets disconnected by default it tries to reconnect every 1000ms. When it connects a eve

[2017-05-25 18:22] RangerMauve commented on #618
Would a quick way forward be to make the auto-resubscribe be optional and configurable through the config object? We could set that up initially and then look into doing a more thorough fix for this issue.

[2017-05-25 18:30] RangerMauve commented on #618
Sadly, I'll be busy for the next week or so, but if anybody wants to do a PR, here's what we'll need:

- A new config option, maybe call it `autoResubscribe` or something similar, have it be true by default so that we're fully backwards compatible
- Modify the code [here](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L194) to check that configuration before trying to subscribe again

[2017-05-26 08:21] mcollina commented on #618
Ahum, I think the bug should be fixed by having the re-subscription issued on `'connect'` rather than `'reconnect'`, as `'reconnect'` fires _before_ CONNACK is established:

https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L192-L197

If I understand correctly, that would remove the bug, as it will not grow the queue indefinitely for each reconnect.

[2017-05-26 13:25] elmaco93 commented on #619
Nevermind. I Find a way.

[2017-05-26 13:25] #619 closed

[2017-05-26 14:05] Shinjifei commented on #618
@mcollina above commit fixes the problem.

We would love to see a option to turn this feature off altogether though.

Thanks for the quick fix.

[2017-05-26 17:07] #618 closed

[2017-05-26 17:30] #616 closed

[2017-05-29 12:14] vairabagni opened #622 "Subscribing to wildcard topic is not working from browser whereas it works from nodejs"
I have different topics like: log/gw1, log/gw2 and so on.
I want to subscribe on 'log/#' from browser.
It is not receiving any logs where as from nodejs (TCP port) it is able to receive logs.

Is it really supported ?

[2017-05-29 14:06] mcollina commented on #622
Yes it is, so maybe it's something in the browser.

[2017-05-29 14:07] RangerMauve commented on #622
This library passes subscriptions as is to the broker without doing any additional processing on them, it's up to the broker to support wildcards. Would you mind posting a code sample so we can debug what's wrong?

[2017-05-29 15:57] vairabagni commented on #622
`/* eslint-disable no-console */
import { connect } from 'mqtt';

function invert(obj) {
  const keys = Object.keys(obj);
  const newObj = {};

  keys.forEach((key) => {
    newObj[obj[key]] = key;
  });

  return newObj;
}

class MQTTRedux {
  constructor(config) {
    this.config = config;
    this.topicActionMap = {};
    this.isConnected = false;
  }

  setServerUrl(url) {
    this.config.url

[2017-05-29 16:01] vairabagni commented on #622
// MQTT Client Config
const mqttConfig = {
  url: 'mqtt://localhost:8008/',
  opt: {
    clientId: `litegrid-webclient-${Date.now()}`,
    username: '',
    password: '',
  },
};
const mqttRedux = createClient(mqttConfig);
mqttBroker.connect(null, this.context.store);

[2017-05-29 16:15] RangerMauve commented on #622
The problem is here: `this.topicActionMap[actionMap[action]] = action;`

What you're doing is making `topicActionMap` look like

[code]

When you get MQTT events coming in from the broker, you'll get `log/gw1` and `log/gw2`, neither of which equal `log/#`, so when you use `topicActionMap["log/gw1"]` you will get `undefined`.

You should use a library for matching MQTT patterns like [mqtt-pattern](

[2017-05-29 16:22] arminbaljic opened #623 "The error handler is not invoked when authentication fails."
Hi. I am having an issue to set up error handling when a client connection to broker fails (because of wrong username/password). It looks like "error" handler is not invoked in this case. "MQTT.js" is used in "angular" application with "mosquitto" broker and auth plugin. Client code snippet:
[code]
If the connection fails only "close" handler is invoked. No error will be shown and reconnect loop w

[2017-05-29 16:33] vairabagni commented on #622
Thanks a lot. This really unblocked me. Thank you very much.

[2017-05-29 16:33] #622 closed

[2017-05-29 17:36] RangerMauve commented on #622
Glad I could help! 😄

[2017-05-30 08:47] behrad commented on #607
please check #624  @johan13 @mcollina

[2017-05-30 10:09] pierreclr opened #625 "Using MQTT with NativeScript"
Hi there,

I'm actually trying to use mqtt.js library inside a NativeScript project but got the following error :
`app/tns_modules/mqtt/mqtt.js:1:19: JS ERROR SyntaxError: Invalid character: '#'`

Is MQTT.js compatible with NativeScript or only with browser and node env ? In this case does someone can give me directives (polyfills) to make it compatible ?

[2017-05-30 14:14] RangerMauve commented on #625
Seems to be related to NativeScript not supporting the [browser](https://github.com/mqttjs/MQTT.js/blob/master/package.json#L55) attribute in the package.json.

Change your code to use `require("mqtt/lib/connect")` instead

[2017-05-30 14:16] RangerMauve commented on #625
There's a good change that NativeScript won't support this library, though since we require either a Node.js or a Browser environment.

[2017-05-31 06:51] yohei1126 commented on #615
As far as I know, qos is optional.
https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L413

[2017-05-31 07:18] masterclock commented on #615
[code]
but running the above modified example code doesn't pass as expected, mqtt keeps connect and disconnect loop

[2017-05-31 08:02] 4rzael commented on #615
From [this line](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L439), I suppose it won't work if you give the `subscribe` function an empty object, but it will if you don't pass it an object at all.

Could you try replacing `client.subscribe('presence', {})` with `client.subscribe('presence')` and tell us if it works properly, please ? (I don't have access to a testing environment ri

[2017-05-31 08:10] masterclock commented on #615
calling `client.subscribe('presence')` works as expected, I've noticed [this line](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L439) too, and makes me thought that `qos` is not optional.
note: `opts` itself is optional

[2017-06-01 04:01] malaimoo opened #628 "WebSocket connection to 'ws://test.mosquitto.org/' failed: Error during WebSocket handshake: Unexpected response code: 200"
When I use it on browser,
[code]

I just can not connect the server, and got this error:
[code]

[2017-06-01 07:54] mcollina commented on #628
As per https://test.mosquitto.org/, mosquitto test server for websockets is on port 8080.

[2017-06-01 07:54] #628 closed

[2017-06-01 13:47] pierreclr commented on #625
Thank you @RangerMauve for your answers. I will certainly choose a lighter implementation to achieve my goal ! Maybe starting with this library https://github.com/eclipse/paho.mqtt.javascript/blob/master/src/mqttws31.js

[2017-06-03 08:49] #398 closed

[2017-06-03 08:49] #607 closed

[2017-06-03 17:46] johan13 commented on #398
Thanks @behrad! Looks great. I will give it a try next week.

[2017-06-05 06:13] ashishvaghasiya opened #630 "how to reconnect when mqtt server restart?"
After restarting mqtt server client not getting the message. how to handle this.

[2017-06-05 06:37] mcollina commented on #630
what do you mean? Can you write down steps to reproduce?

[2017-06-05 06:51] ashishvaghasiya commented on #630
@mcollina

1. connecting mqtt_server and subscribe some topic.
2. after some issue mqtt_server down/ restart
3. after that client was not reconnecting or not getting subscribe topic message.

how to handle this case? can you give me the solution?

[2017-06-05 06:56] mcollina commented on #630
Is the client not reconnecting or not receiving messages on the subscriptions? Who is the sender?

[2017-06-05 06:59] ashishvaghasiya commented on #630
Node js Server is sender

[2017-06-05 07:16] mcollina commented on #630
Can you upload a full example that demonstrate your problem?

[2017-06-05 07:16] ashishvaghasiya commented on #630
thanks @mcollina

getting solutions how to reconnect server after server restart.

[2017-06-05 16:03] mvayngrib commented on #623
i'm experiencing a similar issue with aws-iot-device-sdk (which uses this mqtt client underneath). When authentication fails, there's no feedback to my code other than the 'close' event.

[2017-06-06 06:54] mcollina commented on #623
Would somebody try a PR for this?

[2017-06-06 11:09] yohei1126 commented on #623
will do if it is not urgent.

[2017-06-06 13:39] mvayngrib commented on #623
@mcollina I see the library explicitly suppresses errors from the websocket stream: https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L262 Before any PRs, it would be good to know the reason for that decision, because this is one of those purposely suppressed errors

[2017-06-06 13:41] mcollina commented on #623
line 262 is completely superflous and can be removed. All errors are intercepted by https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L266

[2017-06-06 13:50] mvayngrib commented on #623
@mcollina you're right. And it seems it's aws-iot-device-sdk that's ignoring the error re-emitted on 'close', at least Node-side. Will check browser-side

[2017-06-08 04:14] minhlong opened #632 "How to add awsIotUrlSigner lib in the browser ?"
I add "mqtt.min.js" in to html file and connect to AWS like as below:

[code]

But the console say: Uncaught ReferenceError: awsIotUrlSigner is not defined

Thanks and Best Regards

[2017-06-08 04:29] #632 closed

[2017-06-08 04:30] sublimator commented on #632
awsIotUrlsigner is just mock code, that must be provided by the user

[2017-06-08 08:07] minhlong commented on #632
I got it,

Thanks so much for your information

[2017-06-09 10:01] theunreal opened #633 "WebSocket connection to 'ws://test.mosquitto.org/' failed: Error during WebSocket handshake: Unexpected response code: 200"
I'm simply trying to use mqtt.js to connect to the test mosquitto server using the browser:

[code]

When I launch my app (Angular  - client side) I get the following error:

`mqtt.min.js:6 WebSocket connection to 'ws://test.mosquitto.org/' failed: Error during WebSocket handshake: Unexpected response code: 200`

I also tried:
`var client  = mqtt.connect('mqtt://broker.mqttdashboard.com');`

resul

[2017-06-09 12:58] konstag opened #634 "Can't connect from browser to mosca"
Hi,
can you check my code please. I can't get a connection from the browser to mosca. Firefox can't make a connection to the adress: ws://localhost:1883/.
Server and Browser are running om the same machine.
Thanks

Node server:
[code]

Browser :

[code]

[2017-06-09 13:17] mcollina commented on #634
You need to connect to port 1884, as it is there the HTTP server is listening.

[2017-06-09 13:18] mcollina commented on #633
See https://github.com/mqttjs/MQTT.js/issues/628#issuecomment-305417900

[2017-06-09 13:18] #633 closed

[2017-06-09 13:33] konstag commented on #634
Thank you. It works perfect. Now you mentioned, it makes sense to me

[2017-06-09 13:33] #634 closed

[2017-06-14 10:15] akashgoswami commented on #534
There is no concept of Path in TCP connectivity. You can only connect to an IP address and Port.
Check out [this ](https://gist.github.com/nginx-gists/0e93fe7813ec131fed8329d10ead70ea) gist how to use a NGINX as a load balancer for TCP mode.

[2017-06-14 13:18] #534 closed

[2017-06-14 13:18] mcollina commented on #534
Thanks @akashgoswami!

[2017-06-15 16:03] RangerMauve commented on #570
I'm getting this exact pattern on iOS when people are on their data plan. I've reverted to 1.4.1 which fixed the looping issue and I'm gonna see which version broke things and hopefully track the details down.

[2017-06-15 16:05] RangerMauve commented on #570
Upgrading from 2.4.0 to 2.8.2 made the issue worse. With 2.4.0 we were only seeing this happen when the app was in the background for a while, but with 2.8.2 it happens after the first time we connect. Sadly we can't debug the problem with breakpoints because connecting the debugger makes the problem go away.

[2017-06-15 16:13] mcollina commented on #570
@RangerMauve can you upload a script/project that reproduces the problem, ideally just using Node.js? Or if you understand why this is happening, can you send a PR?

[2017-06-15 16:16] RangerMauve commented on #570
So far we're only seeing this happening on iOS when users are on a mobile network. I'm not yet sure if it's entirely the client-side that's causing trouble, or if it's related to our broker misbehaving.
My goal is to track down which release caused the problem to manifest and do a PR with a fix. :D

[2017-06-15 21:54] RangerMauve commented on #570
Seems that a change in 2.0.0 effected the issue. Gonna dig around in the code tomorrow.

[2017-06-16 21:47] datnordstrom commented on #583
This is still an issue when trying to install from https://github.com/aws/aws-iot-device-sdk-js

[2017-06-28 13:54] zmGitHub commented on #541
anybody solved?

[2017-06-29 02:27] zmGitHub commented on #541
anybody?

[2017-06-30 10:58] i-gk opened #636 "Reconnect does not happen when broker’s port is blocked and released"
Hi All,

I noticed that when the broker’s port (1883) is blocked and then released the reconnect from client does not happen.

[code]
can recreate this by enable/disable a firewall rule to block inbound connections on broker’s host.

[2017-06-30 12:15] mcollina commented on #636
Would you mind to work on a fix?

[2017-07-02 00:08] nickzarate commented on #541
+1

[2017-07-02 10:54] gyurobenjamin commented on #541
Go to the module library:
- npm install
- webpack mqtt.js ./browserMqtt.js --output-library mqtt
And than you can import the browserMqtt.js from your React.

[2017-07-04 05:10] metehanm4 opened #637 "safari wss connect 'CFNetwork SSLHandshake failed (-9807)' error"

[2017-07-04 05:59] mcollina commented on #637
I think this is not MQTT.js related, but rather some problem in the underlining certificate chain.

[2017-07-05 14:08] yohei1126 opened #638 "The default value must be set if an empty object is passed to subscribe/publish functions"
https://github.com/mqttjs/MQTT.js/pull/626#issuecomment-308463305

JS libary cannnot refuse empty object as function parameter. So, the default value must be set if an empty object is specified.

* The default options for [publish](https://github.com/mqttjs/MQTT.js#publish) are  `{qos: 0, retain: false, dup: false}`
* The default options for [subscribe](https://github.com/mqttjs/MQTT.js#subscribe)

[2017-07-06 03:22] stherrienaspnet opened #640 "client.end() Not an issue"
I'm using typescript, as soon I call client.connect(), I'm adding some EventListener on most of your events and then I add a subscription. When closing connection do i need to remove subscription and remove even listener first before calling client.end() for a clean disconnection or client.end() will take care of this perfectly?

Thanks a million time for your amazing contribution!

[2017-07-06 07:14] mcollina commented on #640
No you can call end safely, you will be disconnected. If you are connecting with clean: false, the subscription will be restored when the same client reconnects.

[2017-07-06 07:14] #640 closed

[2017-07-06 08:05] #638 closed

[2017-07-08 18:48] i-gk commented on #636
I got my configs wrong. keepalive is seconds not mili-seconds. once that is corrected it was all good.

[2017-07-08 18:48] #636 closed

[2017-07-09 05:05] 704826318 opened #641 "how to use in webpack?"

[2017-07-09 05:08] #641 closed

[2017-07-11 08:03] BenjaminHaldin opened #642 "BrowserMQTT.js with secure client?"
I have already set up a mosquitto broker with secure websocket listener. But on the client side, when i connect, it will show username and password in the source code... Any way to hide this?

[2017-07-11 14:04] mcollina commented on #642
You need either:

a. to fetch those credentials dynamically via XHR
b. to use a custom auth logic in Mosquitto, so that you can validate the credentials using a cookie or something similar
c. sign the connection URL for that user: https://github.com/mqttjs/MQTT.js#signed-websocket-urls

[2017-07-12 04:09] #615 closed

[2017-07-18 16:52] LeeWong opened #643 "MQTT.js with vertx-mqtt-server"
Hi,

Have anyone tried to integrate this js library with vertx-mqtt-server? I am evaluating this lib for a work project and really appreciate some helps. Thank you so much.

Cheers,
Lee

[2017-07-18 18:28] pmehtaaustin opened #644 "Missing messages"
When polling a specific topic for about 15 min, I got ~ 300 messages through nodejs code and over 1300 messages for the same topic using MQTTFx client.  I am using mqtt package with the following connect params:

[code]
The server is Erlang MQTT broker, vers. 2.2.

Any tips on how to not lose messages?

[2017-07-18 18:48] jdiamond commented on #644
Polling?

Are you sure your client didn't disconnect/reconnect during that period? MQTT.js does that automatically.

You're using a dynamic `clientId` and not setting `clean: false` so the broker definitely isn't saving messages for you while you're offline.

Of course, the publisher needs to publish with `qos: 1` and your client needs to subscribe to their topics with `qos: 1` for that to work.

[2017-07-20 02:25] edgracilla opened #646 "Support for TLS CRL?"
Our app requires cert revocation list, any plan to support this one?

[2017-07-20 05:14] jdiamond commented on #646
MQTT.js is a client library. It would be up to your broker to support checking a CRL. Assuming it does, you would set the `cert` and `key` options when connecting to it just like with any TLS connection, and the server would check your cert against its CRL. So as far as I'm aware, MQTT.js already supports everything it can to enable this. Hope this helps.

[2017-07-20 05:14] #646 closed

[2017-07-20 10:48] peppesilletti opened #647 "Only receiving message from last subscription after reconnecting with same session"
Hi, I am experiencing a problem when using the session concerning subscriptions. When I reconnect I only receive the message of the last subscription (qos: 2). Is this an expected behavior  or is it a bug? I'm posting the test that can show this problem (sorry about the pyramid :) ):

[code]

Output:
[code]

[2017-07-20 10:55] mcollina commented on #647
The behavior is correct. You are receiving only `test3` because you have received the rest with the first connection. I recommend you to add a `' message'` listener also to `client1` to see those messages.

[2017-07-20 11:20] peppesilletti commented on #647
Hi @mcollina, thank you for the fast answer. Maybe I am misunderstanding how the persistent sessions work. I was expecting the session to preserve the subscription to all the topic it was subscribed before disconnecting and since I'm retaining the messages, to receive them back. (I've been reading this article: [http://www.hivemq.com/blog/mqtt-essentials-part-7-persistent-session-queuing-messages]

[2017-07-20 11:43] mcollina commented on #647
I thought you were referring to the QoS 2 part and for the offline subscription.

@peppesilletti which broker are you using? Can you please verify with mosquitto?

[2017-07-20 11:47] peppesilletti commented on #647
@mcollina I am using mosquitto for my development and I have the same behavior with the emqtt broker.

[2017-07-20 11:49] mcollina commented on #647
can you please provide a script in pure javascript so I can reproduce?

[2017-07-20 11:49] mcollina commented on #647
Does removing QoS: 2 fixes the issue?

[2017-07-20 12:12] peppesilletti commented on #647
I've tried with QoS 1 and the problem persists. Anyway, sure I'm going to write a pure javascript script for you!

[2017-07-20 12:19] peppesilletti commented on #647
Here it is the pure JS script:

[code]

[2017-07-20 13:06] mcollina commented on #647
The behavior is correct, mosquitto is not sending the retained messages after a restored session, but only for new subscribes.

@behrad this proves that the behavior in aedes is wrong, and you are right. We should not send the retained messages when restoring a session.

[2017-07-20 13:28] peppesilletti commented on #647
I see, I tried to send an offline to client2 while it's offline and it receives the messages when it's back online. So as you say it only regards retained messages. I am curios to understand why this behavior takes place, if the subscriptions are part of the session and the client is interested in those kind of messages, why not getting them?

[2017-07-20 14:20] Huang9495 commented on #168
Hi @mcollina @user1020  First,I use your code to my test .Unlucky, I have error after I test,I don't know why. Can you help me to resolve the issue. Second, I try a test by another code and takes place the same as error.Can you tell the reason of the issue.
## My operate environment :Ubuntu:14.04 ;Node.js:6.11;MQTT:2.9.1;Mosquitto:1.4.12;

**The error is mqtt.createClient is not a function .**

##

[2017-07-20 14:23] mcollina commented on #168
`createClient`  has been deprecated long ago. Check the updated example in the README.

[2017-07-20 14:29] Huang9495 commented on #168
Hi ! @mcollina  Thanks for your help , I am reading README.But I remain have question is why this code is test in my workmate's computer is OK, the environment is similar to me.

[2017-07-20 14:30] mcollina commented on #168
very likely he has an older version of MQTT.js

[2017-07-20 14:31] mcollina commented on #647
retained messages are sent only in case of new subscriptions. If a client restores the session, it is not a new subscription after all.

[2017-07-20 14:37] peppesilletti commented on #647
That makes sense! Thank you for your time and helpful explanations! :)

[2017-07-20 14:38] #647 closed

[2017-07-21 03:42] Huang9495 commented on #168
Hi @mcollina  I have complete my test through you method ,Thank you again your help!

[2017-07-21 12:00] Huang9495 commented on #168
Hi !@mcollina I have another issue , today ,I do a test that send the data from client to service and send the data from service to client at the same time. The issue is that nothing will occur of client where I send the data and set up to show. But it will occur after I shield the code of send the data from client to service. Can you tell me the reason .Whether the passageway of message only resp

[2017-07-21 12:06] mcollina commented on #168
I did not understand. Can you please make an example?
Il giorno ven 21 lug 2017 alle 14:00 Kril Allen <notifications@github.com>
ha scritto:

[2017-07-21 12:37] Huang9495 commented on #168
Hi @mcollina
First example :
## service code
var mqtt = require('mqtt')
var client  = mqtt.connect('mqtt://localhost:1883')
client.on('connect', function () {
       client.subscribe('datasend1')
       console.log('OK')
client.on('message', function (topic, message) {
       console.log(message.toString())
setInterval(function(){
       client.publish('datasend2','**1**');
       console.log('ohn

[2017-07-24 09:32] peppesilletti opened #648 "Store.del() requires a callback"
Hi, I come accross a problem using the library mqtt.js after the fix  [https://github.com/peppesilletti/MQTT.js/commit/735ed2d7b2b49c72d9ab5e62c3f8748172c925c3](url)
The del of the store method requires a cb to return the packet:
[code]
Should the fix be changed to pass a callback or should the del method check if the callback is provided?

[2017-07-24 09:44] sudotamm opened #649 "typescript: reconnect succeed, subscribe failed but subscribe call back is ok."
I import @type/mqtt in my code, and try to use like this:

[code]

**console.log as below:**
[code]

If network is broken, mqtt will auto reconnect succeed, then I resubscribe topics in **on_connect** function, I found that subscribe failed sometimes, but ClientSubscribeCallback object always response err = null, and then my fetch command will never receive response.

Any help will be very appreci

[2017-07-24 09:46] mcollina commented on #649
Can you reproduce the same error without TypeScript? Also, che you include a full example?

[2017-07-24 11:19] mcollina commented on #648
Definitely passing a callback is mandatory. Can you please send a PR?

[2017-07-24 11:25] peppesilletti commented on #648
Sure! : )

[2017-07-25 02:10] sudotamm commented on #649
I used @types/mqtt which contains type definitions for MQTT.

I know client subscribe key like 'connect', 'reconnect', 'message', 'offline', 'error'. Can I add listener for subscribe call back?
Such as:
`
this.client.addListener('subscribe', subscribeCallback);
`

[2017-07-25 02:25] #648 closed

[2017-07-25 04:28] taoqf commented on #462
@willin Have you solved this Issue? @RangerMauve @mcollina , it seems this is nothing todo with the ws module, I think it is webpack thing. webpackt changes the code ws and i don't know why and how can i fix this.

[2017-07-25 15:29] jeffdare opened #651 "Support for mqtt v5 specification"
What is the plan for support of MQTT v5 specification for this node?

[2017-07-25 15:41] mcollina commented on #651
Would you like to contribute? i have no time right now.

[2017-07-26 03:23] willin opened #652 "Unacceptable protocol version mqtt v3"
[code]

[code]

[2017-07-26 08:36] taoqf opened #654 "travis error?"
https://travis-ci.org/mqttjs/MQTT.js/jobs/257626265
[code]
Anyone could finger me out what's wrong with my commit, or some thing with travis?

[2017-07-26 13:53] gleroi opened #655 "Does mqttjs have a max payload size ?"
Hello,

i am using mqttjs 2.9.3 in a browser (chrome). It seems that when mqttjs receive a frame bigger than 28k, it fails.

Sometimes mqttjs closes the connection, sometimes the underlying websocket seems to receive nothing.

I've other clients subcribed to the same topic, and they receive the message without any problems.

Is there any max size/configuration i should be aware of ?

Thank you.

[2017-07-26 14:12] RangerMauve commented on #462
Hi, I haven't progressed on this on my side because I got sidetracked. You should try to browserify the MQTT.js bundle and import that instead of the module and see if that works.

[2017-07-26 16:08] mcollina commented on #652
I think `protocolVersion` should be 4 for Azure.

[2017-07-26 16:10] mcollina commented on #655
@gleroi can you reproduce it by connecting via websocket from Node.js? What are you using as a broker?

[2017-07-26 21:51] mcollina commented on #654
@sublimator can you please refactor https://github.com/mqttjs/MQTT.js/blob/master/test/typescript/broker-connect-subscribe-and-publish.ts#L3 so that it spins up a local server like the other JS tests?

[2017-07-27 00:17] willin commented on #652
[code]

when 4

[2017-07-27 05:03] mcollina commented on #652
Nothing in those stacktrace shows MQTT.js, or am I reading them wrong?

[2017-07-27 05:31] arihantdaga opened #656 "How can we scale or balance load on a MQTT client in nodeJs."
I am using Mqtt for connecting IOT devices. In my case i'll be having tens of thousands of devices reporting sensor values etc simultaneously. And my Node Server is responsible for listening to all sensor and other action topics and interact with database accordingly.
I am assuming that If it is via HTTP i can scale it easily by putting load balancers and running multiple instance of the Node Appl

[2017-07-27 08:44] gleroi commented on #655
The broker is mosquitto 1.4.10 (with support for websocket)
I'll try to reproduce it with nodejs.

[2017-07-27 14:26] RangerMauve commented on #656
You should consider feeding your MQTT events into a different message queue that supports round-robin balancing like RabbitMQ, then have a bunch of Node worker processes consuming from that queue.

[2017-08-02 01:25] willin opened #659 "subscribe/publish error cannot print"
client:

[code]

![wx20170802-090314](https://user-images.githubusercontent.com/1890238/28853210-84eb5f86-76f4-11e7-860b-8cf7007a1842.png)

server:

[code]

[2017-08-02 05:45] mcollina commented on #659
This issue is not really clear. I think you would like to receive an Error if qos is 128 (or greater) during subscribe.

[2017-08-02 05:51] willin commented on #659
#351  why qos 128 not throw an error?

[2017-08-02 05:52] willin commented on #659
Granted: [ { topic: 'test', qos: 128 } ]

and still can get messages from 'test' topic.

[2017-08-03 12:51] ffamar opened #661 "Event offline is not emitted"
Hi,
in Linux after unpluggin the lan cable, the 'offline' event is not emitted.
In Windows, using the same configuration there are no problems.

I have just installed the last avaiable version 2.11.0.

Thanks!
Fabio.

[2017-08-03 12:58] mcollina commented on #661
Have you tried waiting for a while? Maybe the socket gets closed/notified after a while. This is very platform dependent.

Which version of Node.js are you using? If it is a bug, it's likely to be part of Node.js itself.

[2017-08-03 13:07] ffamar commented on #661
Hi Matteo,
I waiting for a 20 minute and my node version is 6.9.5.
When I unplug the cable the message "ethernet eth0: Link is Down" appear immediately in console.

Thanks!

[2017-08-03 13:15] mcollina commented on #661
Who prints "ethernet eth0: Link is Down"? What's your code?

[2017-08-03 13:17] ffamar commented on #661
No no, it's a Kernel Message.

[2017-08-03 13:19] mcollina commented on #661
have you got a keepalive setup?

[2017-08-03 14:07] ffamar commented on #661
Probably I found the cause of the problem, the tcp socket from my target to broker remain in ESTABLISHED status.I tried to change tcp_keepalive_time from 7200 to 10 without results.

Now I must find a solution.

[2017-08-03 14:14] RangerMauve commented on #661
@ffamar Does your broker support keepalive messages? I had this issue in the past in a custom broker that wasn't properly setting up listeners to kill the connection if the keepalive failed.

[2017-08-03 14:46] ffamar commented on #661
I set
tcp_retries1=1
tcp_retries2=1
tcp_keepidle=3
tcp_keepintvl=3
tcp_keepcnt=3
and the problem solved.

Now event 'offline' is emitted and tcp socket is closed approximately after 30 seconds.
I need to study the correlation between the tcp_xxxx parameters and the status of the socket tcp in depth.

@RangerMauve  my broker is't custom, it is RabbitMQ, I think it support keepalive.

Thanks for sup

[2017-08-03 14:57] #661 closed

[2017-08-04 06:56] ogis-onishi opened #663 "Unable to connet a mosquitto using a private IP address and WSS"
I tried to connet a mosquitto from mqtt Node.js client (mqtt.js 2.7.2) and using a private IP address and WSS as follows but it fails. Am I missing something? Could you help me fix it?

## wss (failure case)

[code]

## mqtts (success case)

I also checked mqtts. It succeeded so there is no promlem on mosquitto conf and certificates.
[code]

## mosquitto.conf

[code]

[2017-08-04 06:58] mcollina commented on #663
It fails with what error?

[2017-08-04 06:59] mcollina commented on #663
Does it work without TLS for websockets?

[2017-08-04 07:00] ogis-onishi commented on #663
It succeeded without TLS (MQTT and Websocket).

[2017-08-04 07:01] ogis-onishi commented on #663
I set the following callback but it did not throw any erros. It just called close callback.

[code]

[2017-08-04 07:04] mcollina commented on #663
Can you please confirm with the latest version?

[2017-08-04 07:04] itavy commented on #663
Try console.log(err) without json.stringify

On Aug 4, 2017 10:01, "Yohei Onishi" <notifications@github.com> wrote:

[2017-08-04 07:05] ogis-onishi commented on #663
Sorry. The code with MQTTS throws the error.

[code]

[2017-08-04 07:06] mcollina commented on #663
I think you have an issue with your cert.

[2017-08-04 07:06] itavy commented on #663
Add that ip to server cert cname

On Aug 4, 2017 10:05, "Yohei Onishi" <notifications@github.com> wrote:

[2017-08-04 07:07] ogis-onishi commented on #663
Without JSON.stringify

[code]

[2017-08-04 07:15] itavy commented on #663
See https://stackoverflow.com/a/37063612

Certificate issued for ip and not domain name works only for private ip.

[2017-08-04 07:43] ogis-onishi commented on #663
I signed the sertificate as follows.

[code]

And I also added alternative subject names.
https://stackoverflow.com/questions/43665243/chrome-invalid-self-signed-ssl-cert-subject-alternative-name-missing

[code]

So, the private address is in the cert's list. But it would be OK for DNS but not good for IP address because the error for MQTTS says :  `error = {"reason":"IP: 172.31.12.4 is not in the

[2017-08-04 07:53] itavy commented on #663
https://stackoverflow.com/questions/33494750/self-signed-certificate-for-public-and-private-ip-tomcat-7

try to include v3_req in csr

[2017-08-04 07:55] ogis-onishi commented on #663
Thanks! So,  alternative subject names for IP address should be as follows.

[code]

[2017-08-04 08:00] gleroi commented on #655
After more testing the error occurs only when sending qos 0 message.
With qos 1 it works

[2017-08-04 09:37] #663 closed

[2017-08-07 03:39] redboltz opened #664 "How to disable re-subscribe functionality"
I was using MQTT.js 2.7.2 for a long time. Recently I updated it to 2.11.0.
Then I got some suspicious behavior. Some subscribe packet does't seems to send to the broker.

I started debugging, then I found the property of MqttClient `_resubscribeTopics` caused the behavior.

I tried to find the document about re-subscribe functionality, but I didn't found it, so far.
Does the documentation exists?

[2017-08-07 05:54] mcollina commented on #664
Would you mind sending a PR to address the problem you have found? I'm also ok in having a flag disable the automatic resubscribe behavior.

[2017-08-07 05:59] redboltz commented on #664
@mcollina , I just sent the PR. #665

[2017-08-09 11:40] krukid opened #666 "strange network error handling"
When I try to connect to an unreachable endpoint (e.g. `wss://not.reachable.com:8083/mqtt`) with `connectTimeout = 30000 (default)` and `keepalive = 60 (default)`, something strange starts to happen:

1. after 30 seconds a `close` event gets emitted with an undocumented first argument that is a `premature close` error;
2. connection stays open for a full minute and then terminates with a console m

[2017-08-09 11:43] lifengzhai opened #667 "publish and subcribe not work when topic contain $"
[code]

[2017-08-09 12:03] sublimator commented on #667
hrmmm, that doesn't seem right because I've used mqtt with AWS IoT service,
and some of the topics start with an `$aws` prefix

[2017-08-09 12:37] lifengzhai commented on #667
I am confused, I use the command line test is normal

[2017-08-10 00:26] lifengzhai commented on #667
I found the problem, in command line do not use double quotes
[code]

[2017-08-10 00:27] #667 closed

[2017-08-12 23:50] stherrienaspnet opened #668 "Question about systemjs integration."
Hello, thanks 1000 times for your libraries! I'm trying to integrate mqtt.js into angular 4 tour of hero demo application without any success. I used mqtt.js server side into another project with sucess. But now this project is using system.js, is there is something I'm missing
Here is the sample application source.
https://github.com/angular/angular

[2017-08-14 13:53] RangerMauve commented on #668
Could you please specify what issues you're having with the integration? Are you getting build errors? If so could you please post a stack trace. Also, knowing the version of MQTT.js and SystemJS that you're using would help us debug.

[2017-08-14 14:12] stherrienaspnet commented on #668
"mqtt": "^2.11.0",
"systemjs": "0.19.39",

Here is a screen capture of the issue.
![image](https://user-images.githubusercontent.com/6126961/29275230-690d1f5a-80d8-11e7-9aaf-e0cb3352b643.png)

The complete source code can be found here
[https://github.com/stherrienaspnet/pi-robot](https://github.com/stherrienaspnet/pi-robot)

Thanks for your help :)

[2017-08-14 14:47] RangerMauve commented on #668
Are there any logs visible from your build server?

[2017-08-14 14:55] stherrienaspnet commented on #668
Hello RangerMauve,
into my gpio.service.ts i have ana import as the following
import * as mqtt from 'mqtt';
and as soon i use mqtt into my code i got the issue when running the application
like here
![image](https://user-images.githubusercontent.com/6126961/29277161-deae1858-80de-11e7-8c9c-ab9b7e8d27a5.png)

Here is my systemjs.config.js file content

/**
 * System configuration for Angular sample

[2017-08-14 15:02] RangerMauve commented on #668
Adding `'mqtt': 'npm:mqtt` to your map and see if that helps.

Is the process you're running to build the bundle outputting any errors or warnings?

[2017-08-14 15:20] stherrienaspnet commented on #668
i tried but nothing changed, i do not have a trace showing me the issue.  I even replace try with require.

[2017-08-14 16:06] RangerMauve commented on #668
Not sure what I can do without additional logs. If you could try to find a way to get logs from systemJS on why it's unable to import `mqtt` even with the changes to the config, that would help me get you to the next step. Maybe look up a guide for using systemjs with npm modules

[2017-08-14 16:07] RangerMauve commented on #668
If anything you could try following [this guide](https://github.com/mqttjs/MQTT.js#browserify) to build the mqtt.js library into a single bundle that you can import in your app

[2017-08-14 16:08] stherrienaspnet commented on #668
Thanks you very much for your help!

[2017-08-15 03:51] #668 closed

[2017-08-15 04:13] stherrienaspnet opened #669 "Angular 4 WebSocket error"
Hello mqtt specialist, I'm really sorry, I love so much your library and i cannot let it go... I'm not able to etablish the minimal connection to the mosquitto test broker. Here is a sample of the message seen
WebSocket connection to 'ws://test.mosquitto.org/' failed: Error during WebSocket handshake: Unexpected response code: 200.

![image](https://user-images.githubusercontent.com/6126961/293019

[2017-08-15 09:26] sandro-k commented on #669
There is no MQTT WS service at ws://test.mosquitto.org/ . Please try ws://mosquitto.org:8080/

[2017-08-15 10:54] stherrienaspnet commented on #669
Thanks you verry much!

[2017-08-15 10:54] #669 closed

[2017-08-16 06:48] mcollina commented on #666
Thanks for reporting! Would you like to send a PR with a proposed fix?

How would you expect this library to behave?

[2017-08-17 06:01] danki commented on #381
Have allmos same issue, how ever on Android side. Have been struggling with this past 2 months now and @MichMich solution above [(#issuecomment-183909042)](https://github.com/mqttjs/MQTT.js/issues/381#issuecomment-183909042) seems to solve that, at least regarding android.
Connection has been up for 2 hours straight, so i see positive effect here :)

[2017-08-18 08:49] sudotamm commented on #664
I aslo got this problem. I used version 2.9.3.
When mqtt connection reconnected succeed. And then I resubscribe topics manully, sometimes it can subscribe succeed, sometimes it can't work, it's very weird.

[2017-08-18 17:16] #664 closed

[2017-08-19 09:54] unirey commented on #666
Yes, I was just about to open a similar issue:

I had `403 Forbidden`: it doesn't emit `error` event, but it emits `close` which I find a little bit weird.

Where am I supposed to handle errors? Both in `close` and `error`? Different errors emit different events? This is definitely something we need to discuss.

[2017-08-19 10:12] mcollina commented on #666
Would you like to make a proposal and send a PR to implement it?

[2017-08-19 13:43] unirey commented on #666
I think we should first discuss & reach to consensus what should emit what (when it comes to errors).

[2017-08-19 15:16] AlirezaMoseni opened #670 "How can I disconnect the connection?"
hi
How can I disconnect the connection?
Is this module have disconnect  method ? i cant find it :((

[2017-08-19 15:19] mcollina commented on #670
it's .end().

[2017-08-19 15:19] #670 closed

[2017-08-19 19:22] mcollina commented on #666
@unirey There are several open (or closed) issues on errors to things we might want to change.
I'm very open to discuss the current situation and what to improve, but someone else should take the lead on this.

[2017-08-21 14:15] AlirezaMoseni opened #671 "cannot disconnect from connection :|"
i cant find disconnect method in this lib
Is this method not available? Or can not I find it? : |

[2017-08-21 14:16] mcollina commented on #671
As said yesterday, it's `.end()`: https://github.com/mqttjs/MQTT.js/issues/670#issuecomment-323529299.

[2017-08-21 14:16] #671 closed

[2017-08-22 02:18] sudotamm commented on #649
PR [Add a flag to control re-subscribe functionality. #665]  seems can fix this issue, I will close this issue and update to version 2.12.0

[2017-08-22 02:18] #649 closed

[2017-08-22 07:12] arden opened #672 "Why is the client always disconnected from time to time?"
Why is the client always disconnected from time to time? when the client recive message and publis message.

when the client publish a message, the client will trigger event 'offline/close/reconnect'.

[code]

aedes's broker logs:

[code]

[2017-08-22 08:06] mcollina commented on #672
there can be a lot of reasons. you should check your broker logs.

[2017-08-22 11:04] arden commented on #672
i'm use this code work fine:

[code]

but i'm use this code can't work:

[code]

[2017-08-23 23:02] jdiamond commented on #672
The aedes error you have says "keep alive timeout". That means your client disconnected without telling the server or is otherwise unable to send a PINGREQ packet before the server thinks the client is no longer present.

By default, MQTT.js sends a PINGREQ every 60 seconds. Did you disable it?

[2017-08-24 01:41] arden commented on #672
i'm set every 30 seconds for sends PINGREQ to Aedes broker.

[2017-08-24 09:33] arden commented on #672
@jdiamond
the client.publish method cannot call continuously，must be called at intervals.

[2017-08-24 19:58] jdiamond commented on #672
Below is an example that publishes 4 test messages in a row. It's not disconnecting for me. Can you modify it to demonstrate your issue?

[code]

[2017-08-25 02:41] arden commented on #672
i'm found this problem, because i'm use Aedes as broker like this:

[code]

if i'm use mqemitter-redis or mqemitter-mongodb as Aedes's mq, the problem will appear.

[code]

why? why?

[2017-08-28 06:29] wijamw commented on #652
I have same error but different description
events.js:182
      throw er; // Unhandled 'error' event
      ^

Error: read ECONNRESET
    at exports._errnoException (util.js:1022:11)
    at TLSWrap.onread (net.js:610:25)

This is my code from example that have been provided. Then I changed it to localhost.
`var mqtt = require('mqtt')
var client  = mqtt.connect('mqtts://127.0.0.1:1883')

client.on('

[2017-08-28 17:56] BrandonSmith commented on #425
@mcollina Reading through code and issues, I believe lack of `handleMessage` in QoS 2 is the cause of a undesired behavior in my application. Namely, I need to execute logic for each message sent from the broker serially before the next message is acknowledged. For instance, one of my message types is to reset the application with new configuration information, and this includes disconnecting from

[2017-08-29 02:21] leesenlen commented on #561
Has been finished?  It's a good job @sclausen

[2017-08-29 08:37] mcollina commented on #425
@BrandonSmith yes I agree with you.

Regarding `IncomingStore` - it depends if they are acked or not. Maybe there is a bug in our APIs when you are using them in the above way. I have never worked in such a case.

Would you like to assemble a PR?

[2017-08-30 07:50] sclausen commented on #561
Yes, that's what I've got so far. Any thoughts about the code?

[2017-08-30 10:00] leesenlen commented on #561
I thought mcollina is right; You shoud define a strategy with object;
With this object, you can define retry_strategy with params such as  `delay_time`, `max_attempts`, `delay_random_range` etc...

It's would be a  strategy which support `random delay` or the other `custom-supported-strategy`;

And also you can define actions of the object(like mcollina said);
It would be helpful to control the re

[2017-09-02 06:47] japita-se opened #673 "Cordova: Error On Some Android"
I am using mqtt.js inside a cordova application.
It works but on some (tablet) android I get this error:

`Cannot read property 'forEach' of undefined in file:///android_asset/www/js/browserMqtt.js at line 843`

At that line I have this:
[code]

[2017-09-02 16:58] saintthor opened #674 "can you put the BrowserMqtt.js on cdn directly?"
i am not familiar with npm. it dosn't work friendly.

[2017-09-02 18:01] mcollina commented on #674
It is already. As indicated in the README: https://unpkg.com/mqtt@2.12.0/dist/mqtt.min.js

[2017-09-02 18:01] #674 closed

[2017-09-03 02:10] saintthor commented on #674
<script src="https://unpkg.com/mqtt@2.12.0/dist/mqtt.min.js"></script>
<script>
  var client = mqtt.connect('mqtt://test.mosquitto.org');
</script>
error in chrome:  WebSocket connection to 'ws://test.mosquitto.org/' failed: Error during WebSocket handshake: Unexpected response code: 200

also failed in firefox.

[2017-09-03 06:40] mcollina commented on #674
MQTT over WebSockets in http://test.mosquitto.org/, as it's written in the website is on port 8080.

[2017-09-03 10:03] saintthor commented on #674
thank you. it works.

[2017-09-04 02:34] leecoder opened #675 "Too many duplicate `subscribe` requests after reconnect"
Hi~

Sometimes, I have too many duplicate `subscribe` requests after reconnect.

I think it is because of the following queuing.
https://github.com/mqttjs/MQTT.js/blob/b1463afe6dcbe833005c8d333be4f0ad79338a45/lib/client.js#L713

Why not just return an error?
Or what about checking `clean session`?

[2017-09-04 02:51] abcd-ca opened #676 "What is the purpose of using stores?"
Hi,

I'm new to MQTT but I do have a working prototype already. This library was very easy to get started with, thanks! I don't understand what the purpose of a store is – I gather it's for storing incoming/outgoing messages but why would one want to do that. I'm also not clear how messages would automatically get published if the connection were intermittent and reconnect happened. I've seen it w

[2017-09-04 09:16] mcollina commented on #676
You should study up how MQTT QoS works, check out http://www.hivemq.com/mqtt-essentials/.

You can use https://github.com/mcollina/mqtt-level-store to persist on disk.

[2017-09-04 10:17] mcollina commented on #675
@leecoder can you upload a snippet to reproduce? Or send a pull request with the change you would like to make?

[2017-09-04 17:31] abcd-ca commented on #676
I did read the hivemq articles, they're awesome. I read those before checking out your library. I still have some outstanding questions because I find some ambiguity remains with regards to roles and responsibilities:

My question here, is whose responsibility is the storage? Will the mqtt library do it for me? Do I have to do it manually or is that where mqtt-level-store comes into play?

The dup

[2017-09-04 19:51] jdiamond commented on #676
Storage is the responsibility of the [Store](https://github.com/mqttjs/MQTT.js#mqttstore) objects you pass in to `mqtt.connect()`. The default implementation stores messages in memory which is not persistent. If you want persistence, you can use an alternate `Store` implementation, but you have to pass it in as the `incomingStore` and `outgoingStore` options when you connect.

I'm not actually sur

[2017-09-05 02:25] leecoder commented on #675
I've sent a PR. pls check it. Thnx~

[2017-09-05 22:16] abcd-ca commented on #676
Thank you, I was able to get the persistent store working and I see what it's for. I'll have a think about `dup` in my case. I did some field tests and the results were as expected when I went in and out of cell range – messages queued up and flushed out once I re-entered an area with coverage.

One thing I am still curious about – what would you recommend for a flow where the initial connection c

[2017-09-06 03:57] jdiamond commented on #676
You don't have to wait until you establish a connection before you start publishing. MQTT.js queues up all messages you publish in your outgoing store until it actually connects and then it flushes publishes them for you.

You got the persistent store working, so it may already behave the way you want. 😄

[2017-09-08 16:56] abcd-ca commented on #676
Oh, you're right, nice! Thank you.

For messages that are set to QoS 1 and retain: true, do you know what event causes the broker to discard messages? Would it be after all subscribers have received the retained messages? If a subscriber never reconnects, I wonder what the maximum retention time is for a message by the broker? I'll have to read the spec again but maybe it depends on the broker imp

[2017-09-11 03:02] jdiamond commented on #676
QoS 1 and retained messages aren't really related the way your question seems to imply.

QoS 1 subscriptions: The subscriber is saying "I want the broker to save all messages published to these topics while I'm offline". The publishers do NOT have to set retain: true. Not sure what the spec says about TTL, but I know Mosquitto and RabbitMQ have options for controlling this.

Retained messages: A p

[2017-09-12 12:40] arihantdaga opened #681 "MqttJs Publish on QOS2 is entering to callback function without error even if no client recieved the message"
I am using following code on my nodeJs Server from where i am publishing message to a topic.

[code]
On the other end, a client is subscribed to the topic with QOS 2.
I expect this code to work in a way such that the promise is resolved only if the client who has subscribed to the topic recieves this message.
But this promise is fulfilled even if my device is offline(Means no body recieved this me

[2017-09-12 13:54] mcollina commented on #681
This is not how it behaves. The publisher and the subscriber are fully decoupled. The callback is fired when the messages ownership has been transfered from the client to broker.

[2017-09-12 13:54] #681 closed

[2017-09-13 19:56] duncanfinney opened #682 "ReschedulePings can cause a dropped connection to never be realized"
Hi Guys,

I was noticing that when `reschedulePings` is set to `true` the sending of the ping packet and also the _check_ for a timed out connection is being rescheduled.

I am pretty sure that only the _sending_ of the next ping should be rescheduled when a control packet goes out. There still needs to be a check each keepalive period to see if you've received a ping or not.

Example to reproduce

[2017-09-14 07:18] robertsLando opened #684 "Multipe clients connecting with same clientID both keep connecting and disconnecting without error"
I'm using MQTT over websocket with mosca broker on server side. I connect clients by using a specific client id: `websocket_<email>-<sessionID>` and `clean` flag set to `false`. The problem occurs when user opens multiple tabs on the same page, both clients keep disconnecting and connecting in an infinite loop and I can't see any error throw or event like client event [error](https://www.npmjs.com

[2017-09-14 08:38] mcollina commented on #684
for `sessionPresent`  to be `true` in Mosca, you need to have an offline subscription active, as far as I remember.

In any case, if you need to support multiple windows, you must use different clientIds. I would recommend you to check out  https://github.com/mcollina/aedes. It has a simpler design than mosca.

[2017-09-14 09:32] robertsLando commented on #684
@mcollina can you explain me better what you mean with "offline subscription"? I know I need different clientID I just wuld like to know when this happens, I mean get an error on client connect or on error event that says "Client ID already used" or something like this. Than I have check aedes but it seems the same as mosca, why should I use it insteed?

[2017-09-14 13:49] RangerMauve commented on #684
You should append a random number to the ID so that different tabs won't collide.

Having a unique clientIID per connection is part of the [MQTT spec](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc385349242) so you don't have much choice here.

[2017-09-15 14:43] abcd-ca commented on #676
Hi @jdiamond I've spent some time meditating on this and I think I now get how it all works. If you have time to review a "missed messages, catch-up" problem and proposed solution I [outlined here](https://stackoverflow.com/questions/46229861/mqtt-catch-up-missed-messages-looking-for-feedback-on-design-assumptions), I'd be interested in your feedback. To sum it up though, I figure I'll have `QoS:1

[2017-09-17 06:25] alnikitich opened #685 "object in payload"
when i set payload = object (not string or buffer) and qos = 2
i have many reconnections to server when client send this packet.
After each try it disconnected withot errors
And i cant remove this message from outgoing stream because i havent any errors
This mesage stuck

[2017-09-18 05:01] entcor opened #686 "qos2 payload"
Hello
When i receive message with qos1 a get on payload uft8array like this: [2, 3, 4, 5, 6....],
but when i receive message with qos2 a get object on payload like this: {0:2, 1:3, 2:4, 3:5, 5:6....}
and i cant apply toString() to this object

Thank you!

[2017-09-18 06:50] mcollina commented on #685
You can't send objects. Something in the client is erroring and you get a disconnection as a result. You should use JSON.stringify to convert your object to a string before sending.

[2017-09-18 06:50] #685 closed

[2017-09-18 07:23] mcollina commented on #686
Can you please upload a script to reproduce the problem?

[2017-09-18 13:38] alnikitich commented on #686
its not work only with nedb on client:

server code:
[code]

client code
[code]

i think it`s my error. when i`ve removed first {qos:2} in subscribe all work fine.
and when i change second {qos:2} to {qos:1} all work fine too

[2017-09-18 13:38] mcollina commented on #686
You should probably open an issue against the nedb store.

[2017-09-18 13:52] alnikitich commented on #686
i thinek it`s not depens on nedb directly.
What difference between mqtt.subscribe({qos:2}) and mqtt.publish({qos:2}) ?
and why i have difference result if i use it together ?

[2017-09-20 02:58] nofarius commented on #573
Managed to get this project running in React Native, though I needed to fork and do some [minor changes](https://github.com/mqttjs/MQTT.js/compare/master...nofarius:master).

The fork is available with instructions on getting it up and running via [github](https://github.com/nofarius/rn-mqtt) and [npmjs](https://www.npmjs.com/package/rn-mqtt)

As mentioned in the readme, this works for TCP connect

[2017-09-20 06:31] mcollina commented on #573
Would you like to send a PR to improve the support for RN in here? You shouldn’t have to fork to make it run there, it would simplify maintenance if we work together.

[2017-09-20 10:43] japita-se opened #687 "Disconnected Client"
I cannot understand why my broker sometimes says:
` "trying to send a packet to a disconnected client"`

[2017-09-26 06:44] levblanc opened #688 "Example of weapp usage"
@taoqf

Would you please provide a simple working example of weapp?

I copied `dist/mqtt.js` to my weapp's project then required it. But when running the code in weapp's devtool,

the following line

`socket = new WS(target, protocols, options);`

throw an error:

`WS is not a constructor`

and I found that `WS` was defined above like so:

`var WS = require('ws')`

I am guessing this is where the

[2017-09-26 06:54] levblanc commented on #688
Silly me, change host to

`const host = 'wxs://my-mqtt-host';`

or

`const host = 'wx://my-mqtt-host';`

and it works.

[2017-09-26 06:54] #688 closed

[2017-10-03 16:18] boneskull commented on #579
I'm experiencing something like this; I'll try to isolate a reproducible case.

[2017-10-07 06:44] boneskull commented on #579
so [here](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L223):

[code]

Calling `MqttClient#end()` will eventually result in the end of the client's `stream`, so when that happens, [this listener](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L276) fires:

[code]

...which invokes `_setupReconnect`, which reconnects again...

[2017-10-07 06:45] boneskull commented on #579
Anyhow, I mentioned in #690 that a finite state machine might be in order to sort this out, because we have too many booleans flying around in here.

[2017-10-09 01:07] prabathabey opened #691 "Controlling Acknowledgements explicitly upon receiving messages"
Does MQTT.js client API provide support for controlling the process of sending acknowledgements upon receiving messages explicitly? I'm trying to ensure there is zero message loss in the end-to-end processing path of a request with QoS > 1 and clean_session set to "false". So, whenever I receive a message at a particular message receiver that is subscribed to receive messages published to a partic

[2017-10-09 07:07] mcollina commented on #691
You should use `handleMessage`.

[2017-10-09 17:22] prabathabey commented on #691
@mcollina Thanks for the feedback. I looked into the source code and figured out that, in the current implementation, puback is already sent by the time handleMessage is invoked when QoS 1 messages are processed, which does not quite allow me to achieve what's looked for. I would like to suggest a possible solution for this in the form of a fix, which goes below.

[code]

WDYT?

[2017-10-09 21:04] iurly opened #692 "DUP flag not set when redelivering messages"
It looks like the MQTT client might re-transmit the same message (with the exact same messageId) without setting the DUP flag. In my case, the MQTT server I'm connecting to then treats this as an error and forces a disconnect. Then upon reconnection the same thing happens again (two messages with the exact same messageId sent in a row) leading to instability.

I had a look at the code:
https://git

[2017-10-11 08:34] rkunnath opened #694 "Error: certificate has expired while connecting to HiveMQ Broker from mqtt.js tls"
Hi ,
I am facing issues while connecting to mqtt broker running on secure port.  Even though I used a valid certificate I get following error
{ Error: certificate has expired
    at Error (native)
    at TLSSocket.<anonymous> (_tls_wrap.js:1055:38)
    at emitNone (events.js:86:13)
    at TLSSocket.emit (events.js:185:7)
    at TLSSocket._finishInit (_tls_wrap.js:580:8)
    at TLSWrap.ssl.onhandsh

[2017-10-11 09:33] #694 closed

[2017-10-11 16:31] mcollina commented on #692
It seems weird that the same message is transmitted twice when reconnecting. Can you write an example that reproduces the problem?

Related to dup.. yes it’s probably a bug. Would you mind sending a PR?

[2017-10-11 16:42] iurly commented on #692
Unfortunately I can't reproduce the issue at will. I got a report mentioning this problem occurring a few thousand times during a timespan of about 8 hours, then everything normal for a couple days, then again, then everything normal,and it's now been a week. Out of 8 similar setups, only one exposed this behavior.
I could write a patch but I'm not familiar at a with the code and I have no way to

[2017-10-11 16:58] boneskull commented on #579
OK, after some digging, it's actually a problem in `async-mqtt`.  It seems that the promisifcation of `end()` can cause race conditions.  still working on an MCVE

[2017-10-11 17:44] RangerMauve commented on #579
@boneskull If this is an async-mqtt problem could you raise an issue there?

[2017-10-11 18:09] boneskull commented on #579
@RangerMauve I don't believe it's something a wrapper can work around.

[2017-10-12 12:40] mcollina commented on #691
As MQTT 3.1.1 states:

Instead of introducing a newer API, I would actually prefer it `PUBACK` was sent after `handleMessage` is completed (with an option). Would you mind sending a PR?

[2017-10-12 16:28] FreedCapybara opened #696 "TypeError: this.once is not a function"
Hello,

I'm getting `TypeError: this.once is not a function` on calling `mqtt.connect()`. I have looked at issues #597 and #596, but my current versions are mqtt@2.13.0, and readable-stream@2.3.3.

The project uses Angular with Webpack, and I get the same error whether I use ngx-mqtt or mqtt.js directly. Unfortunately I'm not sure how to reproduce the issue, since the library works as expected in

[2017-10-12 17:17] RangerMauve commented on #696
Could you please show the code you're using to invoke mqtt.connect()?

[2017-10-12 17:22] FreedCapybara commented on #696
Here you go:

[code]

[2017-10-12 17:22] RangerMauve commented on #696
Could you also please provide a stack trace for the error?

[2017-10-12 17:25] FreedCapybara commented on #696
There's a lot of stack:
[code]

[2017-10-12 17:27] FreedCapybara commented on #696
It blows up here inside of `_stream_duplex.js` of `readable-stream`:
[code]
Thanks for looking into this, by the way!

[2017-10-12 18:02] RangerMauve commented on #696
This looks like a bug with readable-stream and your build environment. Could you post your webpack config? Also, are you sure it's actually using the version of readable-stream that you specified? Check your node_modules to see if `mqtt/node_modules` has its own readable-stream.

[2017-10-12 18:43] FreedCapybara commented on #696
I know it's more of a readable-stream issue, but it's relevant to this library and I just need some help.

Based on the output of `npm list readable-stream`, I think it's safe to say `mqtt.js` is using 2.3.3:
[code]
Here's my webpack:
[code]
Thanks!

[2017-10-12 18:45] RangerMauve commented on #696
If you're deploying this to the web, you can't use the `mqtt://` protocol, you need to have your MQTT broker configured to use websockets, and then you can use the `ws://` protocol. Does that seem relevant?

[2017-10-12 19:09] FreedCapybara commented on #696
That is relevant, but I get the error no matter what URL I use.

[2017-10-12 19:28] RangerMauve commented on #696
@mcollina should be well versed on both. Sorry, but I think that's about all I can do with my current knowledge. :(

Check that your config supports the `browser` field for aliasing files

[2017-10-12 19:36] FreedCapybara commented on #696
That's okay, thank you for your help! And for your quick response time - I'm glad I didn't have to wait a day to hear from somebody 👍

Where do I put the browser field in my webpack? I found an issue where somebody asked for it, and some stuff on [this documentation page](https://webpack.github.io/docs/configuration.html) (specifically resolve.packageAlias), but I'm not really sure what to do with

[2017-10-12 19:42] RangerMauve commented on #696
Well, readable-stream was originally geared for use with browserify, and the introduced a new field in the package.json called `browser` which browserify would use to alias files before they got compiled for the web.

If the browser field isn't being respected by webpack by default, you should add the [aliases defined in readable-stream](https://github.com/nodejs/readable-stream/blob/master/packag

[2017-10-12 19:43] RangerMauve commented on #696
You should look into [resolve.aliasFields](https://webpack.js.org/configuration/resolve/#resolve-aliasfields) to see if that can be configured to use the `browser` field

[2017-10-12 19:53] FreedCapybara commented on #696
Between `module` and `plugins` I added:
[code]
But I don't think it helped =\

[2017-10-12 20:03] RangerMauve commented on #696
That's really strange. I'm out of ideas at this point. Sorry!

[2017-10-12 22:59] prabathabey commented on #691
@mcollina Thanks for the feedback. I will surely submit a PR.

[2017-10-13 07:37] prabathabey commented on #691
@mcollina I've submitted a PR with the above change, as well as a fix for a test failure I've come across while running the test cases at [1]. I'd appreciate you can review the PR and share your feedback.

[1] https://github.com/mqttjs/MQTT.js/pull/697

[2017-10-13 17:28] coloz opened #698 "in browser,can not use ssl&tcp?"
found /lib/connect/index.js:
`
if (process.title !== 'browser') {
  protocols.mqtt = require('./tcp')
  protocols.tcp = require('./tcp')
  protocols.ssl = require('./tls')
  protocols.tls = require('./tls')
  protocols.mqtts = require('./tls')
} else {
  protocols.wx = require('./wx')
  protocols.wxs = require('./wx')
}
`

[2017-10-13 18:40] RangerMauve commented on #698
Browsers cannot make TCP connections. You must use websockets if you want to use MQTT from a browser.

[2017-10-13 18:40] #698 closed

[2017-10-13 18:43] FreedCapybara commented on #696
Thanks for your help!

Closing this in favor of the readable-stream issue https://github.com/nodejs/readable-stream/issues/315

[2017-10-13 18:43] #696 closed

[2017-10-16 04:38] redboltz opened #699 "MQTTS connection error on nodejs >= 8.6.0"
After updating nodejs from 8.5.0 to 8.6.0, MQTTS connection becomes failure.

The reason is the commit https://github.com/nodejs/node/commit/ee157e5a7f
See https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V8.md#8.6.0

Here is the document.
https://nodejs.org/api/tls.html#tls_tls_connect_options_callback

"path <string> Creates unix socket connection to path. If this option is sp

[2017-10-16 05:03] redboltz commented on #699
I realized that I passed `mqtts://hostname:1234/`. If I remove the last `/`, the connection is successfully finished. However, I think that ignoring path might be convenient. Because existing working code don't need to be changed.

So I post the PR #700.

[2017-10-16 10:26] #699 closed

[2017-10-16 11:58] alex-borkun opened #701 "Missing messages on AWS reconnection"
AWS EC2 instance `sts:AssumeRole`'s  `sessionToken` expires in ~6 hours and there is `expiry window` 15 seconds before to refresh token.
I refresh the token, but MQTT.js client still has expired token in url.
Then I get the following chain of events: `offline -> close -> reconnect -> transformWsUrl -> connect`.
And as the result I lose couple of messages.
QOS 1 on AWS has a chance to produce dupli

[2017-10-16 12:28] mcollina commented on #701
Can you send a PR?

[2017-10-17 01:04] bengl commented on #699
Perhaps MQTT should be in https://github.com/nodejs/citgm ?

[2017-10-17 03:22] amitmangalvedkar commented on #692
@mcollina : I am also getting this strange behaviour. This happens very intermittently. I am investigating if there is any particular trend when this happens, so that it can be reproduced at will.

[2017-10-17 06:56] mcollina commented on #699
@bengl I think so, too. However our tests are network heavy and they tend to bet too flaky to be in CITGM.

[2017-10-17 16:17] VeeTeeDev commented on #625
@pierreclr

Did you make any progress on this matter ?

[2017-10-18 04:25] marleau commented on #570
@RangerMauve Were you able to find a cause for this issue? I'm having a similar problem.

[2017-10-18 13:12] RangerMauve commented on #570
@marleau Sorry for the lack of follow up! Sadly I didn't find the issue and we ended up downgrading our version of mqtt.js for that project. 1.14.1 is what we're using actively right now and it's working fine for all use cases.

[2017-10-18 19:53] japita-se opened #702 "Routing Changes Stops Connection"
We have a raspberry with 3 interfaces: wifi,eth0,ppp0.
It happens sistematically that when we activate a new interface (for example wifi), the routing table change (e.g. the default gateway) and the mqtt.js cannot publish anything anymore.
It sound like that the "old connection" on the previous interface goes "naturally" towards a timeout.
If we restart the application, everything works as usual.

[2017-10-18 20:21] japita-se commented on #666
same happen if the routing table changes

[2017-10-19 08:45] mcollina opened #703 "Upgrade to mocha@4"
Our test suite does not complete/exits anymore after the upgrade. It would be fantastic if someone could help.

[2017-10-19 09:07] Surecom commented on #701
@mqtt-owner-team fix the issue please

[2017-10-19 09:09] mcollina commented on #701
Unfortunately these are all volunteers, so we'll fix this when/if we have time.

[2017-10-19 09:11] alex-borkun commented on #701
Guys, it won't help.
The update of `url` will require reconnection anyway.
Please close it as won't fix.
Thank you!

[2017-10-19 09:12] #701 closed

[2017-10-19 11:14] mcollina commented on #425
Fixed in #697

[2017-10-19 11:14] #425 closed

[2017-10-19 11:14] mcollina commented on #209
Fixed in #697

[2017-10-19 11:14] #209 closed

[2017-10-20 10:15] chris-kruining commented on #185
I seem to have the same problem, And I'm not sure how to fix it.
[code]
When for example the broker is down I get an error in the console, which I of course want to catch and write logic to handle such exceptions. However the error event on the client is not triggered at all, the error event on the stream is only triggered once and it doesn't prevent the error being written to the console at all.

[2017-10-23 08:16] cltsang commented on #573
@nofarius
I just tried using your fork. No luck connecting to a broker yet. However, when the app is run with debugger attached, it throws

`Exception has occurred: TypeError
TypeError: process.send is not a function
    at postMessage (/Users/cltsang/Documents/IotApp/.vscode/.react/debuggerWorker.js:40:13)
    at sendReply (/Users/cltsang/Documents/IotApp/.vscode/.react/debuggerWorker.js:107:7)

[2017-10-26 23:14] prabathabey commented on #691
Closing the ticket as the fix for the issue indicated above is merged into the master branch in PR #697.

[2017-10-26 23:14] #691 closed

[2017-10-26 23:18] prabathabey commented on #703
@mcollina I'd like to take a look at this. Will provide an update as soon as I manage to come up with a sizeable contribution.

[2017-10-27 17:08] mcollina commented on #702
I don't know, I've never tested this situation. It _should_ converge itself over time, error the old socked, and reconnect. If this is not working, something is broken. If you identify what the problem is, I'm very happy to land a PR.

[2017-10-27 21:54] rudacs opened #704 "Disabling reconnection I do not know when it was disconnected."
Disabling reconnection I do not know when it was disconnected.
The disconnect event only works if reconnection is enabled. What does not make sense.

[2017-10-28 14:48] the1laz opened #705 "Publish stops working after sending empty string as message"
I'm using MQTT.js in the browser and I've had issues after sending messages like this: publish('topic','')

The client then stops sending messages for a while, although it seems to receive them still.

I've not had this issue with other clients, I've only used Mosquitto as the broker. I've edited my script to check for empty strings and replace them with '{}' as a workaround.

[2017-10-30 14:54] redboltz opened #706 "QoS2 publish from server should be handled after `end()` is called and reconnected if clear = false"
Here is the scenario I'd like to solve.

[code]

At *1, received publish packet is stored to incomingStore.
At *2, incomingStore is cleared.
At *3, searching incomingStore but packet not found. The published packet isn't handled and pubcomp doesn't send.

I expects the stored message is found in the incomingStoree and handled it then send pubcomp.

I think that incomingStore (and outgoingStore) sh

[2017-10-30 15:42] redboltz commented on #706
I sent the PR #707 to fix it.

[2017-10-30 17:36] PCaponetti commented on #573
@nofarius @mcollina : did this ever get any further?  I'm stuck using paho on react native right now and would obviously love to transition to MQTT.js

[2017-10-30 17:45] RangerMauve commented on #573
@PCaponetti I have it working with MQTT.js 2.4.0 and websocket-stream ^3.3.3

[2017-10-30 17:45] RangerMauve commented on #573
Not sure why. :P

[2017-10-30 23:55] redboltz commented on #706
I add why this functionality is needed.
I know if I set the option `reconnectPeriod`, then automatically reconnect after disconnection by server side.
Users also want to disconnect from client side and reconnect at any time users want. It works well with `clean = false` setting.
For example, the client want to get stored (by the broker) data each 30 minutes. The client connects wit h `clean=false`

[2017-10-31 10:25] mcollina commented on #706
Good find! Let's discuss the change in the PR.

[2017-10-31 10:29] mcollina commented on #705
Is it providing any error? It should work.
Can you please provide an example? or maybe a PR with a proper fix if you can figure it out?

[2017-10-31 11:22] mcollina commented on #704
Can you rephrase? I'm not understanding what problem you are having.
Can you show what behavior you would like to have with a code example?

[2017-11-01 06:30] the1laz commented on #705
It's silent on the MQTTjs end. Mosquitto is getting the occasional "socket error on client", but it's not at the same time as a message being published.

I tried in both Chrome and Firefox on two different computers and got the same thing. I used the Firefox websocket monitor plugin to confirm that MQTTjs is sending something down the websocket every time, however Mosqitto does not receive any pac

[2017-11-01 08:27] mcollina commented on #705
As I said, can you please produce an example to reproduce this bug? thanks.

[2017-11-01 08:35] japita-se commented on #702
It seems related to the keepalive and timeout values. But I have to investigate...
Thks

[2017-11-01 13:20] the1laz commented on #705
There's not much to reproduce. It's in a react app, I initialise with:
[code]
Then I have a couple of text fields for topic/message and a button to send when you click on it:
[code]
When this.state.message === '', the first click of the button will result in the broker getting the message, nothing happens on subsequent clicks.
When thist.state.message !== '', the broker gets a message on every cli

[2017-11-02 12:02] deepanigi opened #709 "Using MQTT with keystore and certificates in browser javascript"
Hi all.

I am trying to use this example in pure JavaScript web application
I have the following files ready.

- key.pem
- cert.pem
- ca.cg.pem

When i use the following code

[Github source code link ](https://github.com/mqttjs/MQTT.js/tree/master/examples/tls%20client)

I am getting error and my js application cannot understand require

How can i use this MQTT.js in JavaScript application to sup

[2017-11-02 18:32] mcollina commented on #705
Unfortunately, I will not set up a react application to check this. Let me ask again: can you provide a failing test case for Node.js or the browser?

[2017-11-03 10:38] mcollina commented on #709
That is not possible, the websocket API in the browsers does not allow you to specify those.

[2017-11-03 10:38] #709 closed

[2017-11-03 10:51] MartinMuzatko commented on #628
@mcollina this is not a satisfying answer. Why is mqtt turning it into a `ws://` address, when it is mqtt? Why does it matter which protocol I use, when it is always transformed?

[2017-11-03 11:08] mcollina commented on #628
if you are using a browser, mqtt is translated to ws, because we can't open a TCP socket in the browser. Possibly a bug on my side, if you would like to change that, feel free to open a PR.

[2017-11-03 11:09] MartinMuzatko commented on #628
Thanks for the reply!
So if my broker runs over `mqtt://` I can't access it from the browser?

[2017-11-03 11:11] mcollina commented on #628
@MartinMuzatko exactly.

[2017-11-03 11:13] MartinMuzatko commented on #628
I'm using mqttbox (chrome extension: https://chrome.google.com/webstore/detail/mqttbox/kaajoficamnjijhkeomgfljpicifbkaf) to test my connection. Here I have configured `mqtt://` and I can successfully publish and and subscribe.
I tried to debug the app to find out how they convert the mqtt protocol to ws with no success.

[2017-11-03 12:47] MartinMuzatko commented on #628
Looks like they are sending the publish to a service worker. Do they support `mqtt://`?

[2017-11-03 14:57] #706 closed

[2017-11-03 20:26] jdiamond commented on #628
No, service workers can't open TCP sockets. Nor can Chrome extensions to my knowledge.

The instructions for installing MQTTBox say to install an external program. I suspect the extension is communicating with that to get around the browser limitations.

If you want to use MQTT from a "normal" browser-based app, you _must_ tunnel MQTT over WebSockets so your broker will have to support that.

[2017-11-04 02:39] pierreca opened #710 "end() callback not called if `force` is true and the stream is already closed (eg. after a failed keepalive ping)"
Hi,
thanks for putting out such a great library!

In a case where the network connection is disconnected and MqttClient.end() is called like so:
[code]

The callback will never be called because the stream that is being destroyed in Client._cleanUp() [here](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L695) will never fire either a `close` or an `error` event unless an error is pass

[2017-11-04 03:53] the1laz commented on #705
Already gave you an example. Here's a test case:

[code]

index.html:
[code]

[code]

Results in a single 'test' message arriving on another client subscribed to '#'. A couple of minutes later, another 'test' message. If you add a message:
[code]

[2017-11-04 05:14] mcollina commented on #710
This looks like a bug, would you mind sending a PR?

[2017-11-04 11:22] mcollina commented on #705
Which version of mosquitto are you using? I cannot reproduce this issue with 1.4.14.

[2017-11-04 11:38] the1laz commented on #705
1.4.10
I'll try a newer version.

[2017-11-04 12:34] the1laz commented on #705
Seems to work for me on mosquitto 1.4.14, maybe a prior issue with their websocket implementation. Thanks for the help.

[2017-11-04 12:34] #705 closed

[2017-11-05 13:18] entcor opened #711 "correct stop connection on wrong username or password"
hello !

How i can stop reconnection if server have returned auth error (code:4) ?
if i do:
[code]
i got error like this:
[code]

[2017-11-05 17:16] mcollina commented on #711
Maybe it's a bug. Would you have time to do a PR?

[2017-11-06 08:09] MartinMuzatko commented on #628
Ok, thank you a lot for clarifying this :)

Right now, this is how I solve the problem:

[code]

[2017-11-06 19:54] jdiamond commented on #628
I use MQTT.js directly without Socket.IO in multiple apps. I don't remember having to workaround anything. My broker supports WebSockets and the URL I use in my apps start with "wss:". Everything just works.

What broker are you using? How are you building your project? Webpack or Browserify?

[2017-11-08 02:21] yemkay opened #714 "Handling subscription failure"
My broker is a commercial version of EMQ. We enabled Authorization in EMQ, so clients can subscribe to only assigned topics. To test negative case, I use this module to subscribe to a topic, not granted to client, but still get a success callback as below:

[code]
In broker log, I could see the request is being denied. Other MQTT clients are able to handle this error. When testing Publish negative

[2017-11-08 15:25] saintthor opened #715 "can not connect to test.mosquitto.org any longer"
i tried another mqtt server which i can connect by python.
code:
var client = mqtt.connect( { host: '112.xx.xx.xxx', port: 1883, username: 'localserver', password: 'mypasswd', protocolId: 'MQIsdp', protocolVersion: 3 } );
chrome tell me:
mqtt.min.js:1 WebSocket connection to 'ws://112.xxx.xx.xxx:1883/' failed: Connection closed before receiving a handshake response
WebSocketStream @ mqtt.min.js:1

[2017-11-08 17:16] mcollina commented on #715
8081 is encrypted. 8080 is not encrypted.

[2017-11-08 18:51] Tsumiqt commented on #715
Having the same issue. I want to connect to 'ws://test.mosquitto.org:8080/' or 'wss://test.mosquitto.org:8081/' but i immediately getting the offline event. Connecting to localhost via ws (even with reverse proxy nginx) is working fine.

[2017-11-08 21:49] Tsumiqt opened #716 "WebSocket Connection other then localhost"
WS or WSS Connection doesn't work for hosts other then localhost.

Working Configuration
`
options = {clientId : clientId,
                    clean : false,
                    keepalive: 10,
                    protocolId: 'MQTT',
                    protocolVersion: 4,
                    reconnectPeriod: 1000,
                    connectTimeout: 30 * 1000,
                    will : {

[2017-11-09 05:00] saintthor commented on #715
mqtt.min.js:1 WebSocket connection to 'ws://test.mosquitto.org:8080/' failed: Error during WebSocket handshake: net::ERR_CONNECTION_RESET

8080 has never worked. while 8081 had worked 1 week ago.
and, you may see the Connected client count at http://test.mosquitto.org/ , the count is down to nearly 0 these days. there may be something wrong.

[2017-11-09 11:59] Tsumiqt commented on #716
Figured out the solution:
Even though the broker isn't configured this way and other clients are able to connect without username and password -> After the broker requires username and password aswell for auth the connection is established..

I would consider this as a bug.

[2017-11-10 18:52] jdiamond commented on #715
I just tested and both 8080 and 8081 are broken on test.mosquitto.org.  When I use the same code to connect to my private broker (using wss: in my URL), it works as expected.

[2017-11-10 18:58] Tsumiqt commented on #716
Closing this issue because it was my fault. ws://test.mosquitto.org:8080 seems to be down.

[2017-11-10 18:58] #716 closed

[2017-11-10 18:59] Tsumiqt commented on #715
Yep. Same here. Server seems to be down. Own Broker works as expected.

[2017-11-10 19:06] jdiamond commented on #684
I think @RangerMauve is correct. This is just the nature of MQTT. Further on in the spec, it says:

[code]

Unfortunately, MQTT doesn't define a way to tell the existing (older) client that it's being disconnected because a new client is using its ID--the connection just gets closed.

You should decide if you want a second tab to open a new MQTT connection or if you want to reuse the existing conn

[2017-11-11 05:48] saintthor commented on #715
hello,  jdiamond,
i have a mqtt server. i can set a tcp connection with it and run mqtt protocol on the connection with python.
params are issued in the first post. do you know how to connect it with mqttjs?

[2017-11-11 05:56] jdiamond commented on #715
Based on your first post, I think you're trying to use MQTT.js in a browser app? That means you must use MQTT over WebSockets.

Are you sure your broker supports WebSockets? Not all do. Seeing you put the port as 1883 in your first post makes me think you're confusing your broker's support for plain MQTT with support for MQTT over WebSockets.

What broker are you using? Can you share your working

[2017-11-11 12:36] saintthor commented on #715
thank you.
i am afraid there is no websocket.

[2017-11-12 03:08] jdiamond commented on #715
Glad you figured out the issue. Hope it's easy to add WebSocket support to your broker or replace it.

[2017-11-12 03:08] #715 closed

[2017-11-14 17:20] cordovapolymer commented on #533
@RangerMauve , unfortunately it is not working this way.

[2017-11-15 01:14] dlape opened #718 "Subscribe too many duplicate data arrive."
Please, guys, I receive a duplicate data every time someone sends a data from me. Is there any way how to limit it to only 1?. its so annoying because I'm using it on the chat.  Is this due to my muliple subscription?.
Is there something problem implementing this?.
[code]

[2017-11-16 02:47] aibeb opened #720 "use babel-loader in webpack"
ERROR in ./node_modules/mqtt/mqtt.js
Module parse failed: Unexpected character '#' (1:0)
You may need an appropriate loader to handle this file type.
| #!/usr/bin/env node
| 'use strict'

[2017-11-16 11:08] mcollina commented on #720
I acutally don't know what this is. I've used webpack to bundle this several times.

[2017-11-17 05:47] Micrap opened #721 "publish callback function not working in koa"
When i use koa+mqtt to build a push service, i found a problem , client publish callback function not working,this is my example code
[code]
later, i view mqtt source code, found the message will put in a store queue, koa will not wait callback execute,so koa response not found,any solution could solve it?

[2017-11-17 15:05] RangerMauve commented on #721
Try using [async-mqtt](https://github.com/mqttjs/async-mqtt) and `await`ing the promise returned from client.publish

[2017-11-17 23:41] dyang08 commented on #628
@jdiamond Can you provide a sample of how you're subscribing using only MQTT.js? I'm having the same issue as @MartinMuzatko where MQTT.js automatically resolves mqtt://test.mosquitto.org to ws://test.mosquitto.org on a node app running on a browser.

[2017-11-18 02:37] jdiamond commented on #628
There is no way for JavaScript running in browsers to open TCP sockets so "normal" MQTT is impossible in browser apps. To get around this limitation, MQTT.js uses MQTT over WebSockets instead when it detects it's running in a browser.

So what you're seeing is how MQTT.js is supposed to work in browser apps. If your broker doesn't support MQTT over WebSockets, you need to find another way to commu

[2017-11-19 05:00] Micrap commented on #721
@RangerMauve Thanks for your reply, it has worked well.

[2017-11-19 05:00] #721 closed

[2017-11-19 23:10] cordovapolymer commented on #718
@dlape, maybe you call your subscribing code more than once?

[2017-11-21 01:23] edog1973 opened #723 "Reconnect on publishing blank message in browser"
I'm working on a browser client that connects to a broker via websockets.  Unfortunatly I'm seeing an issue where publishing a blank (zero length string) message causes the client to reconnect.  I'm only seeing this when bundling using browserify and running in browser.  Running the same code using node works fine.

Note: the short keepalive causes the reconnect to manifest quicker.  Same issue wi

[2017-11-21 16:18] dyang08 commented on #628
Thanks for the explanation. I was going about it incorrectly and subscribing via the clients rather than the server. MQTT.js works perfectly on the server.

[2017-11-23 08:25] EzPluto opened #726 "Connect to Activemq Error ?"
endless reconnect to activemq

[code]

get this :

![2017-11-23 16-21-42](https://user-images.githubusercontent.com/18041949/33163828-335063a8-d06b-11e7-8304-16b4ce0b2e88.png)

activemq console show :

![2017-11-23 16-23-32](https://user-images.githubusercontent.com/18041949/33163826-2e53d3da-d06b-11e7-8a0c-87fb53649981.png)

[2017-11-25 06:56] developerX opened #727 "Can't figure out how to get JSON to save in the database."
Hey I was hoping to find out how to get the mqtt response to parse in JSON.

I have tried many different variations of this:
[code]
The error I am getting is this:
`SyntaxError: Unexpected token I in JSON at position 0`

Tried this as well
[code]

when I try to do : `message.toString()` it does look like it renders a the json object I sent from the client.

All I would like to do is convert the Bu

[2017-11-25 15:09] sunwu51 opened #728 "When I use mqtt acl, the client can't get response."
I have a auth and acl server for mqtt,and when the username or password is wrong, an error occured.It is all right.

But when it comes to acl, the client which can't public a topic doesn't get any response in the `error` event

[2017-11-27 06:59] charlesluo2014 opened #729 "weapp bug"
wss://api.xxx.com:80 不在以下 socket 合法域名列表中，请参考文档：https://mp.weixin.qq.com/debug/wxadoc/dev/api/network-request.html

because of the mqtt lib add the port to the url,but wechat not allow the port in the url

[2017-11-27 15:33] RangerMauve commented on #727
What does your message look like?

[2017-11-27 18:20] developerX commented on #727
so what I get back from the message is `{ "serial": SERIALNUMBER, "status": STATUS  }`. I did a work around by passing in the information as a string separated by commas, then used `str.split()` and that worked just fine.

I validated the message coming back using a MQTT GUI and it picked up the JSON just fine.

[2017-12-01 05:31] v-divya110 opened #731 "MQTT Store doesn't return an error to the publish function if the Store fails to insert packets in the queue"
I was trying to use the MQTT level store for a persistent store for all QoS 1, 2 and retained messages. I realised that the callback is undefined in case of the QoS being 2. In this case, the API _sendPacket does not have anything to callback to and the error remains within the scope of this function.
Here is the code snippet for publish and the switch case for the qos is what I mentioned about.
[

[2017-12-03 20:38] noerw commented on #704
@rudacs I guess you are talking about the `reconnect` event, there is no `disconnect` event afaik. You can use the `offline` event to get notified about a broken connection. It is only emitted after the keepalive has timed out (which was after 120 seconds for me).

Subscribing to `connect`, `reconnect`, `close`, `offline` events leads to the following flow for me (with autoreconnect enabled):
[cod

[2017-12-04 11:16] MartinMuzatko commented on #670
You should add this to the documentation @mcollina.

[2017-12-04 13:03] mcollina commented on #670
@MartinMuzatko would you mind to send a PR? thanks!

[2017-12-04 14:18] MartinMuzatko commented on #670
Oh! it looks like it already exists.
https://github.com/mqttjs/MQTT.js#mqttclientendforce-cb
My bad! I didn't find it in the first place.
Everything should be alright.

[2017-12-05 09:36] smitthhyy commented on #364
The behavior described here I am seeing also. What client did you end up using?
Thanks.

[2017-12-05 10:40] xiaobo1215 opened #733 "在微信小程序中如何使用呢？"
想请问一下，这个在微信小程序中如何调用呢？

[2017-12-05 12:47] mcollina commented on #733
I’m sorry, can you rephrase in English?

[2017-12-05 14:38] 4rzael commented on #733
Google translates it to : "How to use in WeChat applet?"

I never looked at wechat applets, but apparently, you can use any js library.

So, just install it, and, apparently, you will want to make the connection in the `onLaunch` function, and then use the `publish` and `subscribe` functions however you want. It does not seem to be very different from any javascript code.

Can you explain your pro

[2017-12-05 15:01] 4rzael commented on #729
You may want to use the protocol `wx` (weapp websocket) or `wxs` (secured weapp websocket) instead of `wss`

[2017-12-06 05:06] xiaobo1215 commented on #733
Thank you for your answer  My question is how to use emqtt in WeChat

[2017-12-06 05:07] xiaobo1215 commented on #733
is WeChat mini apps

[2017-12-06 05:08] xiaobo1215 commented on #733
So just to ask, how do we call this in a WeChat mini apps?

[2017-12-06 08:01] mcollina commented on #726
Very likely you have wrong username or password.

[2017-12-06 11:30] mcollina commented on #723
Which broker are you using? Where you able to track down why this is happening?

[2017-12-06 18:23] edog1973 commented on #723
I'm connecting to a mosquitto install.  No, I have not been able to track down the root cause.

[2017-12-06 22:45] RangerMauve commented on #723
@edog1973 Are you sure your broker is up / supports websockets?

[2017-12-07 01:22] edog1973 commented on #723
Yes, the broker works with web sockets.  I'm successfully using mqtt.js in an browser app that receives data from the broker.  It took me quite a while to find the issue as all the code looked good.  I ended up pulling almost everything from the app to come up with the example posted.  And the exact same code works fine when run though node.  It's only when compiled with browserify and running in

[2017-12-07 04:20] redboltz opened #735 "webpacked mqtt doesn't contain Store"
I create webpack using the following  approach.
https://github.com/mqttjs/MQTT.js#webpack
It works well.

However, when I call `new mqtt.Store()` then I got the following error.

[code]

It works well on nodejs.

I analyze `mqtt` object using chrome debugger.
It seems that `mqtt` isn't contained `Store` on its top level. It contains `MqttClient`, `connect`, and so on.
If I execute the same program

[2017-12-07 04:47] redboltz commented on #735
I use webpack 3.10.0.

[2017-12-07 04:55] redboltz commented on #735
MQTT.js is up-to-date master (402d336296cd8e6b5b909209fb3b638580a45813).

[2017-12-07 12:42] mcollina commented on #731
Good spot, would you mind sending a PR with a unit test?

[2017-12-09 12:47] #735 closed

[2017-12-10 10:50] sunwu51 commented on #728
I find it.
![image](https://user-images.githubusercontent.com/15844103/33804167-522581e2-ddda-11e7-8c7e-cfbf28a9c17e.png)
[code]

[2017-12-10 10:50] #728 closed

[2017-12-11 11:04] v-divya110 commented on #731
I don't think I would be able to simulate a unit test because the error only arises when an external store is used. For instance, mqtt-level-store. In your case there is a Store which never returns an error in Store.put() so I'm not sure how to go about the unit test.

[2017-12-11 11:12] mcollina commented on #731
You can create a `new mqtt.Store()` and override the `put` method in there.

[2017-12-11 11:14] v-divya110 commented on #731
So I can use mqtt-level-store in the test case here?

[2017-12-11 11:19] mcollina commented on #731
no. Just:

[code]

[2017-12-11 11:33] v-divya110 commented on #731
okay! Thanks :+1:

[2017-12-11 22:53] michaeljota opened #739 "Empty password got rejected connection without even try to authenticate with the server"
Some server configuration allows to set an user without password, however if you try to connect to such server with MQTT.js the connection throws as rejected, but the request never leaves the client.

[code]

Options:
[code]

[2017-12-12 09:50] TechnicalSoup opened #740 "Inconsistency with semicolons in Typescript declaration files"
I've noticed that the general coding style for this project is to omit optional semicolons, however I've noticed that some of the Typescript declaration files have semicolons in a few locations.

An example of this from the types.d.ts file is shown below
[code]

In the majority of Typescript declaration files I've looked at the semicolons are not omitted (seems to be less prevalent in Typescript c

[2017-12-12 10:10] mcollina commented on #740
Go ahead and propose a change that make sense. We follow standard in the rest of the codebase.

Is there a linter to catch these issues?

[2017-12-12 11:17] mcollina commented on #739
Have you been able to debug why this is happening? Can you send a PR to fix it?

[2017-12-12 12:35] michaeljota commented on #739
I will try to debug, and see if I can fix it. :).

[2017-12-12 13:24] Qtianv587 opened #741 "wss://url:8084/mqtt in node.js worked but in browser using webpack failed"
I used mqtt.js in node.js and I used wss as protocol. I used the self-signed certificates to connect to mqtt. In node.js, it worked. So I browserify the MQTT.js with Webpack, and it failed.
The error log shows in Chrome's console is:
**`WebSocket connection to 'wss://url:8084/mqtt' failed: WebSocket opening handshake was canceled.`**
And it will remain reconnecting and show this error.
The code in

[2017-12-12 15:20] mcollina commented on #741
You can use the key, cert, and ca in the browser. You need to trust that certificate manually in the browser, otherwise the secure websocket connection will fail. Feel free to send a PR to update the README with this info!

[2017-12-12 15:56] michaeljota commented on #739
Hi! I tried to debug, but I don't why this is happening. I'm sorry.

[2017-12-12 16:36] RangerMauve commented on #739
How do you know for sure that the request doesn't leave the client?

[2017-12-12 16:56] michaeljota commented on #739
I have a interceptor in the server and it does not get through.

[2017-12-13 02:36] Qtianv587 commented on #741
@mcollina So grateful for answer! As you answered, I needn't set key, cert and ca in `options`. But how can I use the certificate in the browser js if I use the trusted certificate?  It seems no examples about it.

[2017-12-13 14:40] RangerMauve commented on #741
@Qtianv587 The browser version of MQTT.js uses the built-in [Websocket](https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API) implementation, which means it uses the Browser's TLS support.

Browsers don't provide any APIs to developers that allow custom certificate chains, you have no choice but to use certificates that are signed by an authority that's trusted by the browser.

If getti

[2017-12-14 08:25] Qtianv587 commented on #741
@RangerMauve @mcollina
Well, I use Mac OS to test my certificate and I have found some tricks to import certificate into environment. And I don't know whether it's harmful or not.

First we need generate the `.pfx` certificate with the `ca`, `cert` and `key` mentioned above.
I used the following command:
`openssl pkcs12 -export -out certificate.pfx -inkey client1.key -in client1.crt -certfile cace

[2017-12-14 10:21] 4rzael commented on #740
I haven't tried, but [tslint](https://palantir.github.io/tslint/) can probably be used for that, with the [semicolon](https://palantir.github.io/tslint/rules/semicolon/) rule

[2017-12-14 13:16] goliatone opened #742 "[unhandled error] mqtt-packet throws if null topic"
Errors thrown by [mqtt-packet](https://github.com/mqttjs/mqtt-packe) are not being handled by MQTT.js client.

[code]

[2017-12-14 15:06] RangerMauve commented on #741
I'm honestly not sure. Could you post some code so that I can see in detail?

[2017-12-14 21:05] TechnicalSoup commented on #740
Yep - I've used tslint in the past and it has a semicolon rule that can applied as `always` where semicolons must be used and `never` where they must only be used when necessary.

I'm happy to propose changes to the declaration files, and even create a tslint.json file with some rules in it if you are looking to enforce a coding style for Typescript aspects of the project. There is a github repo t

[2017-12-15 02:20] sublimator commented on #740
I'd say it is actually less common to have semicolons in TypeScript code,
though that might just be my preference speaking :) The fact that I don't
even know clearly speaks to the invisibility/redundancy of them. Given the
REQUIRED compilation step, it's pretty safe to omit semicolons in code, as
the compiler will pick up the few rare cases when they are actually
required ( wrapping expressions in

[2017-12-15 03:05] Qtianv587 commented on #741
@RangerMauve
OK, my first purpose is trying to generate a websocket by creating a new JS file  called `testWebsocket.js` and using the following code:
[code]
And then I use webpack to transfer this file to another JS file which could be executed in H5.

`webpack testWebsocket.js ./browWS.js --output-library browWS`

I have detected ever that the `url` was `wss://host:8084/mqtt` and the `protocols`

[2017-12-15 07:02] mcollina commented on #740
I abstain: I’m very unfamiliar with Typescript.

[2017-12-15 07:14] sublimator commented on #740
I don't really care either way :)

[2017-12-15 15:30] RangerMauve commented on #741
I'm not sure you need to use wsConnect here, maybe you can get away with using `fetch` to make a request to the website first, but if opening a websocket connection is enough to prompt you to add the certificate, I think it makes sense.

However, I must warn you that self-signed browser certificates are vulnerable to man-in-the-middle attacks, so you should trust them if you're planning on using a

[2017-12-15 16:15] goliatone commented on #742
I think this is because the event listener for error attached to the parser is added _after_ we pipe into the stream.
In the **MqttClient** method `_setupStream`, if we move the [on('error')](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L288-L289) upwards, and register the handler **before** `this.stream.pipe(writable)`, we are good.

[2017-12-15 16:17] RangerMauve commented on #742
@goliatone Would you be interested in contributing a pull request that fixes this and adds a test case?

[2017-12-15 16:34] goliatone commented on #742
Sure. I did not see any tests to cover this case in the client.js test suit.
For me, the complicated part will be to figure out how to test this behavior.

[2017-12-15 17:26] RangerMauve commented on #742
Could you add a new test? Maybe create a fake stream as the connection and emit an invalid packet?

[2017-12-16 21:41] TechnicalSoup commented on #740
Thanks for the input @sublimator.

As the rest of the code base omits semicolons it probably makes more sense to have them omitted from these declaration files too.

I'll get a PR going to address this.

[2017-12-18 07:28] v-divya110 commented on #731
I have added the test case and submitted a new pull request for this issue

[2017-12-19 23:52] edog1973 commented on #723
I finally got around to debugging this further today and was able to come up with a resolution.  The issue crops up whenever publishing a message with an undefined or zero length string messages (also only when running in a browser).  I followed the code down through the mqtt module and into the writeToStream.js file of the mqtt-packet module.  At the end of the publish method the payload is writt

[2017-12-20 00:02] mcollina commented on #723
I think the bug is in websocket-stream. Can you send a PR there?

[2017-12-20 16:47] edog1973 commented on #723
OK, I guess I was in a little over my head trying to figure this one out.  I'll leave it to those who know the systems better than I.

[2017-12-20 17:09] mcollina commented on #723
@edog1973 you actually are correct! But this should be handled in WebsocketStream, more or less not writing down the buffer into the actual websocket in:

https://github.com/maxogden/websocket-stream/blob/master/stream.js#L104-L121

It is just a matter of moving that code over there!

[2017-12-27 14:59] #742 closed

[2017-12-27 19:43] RickCarlino opened #743 "Does the client emit a `connect` event? If so, where?"
I am debugging a very application specific bug relating to re-connection attempts and would like to use the `connect` event for debugging.

The [documentation](https://github.com/mqttjs/MQTT.js#event-connect) states that the event is

however, I can't seem to get my `connect` event handler to fire in a browser while debugging a websocket connection.

My questions are:

1. Does the `connect` event

[2017-12-27 20:17] RangerMauve commented on #743
Inside `_setupStream` we listen on various events and send [a connect packet](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L286) down the socket.

After the connection is verified, we [receive a connack packet](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L869) and emit the `connect` event on the client.

Could you show a minimal code sample of the `connect` not being

[2017-12-27 21:14] RickCarlino commented on #743
@RangerMauve Thanks! I was able to verify that the issue is indeed on my end.

[2017-12-27 21:14] #743 closed

[2017-12-27 21:20] RangerMauve commented on #743
Glad I could help! :D

[2017-12-29 14:46] Maxattax97 commented on #731
For reference the PR is #732. I have also ran into this issue so I'm hoping this is pulled soon to clean it up.

[2017-12-30 01:10] felipebraz opened #744 "Problem with homebridge-mqtt"
Hi, I'm having some issues using mqttjs with homebridge-mqtt (https://github.com/cflurin/homebridge-mqtt). The homebridge-mqtt send a message with a strutucte like this:

{"name":"Luz Externa","service_name":"Luz Externa","characteristic":"On","value":false}

But when the message arrives on mqttjs I'm receiving the following error:

error: erro de sintaxe em ou próximo a "{"
    at Connection.pars

[2018-01-02 16:43] mcollina commented on #744
It seems the error is coming from pg, not really from the `pg` module, not really from MQTT.js

[2018-01-02 17:36] felipebraz commented on #744
Weird, but there is no pg on my project... I'll review my code, sorry for the mistake

[2018-01-02 17:36] #744 closed

[2018-01-03 01:02] irfanka commented on #573
@mcollina Hi.
How exactly did you get it to work?

[2018-01-03 07:48] mcollina commented on #573
@irfanka I am not a react-native user. If anyone wants to devote the effort of making this module work as-is with react-native, I'm more than encouraging them to do this. I have absolutely no bandwidth to help.

[2018-01-03 15:28] RangerMauve commented on #573
@irfanka @mc

I'm using the following modules and making sure they are imported before anything else:
 - [global](https://www.npmjs.com/package/global)
 - [buffer](https://www.npmjs.com/package/buffer) add `import {Buffer} from "buffer"; global.Buffer = Buffer;`
- [process](https://www.npmjs.com/package/process) add `import process from "process"; global.process = process;`

In addition, I'm using

[2018-01-04 21:13] svj13 opened #747 "Connecting to AWS IoT using MQTT"
Hello!

I am asking here because hopefully someone may be able to provide insight to a problem I am having! Please close/delete this issue if you feel it is irrelevant.

Long story short, I have a web browser client that sends a message to my server via websockets. Now, I want to take that message, and send it to AWS IoT from my sever using MQTT.  I do not want to send straight from my client thro

[2018-01-05 01:59] jdiamond commented on #747
The options you're passing to `connect` in your SO post are full of options that aren't supported by MQTT.js. See here: https://github.com/mqttjs/MQTT.js#mqttclientstreambuilder-options

The URL you're using starts with `ws`, but I'm pretty sure AWS only supports `mqtts` and `wss`. Since you're not in a browser, there's no need to use `wss`.

IIRC, AWS requires clients to use certificates to authe

[2018-01-05 07:36] mcollina commented on #747
You should use https://github.com/aws/aws-iot-device-sdk-js to connect to aws iot. It is different enough from a plain MQTT broker to require its own module. It uses this one internally.

[2018-01-05 07:36] #747 closed

[2018-01-07 22:16] TechnicalSoup commented on #740
Appears there is already TSLint rules setup to catch these, however from a bit of digging the linter's approach to interfaces seems to be inconsistent.

I've created a PR to remove the semicolons that I spotted earlier, and testing the change at my end to make sure the TS declarations behaved as expected (VSCode 1.19.1 and TS 2.6.2). All looked good.

[2018-01-11 07:15] nsriram opened #749 "client with clean:false does not resubscribe"
We notice that the client is not resubscribing when `{clean: false}` option. The code in resubscribe block of `index.js` as well does this.
Would it be possible to resubscribe when the client has clean:false options set for receiving QOS:1 messages ?
Thanks

[2018-01-11 07:20] mcollina commented on #749
The broker should automatically subscribe you.

[2018-01-11 09:56] nsriram commented on #749
Thanks Matteo. We are using mqttjs with rhel-amq (wrapped on apache amq).
When the amq is restarted, we see the subscriber hanging.

Any inputs on this will be appreciated.

Steps.
1. Start Rhel AMQ
2. Start producer
3. Start Consumer
4. Watch for messages being printed
5. Stop AMQ
6. Start AMQ
7. Subscriber prints ('i have subscribed'), but the messages are not being received.
Note : At this poin

[2018-01-11 10:15] mcollina commented on #749
Is the client emitting an `'offline'`, `'connect'` or `'reconnect'` events?

Have you checked if the same code work with Mosquitto? I fear it might be a problem with Rhel AMQ configuration, and you should check with them.

[2018-01-11 21:58] #740 closed

[2018-01-12 04:54] TechnicalSoup commented on #727
@developerX did you end up solving this?

When I pass JSON around using MQTT I usually parse the message in a try catch block, something like this:
[code]

[2018-01-13 05:12] cordovapolymer opened #750 "changing will message after connection"
Hi,
Is it possible to change the will message after the connection?
I want to have a login token inside of the will message, to handle "client offline" logic.

[2018-01-13 08:31] mcollina commented on #750
no it is not possible.

[2018-01-13 08:31] #750 closed

[2018-01-14 15:55] nsriram commented on #749
Hi Matteo,
Thanks for the response.

The same problem occurs on Mosquitto as well. Have tested it.

- We are using a node client with mqttjs. No special events are emitted. Can you point to any reference ?

**Steps to recreate**

1. Start Mosquitto (or) Rhel AMQ 7 broker (mqtt protocol).
2. Create a producer mqttjs client with `{clean : false}` in options & post messages with `{qos : 1}`.
3. Creat

[2018-01-15 08:44] mcollina commented on #749
Is persistent storage configured in both brokers?

[2018-01-15 23:07] boneskull commented on #703
I looked at this and can identify several problems:

- The reconnect timer is either really sticky or just needs an `unref()`; the interval will keep the process open. (I'm still not convinced the reconnect timer is working as intended, but that's a separate issue)
- The ping timer suffers from the same problem
- Many tests don't call `client.end()`, and if they do, they don't necessarily wait for

[2018-01-15 23:07] boneskull commented on #703
FWIW, calling `close()` on a `net.Server` instance doesn't disconnect any clients, which I didn't realize...

[2018-01-16 04:26] nsriram commented on #749
Yes. Persistence is enabled on both.

[2018-01-16 07:11] mcollina commented on #703
Oh I didn’t know you could add a flag to mocha.opts to get the old behavior.
I would still prefer if someone could come up and clean up the current mess.

[2018-01-16 11:10] mcollina commented on #749
Can you please share the Mosquitto configuration that you are using?

[2018-01-16 15:03] perezale commented on #718
Hi everyone, sorry if I'm not opening another report for this behaviour, but, actually there are many about resubscriptions and this one is quite similar to my situation. In a few words, I'm seeing duplicate data arrival.

I'll try to explain my case with more details:

My current connection is:
mqtt.connect(options.activemq.local.url, {
  ...auth-options...,
  "resubscribe": false
})
and on-conne

[2018-01-16 22:58] 4rzael commented on #718
@dlape Did you succesfully manage to solve your problem ?

[2018-01-17 17:57] boneskull commented on #703
not to toot my :trumpet:, but if I'm finding it difficult & tedious to clean up, I don't suppose it'll be a breeze for anyone else :wink:

[2018-01-18 18:59] igor-d-deus opened #752 "Bug in receiving retain"
It's strange but this library has some bugs in receiving retain with some words in topic or other reason.
I'm trying to subscribe to topic like 'gateway/+/out/structure/+/devices/+/status' and I'm not receiving anything. When I subscribe from console mosquito client - all messages. When with nodejs mqtt lib - nothing!

[2018-01-18 23:26] mcollina commented on #752
Can you provide a script and instructions to reproduce?

[2018-01-19 17:02] igor-d-deus commented on #752
Can't reproduce it anywhere except production server. But after updating to latest release and switching QoS of subscription to 0 it began work. May be it's not a bug or it was fixed somehow. But I tested 250 000 topics with retain at local server and none of msg was lost.

[2018-01-19 17:04] igor-d-deus commented on #752
I'll close this issue because it impossible to reproduce.

[2018-01-19 17:04] #752 closed

[2018-01-24 07:22] BorisBrock opened #753 "Call to 'connect' just hangs"
I'm trying to get the following example code to work:

[code]

This should connect to an up-to-date Mosquitto server running on my Raspberry Pi. But all that happens is that the code hangs. No errors, no nothing. The server itself is fully functional. I tested that with an Android app.

What could cause this behavior?

[2018-01-24 08:48] mcollina commented on #753
does that need a username/password combination?
can the raspberrypi connect to `192.168.178.32`?

[2018-01-24 08:52] VanKurt commented on #753
Hi,
192.168.178.32 is the address of the Raspberry running the MQTT Server (Mosquitto). My Android App can connect to the Raspberry Pi at this address just fine and publish/subscribe topics. So on that end everything seems fine.

Also the MQTT Server requires no username/password (since it is only running in my home network).

[2018-01-24 08:54] mcollina commented on #753
I have no idea. You are probably better off checking with wireshark or node inspector what's going on.
If you find what the problem is, feel free to send a PR.

[2018-01-24 22:12] cordovapolymer commented on #750
I see, will message can be only set in [connect payload](docs.oasis-open.org/mqtt/mqtt/v5.0/csprd01/mqtt-v5.0-csprd01.html#_Toc489530091)

[2018-01-26 00:51] 4rzael commented on #703
I tried to do some kind of tests, where I try the connection against multiple brokers:

This is my code:
[code]

## Broker configuration

I tried running it with mosca, mosquitto and emq, using the following docker images to run the brokers:

* mosca: `matteocollina/mosca`
* mosquitto: `toke/mosquitto`
* emq: `sneck/emqttd:latest`

## results

When running `mocha test.js` against `mosca` and `emq`

[2018-01-26 02:45] boneskull commented on #703
I would also recommend pulling in https://npm.im/stoppable and wrapping the `net.Server` instances with it

[2018-01-26 15:25] teemupiiroinenwirepas opened #755 "Subscribing to retained topic with wildcard"
Hello

Is there something special while subscribing to retained topic with wild card? I'm publishing data into topic with QoS1 and retained flag set on. If I subscribe to the topic before I publish the data, I get the message, but if I subscribe later, I don't get the message. Everything works just fine if I subscribe to the exact topic name.

I have tried with "#" and "+" wildcards, but the resul

[2018-01-28 02:42] mcollina commented on #703
@4rzael this is very interesting.

Were you able to pinpoint the problem in our code (or our tests)?

[2018-01-29 15:06] mcollina commented on #755
Which broker are you using?
You should be getting the messages - it's likely a broker config issue.

[2018-01-30 01:54] caflulu opened #756 "How to unbind event handlers, for example: on ("message", callback)"

[2018-01-30 09:25] teemupiiroinenwirepas commented on #755
Yes, you are correct. This seems to be an issue with RabbitMQ and MQTT plugin.

https://github.com/rabbitmq/rabbitmq-mqtt/issues/154

Thanks

[2018-01-30 09:43] #755 closed

[2018-01-31 05:26] RelaxLiu opened #757 "After the net is broken, it is reconnected, but there is no data."
After the net is broken, it is reconnected, but there is no data.

publish-subscribe

Subscribe to success

Data reception success

Off the net

Link offline

Reopen the network

After that, the link has been successful. Close, offlin, connection is successful, close, offline has been circulating, neither resubscribe nor cancel subscription.

Want to ask what you need to set up to continue the dat

[2018-01-31 06:43] mcollina commented on #757
Unfortunately, this might be an issue with your broker. If you want to send a PR, I’m very happy to review.

[2018-01-31 08:57] mcollina commented on #756
Check out the node.js docs, the mqtt instance is an event emitter.

[2018-01-31 09:36] oprince commented on #425
@BrandonSmith (or anybody else) do you have a client code sample of how to use handleMessage method with QoS 2 ?
I have googled long time with no results...
Thanks

[2018-01-31 10:16] caflulu commented on #756
I agree with you somehow, probably,  I had somthing wrong with my question. My actually question is that when I want to use the same topic in other pages, the callback of this page in the handler,Which I want to detroy it. So I can do other things in the other pages. So in some way how to unbind the old event handler.

[2018-01-31 10:39] oprince opened #758 "Serial message processing"
I need to implement a client which is processing messages serially.
[This thread](https://github.com/mqttjs/MQTT.js/issues/425) discusses that, but I could not find any sample or technical guidance.
How do I use handleMessage with qos 2 (code sample) ?

[2018-01-31 10:55] Franco-Poveda commented on #364
same problem

[2018-01-31 11:12] mcollina commented on #756
Your question is definitely not clear.

[2018-01-31 20:37] BrandonSmith commented on #425
@oprince Override the handleMessage function with your own. The important thing is that you **must always invoke the callback argument**. QoS 2 support landed in v2.13.0 with improvements in v2.14.0.

[code]

[code]

[2018-02-01 01:51] RelaxLiu commented on #757
@mcollina Thank you for your reply
I want to know what is the reconnection mechanism of mqtt. At the beginning, I have already created a subscription and broken network. Do I need to cancel the previous subscription when I want to connect to the Internet, or do I have other ways to deal with it?

[2018-02-01 06:17] DayTimeDreamer opened #759 "Doesn't mqtt.js support cordova? I want to use it in app for Android and iOS platform."

[2018-02-01 14:27] RangerMauve commented on #759
It does support Cordova. You'll need to use a tool like `browserify` to compile it to run in the Cordova environment.

[2018-02-03 18:39] behrad commented on #573
@RangerMauve Are you successfully set up MQTT.js in react native (both iOS & android)

[2018-02-03 18:50] RangerMauve commented on #573
@behrad Yes, it's been up and running for a few months now without too many issues.

We found that when the app goes in the background the timers for the keepalive don't run, so we force Android to attempt to reconnect when it regains focus.

Other than that it's working perfectly.

[2018-02-04 06:55] ayushsharma82 opened #760 "client.on('message', callback) keeps appending data when inside a function."
So I have an Express app , What i really wanted to do was Publish a message and then Retrieve a reply in that same function.I go to http://localhost/mqtt , it publishes a message to broker and receives the reply from other client , but on repeated attempts, message keeps getting Appended.   So here is example the code for better understanding:

[code]

The Output would be :
For 1st Time : Hello fr

[2018-02-04 07:54] behrad commented on #573
Nice, let us test https://github.com/mqttjs/MQTT.js/issues/573#issuecomment-355039873 and see how it goes. I may post you results if any issues 👍

[2018-02-04 10:37] ayushsharma82 commented on #760
UPDATE: On further Studying the Issue, I Got to know that it is Duplicating the message rather than Appending. Example: if i use the function 5 times, then the recent Message gets duplicated 5 times.

[2018-02-04 16:56] syberkitten opened #761 "How to change re-connect strategy to re-connect again with different credentials."
Hi

Is it possible to re-connect using different credentials
every time, instead of having to clear the old instances
of MQTT client? (which might be problem in terms of cleanup or memory leaks)

[2018-02-04 17:29] jalalazimi commented on #573
@RangerMauve I'm currently attempting to take advantage of MQTT in a react native project, I follow your steps, but receiving the following error on core-util-is.
`Buffer is not defined on util.js`
Did you experience the same problem?

[2018-02-04 17:34] RangerMauve commented on #573
Yes. You will have it complaining about some node specific global variables being missing. Make a new file that defines `global.process`, `global.Buffer` and `global.self`. make sure to import this file before anything else.

[2018-02-06 07:50] reejinbouk opened #762 "SSL"
Hi,
Can't find connect method for typescript with ISecureClientOptions.
How can I use typescript to connect with SSL cert?
Thank you.

[2018-02-06 08:17] mcollina commented on #762
Probably we have a bug in our typings. Would you like to send a PR?

[2018-02-06 09:07] reejinbouk commented on #762
I'm trying to connect using node.js as in https://github.com/mqttjs/MQTT.js/tree/master/examples/tls%20client
I've used certificates for my site, but get this error:

`Error: Unknown protocol for secure connection: "ssl"!`

[2018-02-06 15:12] RangerMauve commented on #762
@reejinbouk Try the `mqtts` protocol instead in your URL

[2018-02-09 18:08] periclesroalves opened #765 "Call message callbacks upon disconnection / no more reconnections"
I noticed that current message callbacks (`MqttClient.outgoing`) are not called with an error when connection suddenly drops. I guess this is expected as the library may reconnect automatically and the ack for those messages can still come back after reconnection, right?

However, these callbacks are not called with an error even when reconnection attempts are exhausted (in this case, to reconnect

[2018-02-09 22:13] mcollina commented on #765
Oh, good spot, would you or @pierreca be able to help with a PR? Thansks!

[2018-02-11 14:39] simonnilsson commented on #720
The error is because the main file defined in package.json `mqtt.js` contains a shebang line `#!/usr/bin/env node`. This is not supported by webpack as it is not valid javascript. The CLI-parts should be separated in to its own file so that it is not included when you import it as a library.

Reference: https://github.com/webpack/webpack/issues/4603

The way around it atm is to use a loader in web

[2018-02-11 16:18] ubergesundheit opened #766 "Error: "listener" argument must be a function in Version 2.15.2"
Commit 915742ebcd210ef28fc4b2a2a971e7955d9da97f introduced the following block of code:

    if (!this.connected) {
      this.stream.removeListener('close', done)
      done()
    }

in [lib/client.js](https://github.com/mqttjs/MQTT.js/blob/915742ebcd210ef28fc4b2a2a971e7955d9da97f/lib/client.js#L746-L749).

The argument `done` in the line `this.stream.removeListener('close', done)` is the optiona

[2018-02-12 12:57] gautaz opened #767 "'end' event"
Hello,

I was wondering if you (the maintainers) would consider adding an `end` event?

The use case would be multiple parts of some code using the same MQTT connection. Once the connection is asked to `end()` and it actually ends (with or without an error), this event would tell all listeners that the connection has effectively ended and is no longer usable.  The `end` event could be emitted just

[2018-02-12 16:45] mcollina commented on #767
Definitely, would you like to send a PR with a proposal?

[2018-02-13 06:23] enVolt opened #768 "Large Payload issue. offline->close->reconnect infinite loop"
In case the message payload is very large (> 64 kb), Publish method, doesn't return the callback with a failure.

I'm getting `offline`, `close` & `reconnect` event in order as an inifinite loop.

Here is the code snippet -

[code]

The scenario can be replicated for any value of `aVeryLargeBody`, where size is greater than 64 KB.

[2018-02-13 09:54] gautaz commented on #767
I am close to send the PR but since I have added additional test cases, I was able to reproduce a bug on my last PR (#763).

Do you want me to fix this in the same PR or do you want me to put this on a separate issue?

[2018-02-13 15:25] mcollina commented on #768
which broker are you using?

Can you send a PR to fix this bug?

[2018-02-13 15:59] spierala opened #769 "Can't connect to Activemq via wss:// (while it is working with Paho.MQTT.Client)"
Currently I am doing a refactor from Paho.MQTT.Client to mqtt.js, but I am facing issues regarding the connection via wss:// to Activemq.

This is the Paho Code which successfully connects to the broker:

[code]

Here the corresponding mqtt.js version
[code]
For some reason the `close` callback function is called permanently while the `connect` and `error` callbacks are never executed.
Do you have

[2018-02-13 21:28] 4rzael commented on #703
Unfortunately, I didn't manage to find the problem in our code, and currently do not have the time to do further investigations.

[2018-02-14 00:36] mcollina commented on #767
Send another PR!

[2018-02-14 10:36] spierala commented on #726
Hi @EzPluto, did you solve the issue? Why do you use `password: new Buffer(password)` ?

[2018-02-14 11:44] gautaz commented on #767
Sorry for the delay, the bug is fixed by #770 and the `end` event is added by #771.

[2018-02-14 14:07] #726 closed

[2018-02-14 14:07] #769 closed

[2018-02-14 16:18] amanthegreatone commented on #656
@RangerMauve can you please elaborate a little more on this tip. I am also trying to build an IoT application and facing issues with node event loop getting stuck when consuming data from the MQTT client at a very high frequency. I am trying to work with node js child processes but seem to have some disconnect in trying to do this load balancing.

[2018-02-14 16:40] RangerMauve commented on #656
@amanthegreatone You should look into the concept of "work queues" or "task queues".
The idea is that you have a central broker that receives all events, and then one or more workers that connect to the broker. Instead of all workers getting all events, the broker will spread the events across the workers so that the load is balanced between them.

What you can do in this case is feed all your MQT

[2018-02-15 11:38] enVolt commented on #768
Broken is emqttd.

For now, I've put a check on the size of the message which is being published. I might have missed the point, that it could be a broker specific thing.

As far as I'm able to understand the code, reconnect loop is being handled at client.js#L208, and publish method will not get to know that. I guess the expected behaviour here is that in case the client gets a disconnect (or bro

[2018-02-15 11:40] mcollina commented on #768
Can you please check with Mosquitto, too?

[2018-02-16 20:51] andagent opened #772 "TypeError: Cannot read property 'split' of undefined"
Hello, I tried to do `server.publish`. But it is throwing me this error. My code :
[code]

[2018-02-16 22:11] mcollina commented on #772
what's your stacktrace?

[2018-02-16 22:14] andagent commented on #772
I was checking docs and other git issues and I just found out the solution. It is to change `server.publish('presence', 'Hellomqtt');` to
[code]
Thank you!

[2018-02-16 22:23] #772 closed

[2018-02-17 00:14] pierreca commented on #765
@anthonyvercolano is going to take a look at this, thanks!

[2018-02-18 20:29] einargs commented on #761
If you're referring to altering the username/password you connect with, I'm having some success with manually changing the fields in the client's `options` field (e.g. `client.options.password = newPassword;`). However, this is undeniably a hack, and I'm hopping that there's another, better way to accomplish the same thing. For example, `Client#reconnect` [accepts an options argument](https://gith

[2018-02-18 21:59] mcollina commented on #761
Would you like to make a proposal (PR) on how to improve the current situation?

[2018-02-20 02:37] einargs commented on #761
Sure. I'm not sure how quickly I'll be able to get it done--I'm trying to catch up on a backlog of school work--and I've never actually made a pull request before, but I'll try to have something by Friday? Probably sooner, if I'm honest.

[2018-02-20 03:34] einargs commented on #761
@mcollina where/how should I ask questions about what I should implement? For example, where should I ask if I should try to extract functionality related to loading-in options into a separate private method?

[2018-02-20 07:47] mcollina commented on #761
You open a PR and we discuss them.

[2018-02-20 13:45] einargs commented on #761
Does that mean that I should open the PR before I have any changes made?

(Apologies for the silly/basic questions.)

[2018-02-20 14:10] mcollina commented on #761
@einargs I mean those changes are very hard to reason about without code that implements them. Propose some changes on how things should work, and we'll work from there.

[2018-02-22 04:53] Eric24 opened #773 "Controlling inflight message count?"
Is it possible for the client to control the inbound inflight message count (i.e. what RabbitMQ's MQTT plugin calls prefetch-count or what mosquito calls max_inflight_messages)? Of course, this only applies to QoS 1 or 2.

[2018-02-22 06:08] rclai commented on #573
So I did everything that @RangerMauve did plus add the `url` module as well and I also installed version 1.14.1 as well, but I'm getting this error:

`bundling failed: UnableToResolveError: Unable to resolve module `events` from `/Users/richardlai/Profab/Spark/node_modules/mqtt/lib/client.js`: Module does not exist in the module map`

[2018-02-22 06:19] rclai commented on #573
I'm now getting this error when I try to use it like this:
[code]
Error:
[code]

[2018-02-22 09:53] RameshRM opened #774 "Unable to establish connection with MQTT Client"
`TypeError: nextTick is not a function`

Stack Trace :

mqtt/lib/client.js:37:2
mqtt/lib/client.js:286:3
mqtt/lib/client.js:227

FYI, This is used along with `aws iot` aws-iot-device-sdk/device/index.js:639

Suddenly hit with this issue right b4 launch preparation, can someone look @ this earliest

Thx

[2018-02-22 09:55] mcollina commented on #774
Are you using yarn or package-lock, or webpack? Can you please update your dependencies?
This should not be happening and it is a package manager/bundling issue.

[2018-02-22 09:56] RameshRM commented on #774
i am using plain simple `npm i`

[2018-02-22 09:57] RameshRM commented on #774
there is a package-lock.json, should i remove the lock and do `npm install ` ?

[2018-02-22 09:58] mcollina commented on #774
remove it, remove node_modules, and reinstall.

[2018-02-22 10:04] RameshRM commented on #774
no luck, same error

[2018-02-22 10:04] RameshRM commented on #774
I am running my code under `setImmeidiate(tryEstablishClient());`

[2018-02-22 10:08] mcollina commented on #774
I would recommend you to open this issue against aws-iot-device-sdk. AWS has the resource to track down this problem and help you, while this is a community maintained project.
This is not a bug in this library.

[2018-02-22 10:08] #774 closed

[2018-02-22 15:51] mcollina commented on #773
This would be a very nice feature, would you like to send a PR?

[2018-02-22 16:26] RangerMauve commented on #573
@rclai Thanks for the update! I'll add a doc somewhere once we have the steps figured out. It's been months since we set it up so I was probably missing some things. 📦

I always use the URL method of connecting in our app.

Also, please note that I've only got the websocket version of MQTT working since React-Native is basically a browser environment and doesn't provide Node's TCP stack.

[2018-02-22 20:21] Eric24 commented on #773
@mcollina : Maybe, but I'm not exactly sure where to start. It's my understanding that the broker will keep sending messages until its internal prefetch/inflight count is reached. How can the client "control" this? There does not appear to be any standardized way to override the server's setting on this during connect or subscribe. If the server can't be overridden, how can the client throttle mes

[2018-02-23 00:40] rclai commented on #573
There's a part of the code that's trying to parse the websocket URL that breaks:

[code]

[2018-02-23 11:30] mcollina commented on #773
That is indeed not possible. Closing.

[2018-02-23 11:30] #773 closed

[2018-02-23 14:56] RangerMauve commented on #573
I'm not sure, actually. Maybe @mcollina Has more insight on what's happening there.
Maybe it has to do with you using the object form of `mqtt.connect` instead of passing in a string URL.

[2018-02-23 21:26] wcatron opened #775 "Servers option does not allow different protocol than brokerURL."
When connecting using the servers option the protocol can't be set. Need to add it as an option to the `IClientOptions` interface so that this works:
[code]

`opts.protocol = opts.servers[client._reconnectCount].protocol` Should just need to add this to line 129 of the `lib/connect/index.js` file. I can create a pull request if this proposal seems reasonable. My goal for this functionality is to u

[2018-02-24 12:30] drmikecrowe commented on #761
@einargs I just got bit by this token expiration.  How did you detect it?  I didn't receive an error event, so I'm curious how that notified your application

[2018-02-25 02:23] Rod-O commented on #364
same problem

[2018-02-25 23:02] Eric24 opened #776 "Incoming message throttling (Qos 1)"
I have a client that appears to be receiving messages much faster than I would expect. I'm basing my expectation on my understanding of this code:
[code]

I'm not overriding handleMessage--I'm just using the event listener. It's my understanding that each event listener (although I have only one listening for the 'message' event) is called synchronously, so that 'puback' is not sent until the list

[2018-02-26 08:48] shaocongcong opened #777 "Chrome connect mqtt server err"
when i use chrome anerror has occured on this page.
"WebSocket connection to 'ws://localhost:9800/' failed: Error during WebSocket handshake: Sent non-empty 'Sec-WebSocket-Protocol' header but no response was received"
mac safari is ok! why?

[2018-02-26 08:50] mcollina commented on #776
If you want throttling you will have to override `handleMessage`.

[2018-02-26 08:51] mcollina commented on #777
I think you are connecting from a https page.

[2018-02-26 08:54] shaocongcong commented on #777
Thanks for your quick response.  I use http connect server!

[2018-02-26 09:27] shaocongcong commented on #777
All the problems have been solved

The idea is to send 'mqtt' as default subprotocol and 'mqttv3.1'if in the mqtt.connect options for MQTT 3.1 are passed:

{
  protocolId: 'MQIsdp',
  protocolVersion: 3
}

[2018-02-26 09:27] #777 closed

[2018-02-26 11:06] clem91 commented on #720
Same problem here and the shebang loader doesn't seem to work on my side.

[2018-02-26 11:16] harishydav opened #778 "What happens to messages published on a channel when there are no subscribers? Even with QoS 1 and 2. Is it stored somewhere until there is a new client connected?"

[2018-02-26 11:55] mcollina commented on #775
You have investigated the issue quite well the issue. Would you like to send a PR?

[2018-02-26 13:30] Eric24 commented on #776
@mcollina - Just so I'm sure I understand, does that mean that all messages are immediately puback'ed, independent of my event listener? If so, is there an example somewhere of using handleMessage in this way? None of my searching turned up anything helpful.

[2018-02-26 14:09] mcollina commented on #776
@Eric24 they are puback'ed after all the synchronous event listeners are executed. If you want to delay or wait for some async operation to finish, you need to specificy `handleMessage`  and call the passed callback when you are done.

[2018-02-26 18:11] Eric24 commented on #776
OK. Based on that, I don't think I need to do anything here. There are no async operations in my on-message listener, so the existing puback sequence seems like it will do the job.

[2018-02-26 18:11] #776 closed

[2018-02-27 16:26] Domvel opened #780 "MQTT 5 Support"
Does this library already support the mqtt version 5?
I'm confused about the protocolVersion of 4 in the sources.
Does version 4 ever exists? I thought they jumped to 5 because of an issue to have a integer version in header. Is version 4 == 3.x ?

[2018-02-27 16:44] mcollina commented on #780
4 is 3.1.1.

As stated in https://github.com/mqttjs/MQTT.js/issues/651, I have no time to contribute this. I'd be very supported if anybody wanted to work on it.

[2018-02-27 16:44] #780 closed

[2018-02-27 21:29] anthonyvercolano commented on #765
Looking at this problem a bit.  My thinking is that code such as the following should probably be inserted after line 725 in client.js (at the beginning of  _cleanup).

  if (this.outgoing) {
    this.outgoing.forEach((cb) => {
      cb(new Error('Connection closed'))
    })
  }

I'm not trying to make this a pull request.  Just hoping to hear an opinion as to whether I need to be doing a lot more

[2018-02-27 23:01] aalibasic opened #781 "On internet disconnect client loops: transformWsUrl -> close -> reconnect"
I am have an issue where after disconnecting from the internet for several minutes, then reconnecting mqtt gets stuck in a "close" then "reconnect" loop. The transformWsUrl method keeps getting hit and a new signed url assigned.

This only happens when:
1. Resubscribe: true
2. I have several subscriptions

I am using aws with a signed url.

Does anyone have any suggestion on how I can debug what i

[2018-02-28 15:20] RangerMauve commented on #781
Just to confirm, when you reconnect to the internet, you keep looping?
What's your reconnect interval?

[2018-02-28 15:32] Prasannavk94 opened #782 "Subscribe on QoS 1 message event not triggerring from client"
I am able to connect but not able receive messages
Here is my code

   Client.subscribe('/wo', {qos: 1}, function(err, granted){
	console.log('subscribing', granted);
      });
     Client.on('message', (topic, message) => {
	console.log('yes');
	let res = JSON.parse(message.toString());
	console.log(res);
	Client.end();
     });

[2018-02-28 20:28] aalibasic commented on #781
@RangerMauve - yes when i reconnect to the internet the mqtt client keeps hitting the transformWsUrl -> then closing -> then reconnecting.

AWS show these logs:
`2018-02-28 20:00:43.111 TRACEID:1PRINCIPALID:A [ERROR] EVENT:MQTTClient Subscribe TOPICNAME:/this/testing/bro MESSAGE:Subscribe Status: CLIENT_ERROR`

[2018-02-28 21:15] RangerMauve commented on #781
Does your MQTT server have more information in it's logs? It looks like you're connecting successfully, but the broker is throwing an error when subscribing. Maybe the broker can give more information on why the subscribes are a "client error"

[2018-03-01 04:06] dkebler opened #783 "refactoring for extendable class in the future"
I want to build an extended es6 class but because of the way that you defined `Client`  with it taking an **already connected** socket `streamBuilder` instead of having a connect method(function) I can't extend it in a normal ES6 way.   I ended up doing merge with `this` after the call to connect.  As a result I can't  extend any of the methods in a normal way using `super.` either and ended up wr

[2018-03-01 09:28] mcollina commented on #783
All the code in this repository runs _without babel_ in modern browsers and all Node.js LTS versions. That's a target. I'm very 👎 on using async await and other features that are not widely supported in all LTS lines of Node.js and modern browsers.
Updating Node.js on a raspberry Pi is not super easy, especially on old hardware.

That being said, I would love to see `mqtt.publish()` and others pot

[2018-03-01 09:28] #783 closed

[2018-03-01 10:21] emin93 opened #784 "React Native: Client doesn't connect and no error is emitted"
Hi,

After crawling through various issues, i made it to build a commonjs2 browser variant, which I've used in my React Native application:
`webpack mqtt.js --output-library mqtt --output-library-target commonjs2 --output-filename mqtt-browser.js`

I use it like this:
[code]

Does anybody know what the issue could be? As soon as I can get this fixed, I'll add a guide on how to use this library wit

[2018-03-01 12:59] RangerMauve commented on #784
Could you provide more details like the version of MQTT.js you're using?
Are you seeing _anything_ in your console?
Is this using remote debugging or are you running it from within the app?
Have you followed the thread in #573?

[2018-03-01 14:25] aalibasic commented on #781
@RangerMauve I filed a ticket with aws as this seems to only happen when using aws iot as a broker. Using an aws ec2 instance with mosquito works fine.

Have you guys tested the scenario where:
1. Using aws iot
2. Subscribe to several topics
3. Ensure resubscribe is enabled
4. You disconnect from the internet until the transformWsUrl function gets called
5. From transformWsUrl function return a ne

[2018-03-01 14:26] emin93 commented on #784
MQTT.js version: 2.15.3
React Native version: 0.53.3

JS console: No logs at all
iOS console:
[code]

I am running it from within the app.

I also saw the thread #573 and tried a lot of it, but always when i thought i got one step closer, another error happened.

Steps to reproduce:
1. Create a new empty React Native app (`react-native init MyTestApp`)
2. Install mqtt as a dependency (`npm i mqtt

[2018-03-01 15:05] RangerMauve commented on #781
What does your code look like? Do you have error listeners everywhere?
Sadly when a broker has an error they send a pretty opaque status code and break the connection. "CLIENT_ERROR" is the best we can do because that's all the server can provide us with.
I think MQTT v5 is working towards improving that, but I don't think there's much out there that supports v5 yet.

[2018-03-01 15:07] RangerMauve commented on #784
Try using version 1.14.1 like I said in my post. That's why I have running in prod right now. Haven't had time to investigate why the newer versions weren't working.

[2018-03-01 15:08] RangerMauve commented on #784
Also, I'd suggest trying a local mosquitto broker or something that you can access server logs for more easily.

[2018-03-01 15:18] aalibasic commented on #781
@RangerMauve - it does not hit the error call back it just seems to cycle : close, reconnect, close ....

[2018-03-01 15:24] RangerMauve commented on #781
I think I get what you want.
When we setup a new stream, we don't relay the "error" events to the MQTT client, we just relay the "close" event.

I think a PR that changes [this line](https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L277) to instead pass the "error" event on to the client would be welcome.

That way you can get actual errors for when this happens to help diagnose problem

[2018-03-01 15:28] aalibasic commented on #781
That would be awesome!

[2018-03-01 16:39] rclai commented on #573
Yeah, but I am passing it as a string now and it still needs that weird `global.document` polyfill I did.

[2018-03-01 16:47] RangerMauve commented on #573
I think that might just be something that needs to be done for this to work. Getting stuff that was made for node or for the browser to work in React-Native is a bit of a dark art at the moment. 😅

[2018-03-02 08:12] emin93 commented on #784
Thanks for your comment, it seems like i missed the 1.14.1 part. Now I'm getting a new error `Could not determine host. Specify host manually.`. I looked up in the MQTT.js code why this error gets thrown and it seems like that's the case when `document` is not part of the globals.

I then tried to connect like this, but i still get the same error:
[code]

[2018-03-02 14:32] RangerMauve commented on #784
Cool, glad to see you're making progress!

[2018-03-02 18:21] aalibasic commented on #781
Turns out my issue was with aws iot. They only allow 8 subscriptions in a batch.

[2018-03-02 18:34] RangerMauve commented on #781
Glad you figured it out, I'll keep that in mind next time somebody has issues with subscriptions. :P

Would you mind if I closed this issue for now?

[2018-03-02 19:01] aalibasic commented on #781
Works for me, thanks for the help!

[2018-03-02 19:05] #781 closed

[2018-03-02 20:55] alduxvm opened #785 "Error during WebSocket handshake: Unexpected response code: 404"
I'm using browserify with mqtt, I followed the instructions on the readme file in order to make it...

But when connecting to my broker, I'm getting this error in the console:

`WebSocket connection to 'ws://localhost:8083/' failed: Error during WebSocket handshake: Unexpected response code: 404`

I tested my broker with other applications using WS and it works... Also, testing mqtt.js without bro

[2018-03-02 20:59] RangerMauve commented on #785
I haven't seen that before, actually.

Could you post a code snippet of how you're connecting?

[2018-03-02 21:19] alduxvm commented on #785
of course... I'm using EMQ os broker, the code I use to connect is:

[code]

[2018-03-02 21:21] alduxvm commented on #785
If I try the connection on the console only (no browser), I can connect changing the port from `8083` to `1883`

[2018-03-02 21:24] RangerMauve commented on #785
Please note that the browser version only supports the websocket version of MQTT, make sure your broker supports websockets and that you're using the correct port for websockets.

You also need to set the `protocol` to `ws`

[2018-03-02 21:28] alduxvm commented on #785
yes, I make sure that my broker works with ws, I tried my broker using this client: http://www.hivemq.com/demos/websocket-client/ and the connection works.

I added the protocol option but still no luck...

[2018-03-02 22:00] RangerMauve commented on #785
Which version of MQTT.js are you using?
You're sure that 8083 is the correct port to use?
The error message you posted implies that the webserver you're trying to connect to isn't listening on WS

[2018-03-05 15:57] eharrow opened #786 "ivemq changelog"

[2018-03-05 15:57] #786 closed

[2018-03-05 15:58] eharrow commented on #786
no idea how I opened this please close and delete

[2018-03-06 02:40] hanying98 opened #788 "How to change the domain name of websocket connection?"
Hello!To request, how to modify the domain name of websocket connection instead of the default local http://localhost:3000/?

[2018-03-07 05:02] coloz commented on #774
it,s same error,TypeError: nextTick is not a function
i use `npm update` to update mqtt,then get the error

[2018-03-07 06:00] RameshRM commented on #774
It is the release of `mqtt-packet^5.5.0` causing this issue. I have downgraded to `5.4.0` and that works,

@mcollina Can you check ?

[2018-03-07 06:01] RameshRM commented on #774
@mcollina Pls let me know , what would be causing this i can check and see if i can send a `pr`

[2018-03-07 07:01] mcollina commented on #774
it’s a bug between webpack and yarn, they are caching too much. There is
nothing that is not working here, and I have yet to see a full way to
reproduce.
The “problem” originates from readable-stream. I’ve update mqtt-packet to
help.
Il giorno mer 7 mar 2018 alle 07:01 Ramesh Mahadevan <
notifications@github.com> ha scritto:

[2018-03-07 08:37] jkinghed opened #789 "MQTT.js and shared subscriptions"
Several MQTT brokers are now supporting shared subscriptions (HiveMQ, VerneMQ, EMQ) from the v5 MQTT standard.

The syntax of subscribing to a shared topic seem currently differs based on broker:

**HiveMQ**
`$share:sharename:topic/subtopic/etc` [(details)](https://www.hivemq.com/blog/mqtt-client-load-balancing-with-shared-subscriptions/)

**VerneMQ**
`$share/sharename/topic/subtopic/etc ` [(detai

[2018-03-07 08:39] mcollina commented on #789
Would you like to contribute?  See #651 .

[2018-03-08 07:18] jkinghed commented on #789
Not sure I have the required skills, but I'll try to find time to look into it. Thanks.

[2018-03-08 14:04] zakzag opened #790 "Is there any way to subscribe to particular messages like /house/livingroom/device1 AND /house/bedroom/device2 and process them with separate event handlers using the same client?"
What I mean is, that one client can be subscribed to multiple events, but there's only one message event handler:
`client.on("message", () => {
    // do something
});`

but as much as I understand it responses to all the subscriptions done by method subscribe.
What if I want to respond to different messages with different callback? Should I put ifs into message event handler??
Should I instantiat

[2018-03-08 15:12] RangerMauve commented on #790
What you want is to add a router over top of your MQTT client.

I'd suggest using my [mqtt-emitter](https://github.com/RangerMauve/mqtt-emitter) library to wrap over your client.

Create an MQTT client instance and an MQTTEmitter instance.
Relay events from the MQTT client to the MQTTEmitter

[code]

Then you'll want to listen on new listeners in the MQTTEmitter and subscribe on MQTT topics

[code

[2018-03-08 15:13] #790 closed

[2018-03-08 18:46] pierreca commented on #765
The proposed fix for this is in #787

[2018-03-09 09:19] stephendeyoung opened #791 "Memory leak in mqtt client"
I think I've discovered a memory leak in mqtt.js. Here is an example script:

https://gist.github.com/stephendeyoung/3180ce2ec527332e0ece6eee573e6ecb

Steps to reproduce:

1. Run script with 100 mqtt clients and using the node.js inspector: `NUMBER_OF_CLIENTS=100 node --inspect mqtt-memory-leak.js`
2. Wait for all mqtt clients to connect
3. Take a heap snapshot with the Chrome devtools
4. Wait 5-1

[2018-03-09 09:50] mcollina commented on #791
@stephendeyoung unfortunately I will have no time to investigate this issue for the next few weeks. Feel free to send a pull request if you figure it out.

[2018-03-12 10:15] WilliamHolmes commented on #761
@einargs Another option could be sending a `options` as a function rather than a object. It might be more flexible if others options need changing. ie. expired username/password.

[2018-03-12 15:35] RangerMauve commented on #761
You could define a getter on the options object which returns different credentials every time. 😂

[2018-03-13 15:17] EnricoGiordano1992 opened #792 "Subscribe sometimes doesn't work"
Hi, I have a problem with mqtt subscribe function.
I'm using Ionic 2 and I've imported your library in this way:
`import * as mqtt from 'mqtt'`

my environment:

[code]

This is my code (it's in a singleton class in my code):

[code]

I've noticed that sometimes I don't receive anything from mqtt, in particular, I've seen that this code sometimes doesn't print anything in subscribe callback. What'

[2018-03-13 15:26] RangerMauve commented on #792
In your example, is `mqttClient.subscribe` the same as `self.client.subscribe`?
What version of MQTT.js are you using?
Are you making sure to wait for the connect to happen before trying to subscribe?

[2018-03-13 15:26] RangerMauve commented on #792
Also, which broker are you using?

[2018-03-13 16:47] EnricoGiordano1992 commented on #792
Yes, mqttClient is the same as self.client.

I've added a check to my subscribe function, so my code now is:
[code]

now I see that sometimes I lost connection to my mqtt broker, in fact, I have this error:
[code]

as you see, I try to reconnect with self.client.reconnect() function.

I'm using EMQTT broker.

[2018-03-13 17:01] RangerMauve commented on #792
The client should be automatically reconnecting, manually invoking reconnect may be messing stuff up.
Is your broker giving you logs for why it's closing? Maybe that can give us a clue as to what's happening.
Are you sure your client is authorized to subscribe to those topics?

[2018-03-14 09:12] EnricoGiordano1992 commented on #792
Ok, I removed all "reconnect" in my code.

I have noticed that mqtt client stop to receive data when in server log appeared this string:

09:08:34.699 [error] WsClient(157.27.147.80:45719): Unexpected Info: {'EXIT',<0.16664.508>,{shutdown,conflict}}

What does it mean?

[2018-03-14 18:59] RangerMauve commented on #792
I'm not sure to be honest. I think that's something you'll need to ask the authors of the broker.

[2018-03-15 10:41] EnricoGiordano1992 commented on #792
solved: I accidentally used the same client id for my devices, so did not work for that. Thanks for the support!

[2018-03-15 10:41] #792 closed

[2018-03-15 13:51] RangerMauve commented on #792
Awesome, glad you figured it out! I'll try suggesting this earlier next time someone has a problem. :P

[2018-03-15 14:03] erezhdd opened #793 "Two clients in the same program, sending one message, only one reception."
**Environment:** MQTT.js v2.16.0, Ubuntu 16.04.4, Mosquitto v1.4.15 on localhost
**Problem:** Created two clients using default configuration, subscribed to the same topic. One client publishes a message to the same topic. Only that client receives it. The other client doesn't receive it.
**Reproduce:**  using sample code as following:

[code]

**Observed output:**

[code]

[2018-03-15 14:17] RangerMauve commented on #793
You need to make sure both of them have succesfully subscribed before trying to publish.

You'll need to modify your code to look something like

[code]

[2018-03-17 13:53] eharrow commented on #749
For the record I am experiencing the same issue.  We use AMQ as well (5.14.5) and had not noticed the issue in test and dev as we use docker compose and made our mqtt client services dependent on AMQ which when it was restarted they were as well (I think).

In our case we have perhaps 500+ topics and subscribe on the consuming side using wildcards so reuse is not onerous.  I have added the work ar

[2018-03-17 19:09] leibovitzgil opened #794 "error getting JSON string as subscriber"
is there a way to receive json string when subscribing to a topic? for some reason i keep getting thrown away from application when receiving a JSON.
i tried to manipulate the string with JSON.parse() and JSON.stringify() with no success
btw, i'm using mqtt-react.
thanks.

[2018-03-17 21:18] #794 closed

[2018-03-18 14:22] chinds185a commented on #364
same problem here, using with cloudMQTT I always receive the message I published when i connected and thats it.

[2018-03-20 05:46] Franco-Poveda commented on #364
@AdamMiltonBarker witch js client library worked for you?

[2018-03-21 14:39] Diamundo opened #795 "Broker keeps sending retained message?"
Hi, I've written a (for now) tiny piece of MQTT code in Node.js, to receive topics and print them to the console. See below.

Problem: I receive the same retained message every 30m40s roughly.
I've added a QOS option of 2, which didn't help either, so now I'm thinking it's got something to do with:

- the client timing out and reconnecting every 30m40s, upon which the retained message is sent; or

[2018-03-22 15:02] suculent opened #796 "Question: Using with nodejs 4.3.1"
Hello,

we're doomed to use nodejs 4.3.1 (onion.io; 128MB RAM; 580MHz). Which version of MQTT.js would be running with that? Thanks

[2018-03-22 15:03] mcollina commented on #796
I think the latest one should still run fine. Let us know!

[2018-03-22 15:09] suculent commented on #796
It doesn’t due to the stream-completion  dependency. Even with disabled streaming env-var.

Odesláno z iPhonu

22. 3. 2018 v 16:03, Matteo Collina <notifications@github.com>:

[2018-03-22 15:11] mcollina commented on #796
our tests are currently passing on 4.3.2 (https://github.com/mqttjs/MQTT.js/blob/master/.travis.yml#L6). I expect it to work on 4.3.1 as well.

What are you executing and with what output?

[2018-03-22 19:22] suculent commented on #796
https://github.com/nodejs/readable-stream/issues/326

[2018-03-22 19:26] #796 closed

[2018-03-23 10:17] Diamundo commented on #795
Update: I've now switched to a different public broker (broker.hivemq.com) and done the same trick, albeit slightly different topics (but the same channels "one" and "two"), and at first glance the issue now seems to be fixed. Perhaps the issue was with the broker - though trough a [Windows Application MQtt.fx v1.6.0](http://mqttfx.jensd.de/) I'm also subbed to the old broker and that doesn't repe

[2018-03-23 10:31] mcollina commented on #795
Awesome news!

[2018-03-23 10:31] #795 closed

[2018-03-23 12:36] Diamundo commented on #795
I've given it some more thought, and I've come up with the following thought pattern:
- A client has a sort of timeout time set, with a default of 30 minutes.
- After these 30 minutes, the client times out.
- Since I don't give any sort of identification, I'm anonymous
- Since I do reconnect, I'm another anonymous client and receive the retained messages
- The additional ~40 seconds come from the

[2018-03-23 14:09] karlp commented on #795
do you actually have a 30 minute keepalive?  are you sure you're connection is actually still alive?  that's going to have been killed by most tcp cleanup I would have thought.

[2018-03-27 07:00] mkamrani opened #797 "MqttClient sends the one before last message!"
Hi. In my code which is a handler (serverless framework) I push a message to RabbitMQ but the problem is that when I send the first message, the subscribers don't receive anything and with the second one they receive just the first message and the same happens for the rest (when I send a message the previous one is delivered!). Any Idea?

**Edit:** I have replaced the actual code with a very basic

[2018-03-27 10:42] andonivianez commented on #784
Hi!
I´ve put everything working on React Native´s 0.54.2 version, but I´m having an issue that maybe you had on your iteration...:
I put the connect method like this:
`        let url = '192.168.1.108';
        let mqtt    = require('mqtt');
        let client  = mqtt.connect({
            servers: [{ host: url, port: 1883 }],
            keepalive: 60,
            protocol: 'mqtt',
        });`
B

[2018-03-27 10:44] andonivianez commented on #573
Hi!
I´ve put everything working on React Native´s 0.54.2 version, but I´m having an issue that maybe you had on your iteration...:
I put the connect method like this:
`        let url = '192.168.1.108';
        let mqtt    = require('mqtt');
        let client  = mqtt.connect({
            servers: [{ host: url, port: 1883 }],
            keepalive: 60,
            protocol: 'mqtt',
        });`
B

[2018-03-27 13:36] andonivianez opened #798 "React Native MQTT via TCP"
Hi!
I´ve put everything working on React Native´s 0.54.2 version, but I´m having an issue that maybe you had on your iteration...:
I put the connect method like this:
[code]

But on React Native´s console, when I debug the MqttClient, I got this:
captura de pantalla 2018-03-27 a las 12 39 06
It looks like is not getting the options I´m passing to the client...how can I fix it? Did you get working

[2018-03-27 22:02] mkamrani commented on #797
I had to call client.end after publishing the message.

[2018-03-27 22:02] #797 closed

[2018-03-28 19:18] RangerMauve commented on #798
I don't think we can get this module to work with the TCP version of MQTT due to React-Native not supporting the `net` module that we need for node.js.

You might be able to mess around with aliasing to alias `net` as [react-native-tcp](https://github.com/PeelTechnologies/react-native-tcp).

You'll want to modify the [package.json](https://github.com/mqttjs/MQTT.js/blob/master/package.json#L59) in

[2018-03-29 14:55] matteoPhre opened #799 "Two instances of client, the one who publish disconnect after every pub"
Hi all!
First of all, congratulations for the extraordinary work you do and keep doing.
I have got a problem: I want to instantiate two clients that connect to two different brokers (the first gets the messages, the second ones publish the message after aggregations and manipulations). The problem is that the second one, every time it publishes a message, disconnects and reconnects.

These are the

[2018-03-29 14:56] mcollina commented on #799
I think your username/password/clientId combination has no right to publish to the second broker.

[2018-03-29 14:58] RangerMauve commented on #799
Do you have logs from your second broker that might indicate why the client is disconnecting?

[2018-03-29 14:59] matteoPhre commented on #799
@mcollina No, I'm actually able to send messages. I can see the messages published in the cloud platform.
@RangerMauve Is possible to enable full log on mqtt?

[2018-03-29 15:01] RangerMauve commented on #799
Sadly the MQTT protocol doesn't give any readable logs when things go wrong, so errors are better tracked  in the broker's logs.

Can you show us the code you're using for publishing the messages?

[2018-03-29 15:05] matteoPhre commented on #799
I can not check logs because I do not have control. I can only see published data that reach the broker in the cloud, and actually, they arrive.

[2018-03-29 15:13] RangerMauve commented on #799
Could you post more of the code to do with `cleintThing`? It's hard to analyze what's happening with just that. Do you have any errors that pop up when it disconnects? Can you show us the code you have that detects that the client has disconnected?

[2018-03-29 15:33] matteoPhre commented on #799
@RangerMauve I can see that second client disconnect from listeners on 'offline','disconnected','reconnecting' that logs simple messages. I cannot check what goes wrong.
I'm asking at Cloud Platform Owner to give me access to check logs.

[2018-03-30 15:49] DirkHeinke commented on #448
I had the same problem with mosquitto 1.4.14 but it is fixed with 1.4.15

[2018-04-03 08:20] matteoPhre commented on #799
FYI I've fixed the issue with these configs:

[code]
Now the client is always connected, even after publication.
Thanks anyway for the support.

M.

[2018-04-03 09:21] matteoPhre commented on #799
Incredible but it only worked for a short time. now go back to disconnecting.

[2018-04-03 14:34] RangerMauve commented on #799
Glad you figured it out! Any idea what the problem was in the end?

[2018-04-03 14:49] aravind08 commented on #774
test

[2018-04-05 20:29] jungkumseok commented on #579
Hi guys, first of all thanks for this awesome library :)

I'm not sure if this is a "bug" or is expected behaviour, but I observed the same effect while using the lib in an object-oriented way. I believe the effect is indeed caused by a race condition between the `mqtt.connect()` and `client.end()` calls. See example below:

[code]

Running this example, almost all the time (100/100 times in my qu

[2018-04-07 08:29] yellgreniff opened #800 "can't connect to server"
[code]
this is my options object. I can't seem to connect to mqtt client.
client.on connect isn't printing anything in the callback.
Also, I checked the lib/connect/index.js, it is looking for some attribute called protocol and cert and key. Are those needed? if so, what are they and how can I get them?

[2018-04-07 08:31] yellgreniff commented on #800
var client = mqtt.connect(`mqtt://m14.cloudmqtt.com`, options);
this is how i connect to it

[2018-04-07 08:51] yellgreniff commented on #800
nvm, i didn't specify the port, now it works

[2018-04-07 08:51] #800 closed

[2018-04-08 10:39] aaamitsingh opened #801 "unsubscribe topic is not working.."
I'm not getting any error but after unsubscribe also getting message from that topic. Here is my code
[code]

[2018-04-08 16:54] ASwingler opened #802 "Retrieving ClientID on message receipt"
I'd like to have the clientId available when I receive a message. I don't see that field in the packet. Is there another way to retrieve the clientId during a message receipt event?
- Andrew.

[2018-04-08 21:59] yeiniel opened #803 "mqtt package on NPM include test, examples, documentation, etc."
When a dependency is installed what i expect is the code that implement the feature and not example code or tests. May be i'm in the wrong in this one?

This affect mqtt package version 2.17.0 on NPM.

[2018-04-08 22:17] mcollina commented on #803
In fact I expect the exact opposite, to have all code and examples. More often than not, I use those to get info about the module.

[2018-04-08 22:17] #803 closed

[2018-04-08 22:30] yeiniel commented on #803
I'm sorry if i create this issue and forgive me if i'm not expressing my self correctly. English is not my mother tongue. But you distribute a package on NPM and NPM is intended to distribute code, not examples and certainly not howto to test your package. Additionally you have close this issue without discussion at all. You do not ask why this is a problem for me (a user). It's a shame you close

[2018-04-09 05:49] mcollina commented on #803
Because it is not. Some of the most downloaded modules do include tests and examples. Some of the most downloaded modules do not include those.

You open this issue not saying why this is a problem for you, and you hint you could be wrong. It did not seems you wanted a discussion, but a generic question about this module and npm.

[2018-04-09 08:02] mcollina commented on #801
Can you please upload a full example? Consider that this is likely your code or your broker problem.

[2018-04-09 08:59] aaamitsingh commented on #801
Thanks for your quick reply @mcollina. Let me explain the case.
1. I have subscribed to a particular topic i.e 'test/1234/status' then published message from MqttBox and I have successfully received the message.

2. Then After sometime I have unsubscribed the topic 'test/1234/status' by below code but still I'm getting messages to that topic.
[code]
Can you please tell me what I'm doing wrong or t

[2018-04-09 09:00] aaamitsingh commented on #791
Any update on this issue?

[2018-04-09 10:16] AlexanderKai commented on #483
@TangMonk
Hello.
I catched that problem too.
Can you send me solution for fix this issue?
Thanks.

[2018-04-09 10:26] mcollina commented on #801
As I said, can you please upload a __full example__?

[2018-04-09 14:27] RangerMauve commented on #791
Nothing so far, I don't think anyone has looked into it in detail. If you have time, you could help by running a node process and using the new [inspector](https://nodejs.org/en/docs/guides/debugging-getting-started/) feature to take memory snapshots to find where the leak is happening.

[2018-04-09 14:29] RangerMauve commented on #802
Hi, are you talking about the client-side? The messages you're receiving are from the broker, not a client.

The MQTT protocol doesn't allow for a clientID within messages. If you need to tag messages with an origin, either put that in the topic string or as part of the message contents.

[2018-04-09 15:30] yeiniel commented on #803
Again. Sorry for the communication issues.

When i say "May be i'm in the wrong in this one?" i was just opening the possibility to discuss any opinions on the subject. So if you have a different opinion i appreciate you expose it as you did above. But may be you should wait for the opinions of other interested parties because i'm not the only user of this package.

Additionally i must say that th

[2018-04-09 15:44] sublimator commented on #803
Matteo, you need break

[2018-04-09 15:46] mcollina commented on #803
@sublimator I know.

[2018-04-09 15:52] sublimator commented on #803
Take one. If it makes you feel better I broke my toe today kicking a door
between myself and a mother beating ... child ...

All this will wait

[2018-04-09 16:46] chrste90 opened #804 "Don't rely on node built-ins"
I'm trying to use mqtt.js in an angular v6 app.

The problem is that mqtt.js uses process which doesn't exist in a browser environment.
In older versions of angular the cli provided node-shims to get it working but as of v6 it doesn't do it anymore. See https://github.com/angular/angular-cli/issues/9827#issuecomment-369578814 for more context.

It would be nice if mqtt.js wouldn't rely on node bui

[2018-04-09 21:10] ASwingler commented on #802
Thanks for the response RangerMauve. I was indeed talking about client-side messaging. I understand the messages are coming from the broker - I was hoping that the broker would be able to pass the clientId of the publisher when a subscriber receives a message.
You're right that I could include the information in the payload and indeed I already do. I was hoping to be able to validate the payload a

[2018-04-09 21:10] #802 closed

[2018-04-09 21:47] ASwingler commented on #802
Some good ideas there. I do already have authentication (and TLS) and a unique portion of the Client ID is already included in the topic.

I'll check out mqtt-emitter. Looks like an interesting project.

[2018-04-10 14:37] chrste90 commented on #804
@mcollina Oh, you are right, there are some more problematic dependencies. If i start an angular app, i get this error:
[code]

So i think the main problematic dependency is readable-stream (Or their dependency process-nextick-args). Do you know if it is possible to replace readable-stream with another dependency or should i try to bring up the error on their site? But if i look at their repo: htt

[2018-04-10 15:13] mcollina commented on #804
`setTimeout` has a completely different meaning than `process.nextTick`, and it would a _very slow_ replacement for Node.js.

I don't think we can easily change the behavior in readable-stream, but we can specify a browser field in `process-nexttick-args` package.json, to avoid using `process` in the browser.

These are executables for Node.js, it should stay as it is.

[2018-04-10 15:19] chrste90 commented on #804
Okay i don't exactly understand what you mean by this. Is it something that can be done in this repo or should it be changed in process-nexttick-args?

Any other ideas what can be done with `process.nextTick()`?

[2018-04-10 15:24] RangerMauve commented on #804
Ideally it should be replaced by the [asap](https://www.npmjs.com/package/asap) module that handles environment differences gracefully.

[2018-04-10 15:27] mcollina commented on #804
We can't use that module because the behavior is different in Node.js. However, we can use the same technique that's in there to not use `process` in there.

[2018-04-10 15:31] chrste90 commented on #804
Is it something you can do? I'm not very familiar with either one or the other, so it would be very hard for me do make the right changes and don't break anything in this lib.

[2018-04-10 15:34] mcollina commented on #804
I've absolutely not bandwidth to do this.

[2018-04-10 15:37] chrste90 commented on #804
Okay, then i will need to find some time and make it working somehow.

For the Readable-Streams: Do you think it can be possible to change to https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream/ReadableStream or does the stream api behave differently than the readable-stream package which is used now?

[2018-04-10 15:44] chrste90 commented on #804
I also did some quick research and found out that the best alternative in browser for `nextTick()` should be `Promise.resolve().then()`.

What about making a switch: In browser use `Promise.resolve().then()` and in an node environment `process.nextTick()`?

[2018-04-11 18:03] ptone opened #806 "pass packet or packet.messageId to publish callback?"
I'm not sure how this could be done without a breaking API change.  But if I want to take some action where I want to mark a message in a system as published. I have no way of connecting the message published to the callback.

This would require changes to the publish method to return the messageId (which it has access to) and the callback to receive the message callback.

I could find no issues a

[2018-04-11 20:46] mcollina commented on #806
why? The callback is always called for the message you have published.

[2018-04-12 14:03] spydmobile commented on #785
What ever happend to this, I have the exact same issue I have EMQ Broker that works with everything except this lib via websockets, gives the same error as OP.

[2018-04-12 14:15] RangerMauve commented on #785
I'm not sure. Are you able to inspect what URLs other libraries are using to connect to the broker? Maybe it's the trailing `/` that's causing a problem.

[2018-04-12 16:16] spydmobile commented on #785
:( ok, what client js mqtt did you switch to?

[2018-04-12 17:17] spydmobile commented on #785
ok, I just rewrote using Paho, and it worked, but I would rather work to get mqttjs working...

[2018-04-12 18:27] spydmobile commented on #785
@RangerMauve yes quite likely. this lib has no problems connecting to EMQ from the node side, only the browser side.

[2018-04-13 23:13] 4rzael commented on #806
This is not required. If you want this functionality, you could go with something like that:
[code]

This way, the function defined in the publish callback can have access to your message. (Note that you actually need to check the error parameter)

[2018-04-13 23:35] mcollina commented on #804
@sclausen unfortunately it's not possible for two reasons. Firstly, promises wrap every function in a try-catch, changing how error would work. Secondly, Promise is not available in all the supported of readable-stream.

The approach with `setTimeout` is fine. There is a need for a browser field in package.json to instruct to use that in the browser, so we can avoid to load `process`  completely.